<template>
  <div class="collection-name" :class="$mq">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-2 flex flex-center">
        <div class="ava">
          <router-link :to="collection.user.slug">
            <q-avatar size="80px" class="shadow-2">
              <img :src="collection.user.avatarImage">
            </q-avatar>
          </router-link>
          <div class="count">{{collection.countItems}} фильмов</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-10 flex self-center">
        <h1>{{collection.name}}</h1>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'CollectionName',

    props: {
      collection: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .collection-name
    &.xs
    &.sm
      text-align center
      h1
        width 100%
    .ava
      margin-bottom 10px
    h1
      font-size 16px
      margin-bottom 20px
      width 80%
</style>
