<template>
  <div class="collections-block-site" v-if="Object.keys(collectionsList).length">
    <div class="row q-col-gutter-md q-mb-md flex flex-center">
      <div class="col-xs-12 col-sm-4 col-md-3 col-3" v-for="item,k in collectionsList.data">
        <movies-collections-card-item :item="item" :key="k"/>
      </div>
    </div>
    <div class="text-center" v-if="collectionsList.has_more_pages">
      <q-btn @click="loadMore" :loading="loading" flat label="Показать еще" style="font-size: 12px"><chevron-down-icon class="q-ml-sm" size="1.2x"/></q-btn>
    </div>
  </div>
</template>

<script>
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });
  import {mapActions} from 'vuex'
  import MoviesCollectionsCardItem from "../movies/MoviesCollectionsCardItem";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";

  export default {
    name: 'CollectionsBlockSite',
    components: {ChevronDownIcon, MoviesCollectionsCardItem},
    computed:{
      ...mapFields('collections', ['collectionsList']),
    },

    data() {
      return {
        form: {
          per_page: 8,
          current_page: 1,
        },
        loading: false,
      }
    },

    methods: {
      ...mapActions('collections', ['getCollectionsList']),
      loadMore(){
        this.form.current_page += 1;
        this.loading = true;
        this.getCollectionsList(this.form).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        });
      }
    },

    created(){
      this.getCollectionsList(this.form);
    }
  }
</script>

<style lang="stylus" scoped>
  .collections-block-site
    margin-bottom 20px
</style>
