<template>
  <div class="catalog-chips-pm">
    <span :class="{active: selected.includes('all')}" @click="setAll">
    <label>{{emptys}}</label>
    </span>
    <span v-for="item,k in options" :class="[{active: selected.includes(item.name)}, g]">
    <i class="p" @click="setSelect(item.name)">+</i>
      <label>{{item.name}}</label>
    <i class="m" @click="unsetSelect(item.name)">-</i>
    </span>
  </div>
</template>

<script>
  export default {
    name: 'CatalogChipsPM',

    props: {
      options: {
        type: [Array, Object],
        default: () => [],
      },
      g: {
        type: String,
        default: null,
      },
      value: {
        type: [Array, Object],
        default: () => [],
      },
      emptys: {
        type: String,
        default: 'Все',
      }
    },

    data() {
      return {
        selected: [],
        clk: 0,
      }
    },

    methods: {
      setSelect(k) {
        if (this.selected.includes('all')) {
          this.selected.splice(this.selected.indexOf('all'), 1);
        }
        if (!this.selected.includes(k)) {
          this.selected.push(k)
        }
        else {
          this.selected.splice(this.selected.indexOf(k), 1)
        }
        this.$emit('onSetG', 'in')

      },
      unsetSelect(k){
        if (this.selected.includes('all')) {
          this.selected.splice(this.selected.indexOf('all'), 1);
        }
        if (!this.selected.includes(k)) {
          this.selected.push(k)
        }else {
          this.selected.splice(this.selected.indexOf(k), 1)
        }
        this.$emit('onSetG', 'notin')
      },
      setAll() {
        this.selected = [];
        this.selected.push('all');
        this.$emit('onSetG', null)
      }
    },

    // watch: {
    //   selected(vals) {
    //     this.$emit('input', vals);
    //   }
    // },

    mounted() {
      if (this.value.length) {
        this.selected = this.value;
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .catalog-chips-pm
    display flex
    flex-wrap wrap
    span
      border 1px solid $grey-5
      display flex
      align-items center
      justify-content center
      border-radius 20px
      cursor pointer
      height 30px
      margin-right 5px
      margin-bottom 5px
      line-height 1.1
      label
        padding 0 5px
        cursor pointer
      i
        font-style normal
        height 30px
        width 30px
        display flex
        align-items center
        justify-content center
        border-radius 50%
        &.p
          background #B6F7BC
        &.m
          background #FFA2C9
      &:hover
        background $grey-3
      &.active
        //background var(--q-color-primary)
        background #B6F7BC
        color white
      &.in
        background #FFA2C9
        &.active
          background #B6F7BC
      &.notin
        background #B6F7BC
        &.active
          background #FFA2C9
</style>
