<template>
  <div class="catalog-filter-mobile">
    <q-dialog v-model="value" @hide="onHide">
      <q-card style="max-width: 350px">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Фильтры</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section class="q-pt-none">
          <catalog-filter-container/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
  import CatalogFilterContainer from "./CatalogFilterContainer";
  export default {
    name: 'CatalogFilterMobile',
    components: {CatalogFilterContainer},
    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    methods: {
      onHide() {
        this.$emit('input', false);
      }
    },
  }
</script>

<style lang="stylus" scoped>

</style>
