<template>
  <div class="catalog-movies-container">
      
  </div>
</template>

<script>
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });

  export default {
    name: 'CatalogMoviesContainer',

    computed: {
      ...mapFields('movies', ['movies']),
    },
  }
</script>

<style lang="stylus" scoped>

</style>
