<template>
  <div class="catalog-chips-select">
    <span :class="{active: selected.includes('all')}" @click="setAll">{{emptys}}</span>
    <span v-for="item,k in options" :class="{active: selected.includes(item.name)}" @click="setSelect(item.name)">{{item.name}}</span>
  </div>
</template>

<script>
  export default {
    name: 'CatalogChipsSelect',

    props: {
      options: {
        type: [Array, Object],
        default: () => [],
      },
      value: {
        type: [Array, Object],
        default: () => [],
      },
      emptys:{
        type: String,
        default: 'Все',
      }
    },

    data() {
      return {
        selected: []
      }
    },

    methods: {
      setSelect(k){
        if(this.selected.includes('all')){
          this.selected.splice(this.selected.indexOf('all'), 1);
        }

        if(!this.selected.includes(k)){
          this.selected.push(k)
        }else {
          this.selected.splice(this.selected.indexOf(k), 1)
        }
      },
      setAll(){
        this.selected = [];
        this.selected.push('all');
      }
    },

    watch:{
      selected(vals){
        this.$emit('input', vals);
      }
    },

    mounted(){
      if(this.value.length){
        this.selected = this.value;
      }
    }

  }
</script>

<style lang="stylus" scoped>
  .catalog-chips-select
    display flex
    flex-wrap wrap
    span
      border 1px solid $grey-5
      display flex
      align-items center
      justify-content center
      padding 5px 15px
      border-radius 20px
      cursor pointer
      height 30px
      margin-right 5px
      margin-bottom 5px
      line-height 1.1
      &:hover
        background $grey-3
      &.active
        //background var(--q-color-primary)
        background #B6F7BC
        color white
</style>
