<template>
  <div class="catalog-filter-container">
    <div class="catalog-filter-container_content flx">
      <q-radio v-model="filterForm.filter" val="all" label="Все фильмы" />
      <q-radio v-model="filterForm.filter" val="recommendations" label="Рекомендации" />
      <q-radio v-model="filterForm.filter" val="popular" label="Популярные" />
      <q-radio v-model="filterForm.filter" val="novelty" label="Новинки" />
      <q-radio v-model="filterForm.filter" val="expect" label="Ожидаемые" />
    </div>
    <q-separator/>
    <div class="catalog-filter-container_content">
      <q-checkbox v-model="filterForm.hideWithLikes" label="Скрыть отмеченные" />
    </div>
    <q-separator/>
    <div class="catalog-filter-container_content likes">
      <label>Лайки</label>
      <q-range
        v-model="filterForm.rating"
        :min="0"
        :max="100"
        :step="1"
        :left-label-value="filterForm.rating.min + '%'"
        :right-label-value="filterForm.rating.max + '%'"
        label-always
        color="primary"
      />
    </div>
    <q-separator/>
    <div class="catalog-filter-container_content">
      <div class="row">
        <div class="col-2 flex self-center">
          <label style="margin-bottom: 0">Год</label>
        </div>
        <div class="col-10">
          <div class="year">
            <div class="row q-col-gutter-sm">
              <div class="col-6">
                <q-input v-model="filterForm.year.from" :debounce="1500" placeholder="от"  outlined dense class="bg-white" style="margin-bottom: 0"/>
              </div>
              <div class="col-6">
                <q-input v-model="filterForm.year.to" :debounce="1500" placeholder="до"  outlined dense class="bg-white q-mb-none" style="margin-bottom: 0"/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <q-separator/>

    <q-expansion-item
      label="Жанры"
      header-class="text-bold q-pl-none"
      group="somegroup"
      v-if="Object.keys(items).length"
    >
     <div class="q-pa-sm">
       <q-option-group
         :options="[{label: 'Стандартная сортировка', value: 1}, {label: 'Включить/исключить жанр', value: 2}]"
         type="radio"
         v-model="gsort"
         class="q-mb-md"
       />
       <catalog-chips-select v-if="gsort === 1" v-model="filterForm.genre" emptys="Все жанры" :options="items.genre"/>
       <catalog-chips-p-m v-if="gsort === 2" v-model="filterForm.genre" @onSetG="setG" emptys="Все жанры" :options="items.genre" :g="filterForm.g"/>
     </div>
    </q-expansion-item>
    <q-separator/>
    <q-expansion-item
      label="Страны"
      header-class="text-bold q-pl-none"
      group="somegroup"
      v-if="Object.keys(items).length"
    >
      <div class="q-pa-sm">
        <catalog-chips-select v-model="filterForm.country" :options="items.country"/>
      </div>
    </q-expansion-item>
    <q-separator/>
    <div class="text-center q-pa-md">
      <q-btn color="primary" no-caps class="text-bold full-width" @click="$root.$emit('onFilter')" label="Искать"/>
    </div>
  </div>
</template>

<script>
  import CatalogChipsSelect from "./CatalogChipsSelect";
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });
  import {mapActions} from 'vuex'
  import CatalogChipsPM from "./CatalogChipsPM";

  export default {
    name: 'CatalogFilterContainer',

    components: {CatalogChipsPM, CatalogChipsSelect},

    data() {
      return {
        items: {},
        gsort: 1,
      }
    },

    computed: {
      ...mapFields('movies', ['filterForm']),
    },

    methods: {
      ...mapActions('movies', ['updateF', 'getMoviesFilter']),
      setG(val){
        this.filterForm.g = val;
      }
    },

    watch: {
      'filterForm.filter': function (val) {
        this.$router.push(`/catalog/${this.$route.params.catalog}/${val}`);
      },
    },
    created(){
      this.getMoviesFilter().then(respotse => {
        this.items = respotse;
      });
    }
  }
</script>

<style lang="stylus" scoped>
  .catalog-filter-container
    background white
    padding 15px 20px
    border-radius 4px
    box-shadow $shadow-4
    .flx
      display flex
      flex-direction column
    &_content
      padding 10px 0
      label
        font-weight bold
        display block
        margin-bottom 10px
    .likes
      label
        margin-bottom 20px
</style>
