<template>
  <div class="ff-container">
    <div class="hart">
      <h1>Свидание</h1>
    </div>
    <ff-random-films/>
  </div>
</template>

<script>
  import FfRandomFilms from "./FfRandomFilms";
  export default {
    name: 'FfContainer',
    components: {FfRandomFilms},
  }
</script>

<style lang="stylus" scoped>
  .ff-container
    min-height 680px
    padding 50px 0
    .hart
      mask url("/img/hart.svg") no-repeat  center 0
      -webkit-mask url("/img/hart.svg") no-repeat  center 0
      height 580px
      background-color var(--q-color-primary)
      position absolute
      left 0
      bottom 0
      top 0
      box-sizing border-box
      width 100%
      margin-top 20px
      h1
        text-transform uppercase
        text-align center
        color white
        position relative
        padding-top 150px
        font-size 80px
    .ff-random-films
      margin-top 320px
</style>
