<template>
  <div class="ff-films">
    <q-separator/>
    <b class="npr" v-if="!films.length">Выберите два фильма. Мы объединим их, чтобы показать рекомендации, которые вам понравятся!</b>
    <movies-carousel2 v-if="films.length" :items="films" @onCurrent="onCurrent"/>
    <q-separator v-if="films.length"/>
    <ff-film v-if="films.length" :item="films[current]"/>
  </div>
</template>

<script>
  import MoviesCarousel2 from "../movies/MoviesCarousel2";
  import FfFilm from "./FfFilm";
  export default {
    name: 'FfFilms',
    components: {FfFilm, MoviesCarousel2},
    props: {
      films: {
        type: Array,
        default: () => [],
      },
    },

    data() {
      return {
        current: 0
      }
    },

    methods: {
      onCurrent(k) {
        this.current = k;
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .ff-films
    padding 20px 0
    .npr
      text-align center
      padding 50px
      display block
    .movies-carousel
      padding-top 20px
</style>
