<template>
  <div class="ff-film">
    <div class="row q-col-gutter-md">
      <div class="col-2">
        <q-img class="im" :src="item.bigPosterURL"/>
      </div>
      <div class="col-10">
        <h2>{{item.nameRU}}</h2>
        <div class="ff-film_category">{{item.year}}<span class="bull">•</span>{{item.nameEN}}</div>
        <div class="ff-film_list">
          <div class="ff-film_list-item"><label>Страна:</label>{{item.country}}</div>
          <div class="ff-film_list-item"><label>Жанр:</label>{{item.genre}}</div>
          <div class="ff-film_list-item"><label>Премера:</label>Мир - {{item.rentData.premiereWorld}}, РФ - {{item.rentData.premiereRU}}</div>
          <div class="ff-film_list-item"><label>Бюджет:</label>{{item.budgetData.budget}}</div>
          <div class="ff-film_list-item"><label>Режиссер:</label>{{item.director.nameRU}}</div>
        </div>
        <div class="description">{{item.description}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FfFilm',

    props: {
      item: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .ff-film
    padding 20px 0
    .im
      width 200px
      height 300px
      vertical-align middle
      box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
      border-radius 3px
    h2
      margin-bottom 0
    &_category
      margin-bottom 20px
      .bull
        padding 0 5px
    &_list
      margin-bottom 30px
    &_list-item
      margin-bottom 5px
      label
        font-weight bold
        margin-right 5px
</style>
