<template>
  <div class="ff-no-film">
    <p>{{label}}</p>
  </div>
</template>

<script>
  export default {
    name: 'FfNoFilm',

    props: {
      label: {
        type: String,
        default: 'Ваш фильм'
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .ff-no-film
    height 250px
    width 300px
    display flex
    align-items center
    justify-content center
    background var(--q-color-primary)
    border-radius 4px
    opacity 0.8
    box-shadow $shadow-5
    p
      color white
      font-weight bold
      font-size 24px
</style>
