<template>
  <div class="ff-random-films">
    <div class="row">
      <div class="col-5 flex justify-end">
        <ff-no-film v-if="!Object.keys(f1).length"/>
        <movies-grid-card v-if="Object.keys(f1).length" :item="f1"/>
      </div>
      <div class="col-2 flex justify-center flex-center">
        <div>
          <q-icon name="add" :class="{anim: spin}"  class="text-white" size="100px"/>
        </div>
      </div>
      <div class="col-5">
        <ff-no-film v-if="!Object.keys(f2).length" label="Их фильм"/>
        <movies-grid-card v-if="Object.keys(f2).length" :item="f2"/>
      </div>
    </div>
    <div class="row">
      <div class="col-5 flex justify-end btm">
        <ff-select-movie v-model="film1" @onBlur="onBlur" :index="0"/>
      </div>
      <div class="col-2 flex justify-center flex-center btm">
        <div class="text-center">
          <b>Или попробуйте</b>
          <q-btn label="Случайный выбор" @click="random" color="primary" no-caps class="text-bold text-white"/>
        </div>
      </div>
      <div class="col-5 flex justify-start btm">
        <ff-select-movie v-model="film2" @onBlur="onBlur" :index="1"/>
      </div>
    </div>
    <div class="row" v-if="show">
      <div class="col-12">
        <ff-search-result v-model="results" :loading="loading" @onSet="onSet"/>
      </div>
    </div>
    <!---->
    <ff-films :films="films"/>
  </div>
</template>

<script>
  import FfNoFilm from "./FfNoFilm";
  import FfSelectMovie from "./FfSelectMovie";
  import FfFilms from "./FfFilms";
  import FfSearchResult from "./FfSearchResult";
  import {mapActions} from 'vuex'
  import MoviesGridCard from "../movies/MoviesGridCard";

  export default {
    name: 'FfRandomFilms',
    components: {MoviesGridCard, FfSearchResult, FfFilms, FfSelectMovie, FfNoFilm},
    data() {
      return {
        film1: null,
        film2: null,
        show: false,
        loading: false,
        results: [],
        current: null,
        f1: {},
        f2: {},
        spin: false,
        films: [],
      }
    },

    watch: {
      film1(newValue, oldValue) {
        if (newValue && newValue.length > 1) {
          this.show = true;
          this.current = 'f1'
          this.getData(newValue)
        }

      },
      film2(newValue, oldValue) {
        if (newValue && newValue.length > 1) {
          this.show = true;
          this.current = 'f2'
          this.getData(newValue)
        }
      },
      f1(newValue) {
        if (Object.keys(newValue).length && Object.keys(this.f2).length) {
          this.getFilms();
        }
      },
      f2(newValue) {
        if (Object.keys(newValue).length && Object.keys(this.f1).length) {
          this.getFilms();
        }
      }
    },

    methods: {
      ...mapActions('movies', ['getMovieFFSearch', 'getMovieFF', 'getMovieFFRandom']),
      getData(q) {
        this.loading = true;
        this.getMovieFFSearch({search: q, type: this.$route.params.type}).then(response => {
          this.loading = false;
          this.results = response;
        }).catch(err => {
          this.loading = false;
        })
      },
      onBlur() {
        if (!this.results.length) {
          this.show = false;
        }
      },
      onSet(item) {
        if (this.current === 'f1') {
          this.f1 = item;
        }
        if (this.current === 'f2') {
          this.f2 = item;
        }
        this.show = false;
      },
      getFilms() {
        this.spin = true;
        this.getMovieFF({f1: this.f1.filmID, f2: this.f2.filmID}).then(response => {
          this.films = response;
          this.spin = false;
        }).catch(err => {
          this.spin = false;
        });
      },
      random(){
        this.getMovieFFRandom({type: this.$route.params.type}).then(response => {
          this.f1 = response[0];
          this.f2 = response[1];
        })
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .anim
    animation-duration 1000ms
    animation-iteration-count infinite
    animation-name rotateForever
    animation-timing-function linear
  .btm
    align-items flex-end
  .ff-select-movie
    padding-bottom 0
</style>
