<template>
  <div class="ff-select-movie">
    <q-btn v-if="!show" @click="show = true" label="Выбрать фильм" color="primary" outline no-caps class="text-bold bt full-width"/>
    <input v-model="search" v-if="show" @blur="onBlur" ref="inp" type="text" class="inp"/>
  </div>
</template>

<script>
  export default {
    name: 'FfSelectMovie',

    props: {
      index: {
        type: Number,
        default: 0
      },
      value: {
        type: String,
        default: null
      },
    },

    data() {
      return {
        show: false,
        showPop: false,
        search: null,
      }
    },

    watch: {
      show(newValue, oldValue) {
        this.$nextTick(() => {
          if(this.$refs.inp !== undefined){
            this.$refs.inp.focus();
            this.search = null;
          }
        })
      },
      search(newValue, oldValue){
        this.$emit('input', newValue)
      }
    },

    methods: {
      onBlur() {
        this.show = false;
        this.search = null;
        this.$emit('onBlur')
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .ff-select-movie
    width 300px
    padding 15px
    text-align center
    .inp
      width 100%
      background var(--q-color-primary)
      color white
      border none
      border-radius 4px
      height 36px
      padding 0 10px
</style>
