<template>
  <div class="ff-search-result">
    <div class="result text-white">
      <div class="text-center" v-if="loading">
        <q-spinner-oval
          color="white"
          size="2em"
        />
      </div>
      <div class="no-result text-center" v-if="value.length === 0 && !loading">Нет результатов.</div>
      <q-list v-if="value.length">
        <template v-for="item,k in value">
          <q-item clickable v-ripple  :key="k">
            <q-item-section avatar @click="setItem(item)">
              <q-avatar square>
                <img :src="item.bigPosterURL">
              </q-avatar>
            </q-item-section>
            <q-item-section @click.native="setItem(item)">
              <q-item-label>{{item.nameRU}}</q-item-label>
              <q-item-label caption class="text-white">{{item.year}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator/>
        </template>

      </q-list>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FfSearchResult',

    props: {
      value: {
        type: [Array, Object],
        default: () => [],
      },
      loading: {
        type: Boolean,
        default: false,
      }
    },

    methods: {
      setItem(item){
        this.$emit('onSet', item)
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .ff-search-result
    .result
      background var(--q-color-primary)
      min-height 50px
      width 800px
      position absolute
      left calc(50% - 400px)
      padding 15px
      z-index 10000
</style>
