<template>
  <div class="feild-sort-comments">
    <div class="lbl">Сортировать:<span @click="showing = true">по {{items[selected].label}}</span></div>
    <div>
      <q-menu v-model="showing" content-class="feild-sort-comments-menu">
        <q-list style="min-width: 100px" dense>
          <q-item clickable v-close-popup v-for="item,k in items" :key="k" @click.native="setSelect(k)">
            <q-item-section><div :class="{active: selected === k}">{{item.label}}</div></q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FeildSortComments',

    props: {
      value: {
        type: String,
        default: 'date'
      },
    },

    data() {
      return {
        showing: false,
        selected: 0,
        items: [
          {
            label: 'дате',
            value: 'date',
          },
          // {
          //   label: 'положительным',
          //   value: 'positive',
          // },
          // {
          //   label: 'нейтральным',
          //   value: 'neutral',
          // },
          // {
          //   label: 'отрицательным',
          //   value: 'negative',
          // },
          {
            label: 'лайкам',
            value: 'like_positive',
          },
          {
            label: 'дизлайкам',
            value: 'like_negative',
          },
        ],
      }
    },

    methods: {
      setSelect(k) {
        this.selected = k;
        this.$emit('input', this.items[k].value)
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .feild-sort-comments
    .lbl
      span
        text-decoration underline
        margin-left 10px
        cursor pointer
        &:hover
          text-decoration none
  .feild-sort-comments-menu
    .active
      text-decoration underline
</style>
