<template>
  <div>
    <div class="field-select-color">
      <div class="color" v-for="color in colors" :style="{backgroundColor: color.primary}" @click="selected = color"></div>
      <div class="color-selected">
        <div class="bg" :style="{backgroundColor: selected.primary}">
          <q-popup-proxy transition-show="scale" transition-hide="scale">
            <q-color class="pic" no-header no-footer v-model="col" />
          </q-popup-proxy>
        </div>
      </div>
    </div>

  </div>

</template>

<script>
  export default {
    name: 'FieldSelectColor',

    props: {
      options: {
        type: Array,
        default: () => {
        }
      },
      value:{
        type: Object,
        default: () => {}
      }
    },

    data() {
      return {
        selected: {},
        col: null,
      }
    },

    computed: {
      colors() {
        let items = [
          {
            primary: '#7367F0',
            secondary: '#302c57',
            accent: '#29264a',
          },
          {
            primary: '#1976D2',
            //secondary: '#1565C0',
            //accent: '#0D47A1',
            secondary: '#302c57',
            accent: '#29264a',
          },
          {
            primary: '#26A69A',
            // secondary: '#00695C',
            // accent: '#004D40',
            secondary: '#302c57',
            accent: '#29264a',
          },
          {
            primary: '#9C27B0',
            // secondary: '#6A1B9A',
            // accent: '#4A148C',
            secondary: '#302c57',
            accent: '#29264a',
          },
          {
            primary: '#C10015',
            // secondary: '#FF8A80',
            // accent: '#FF5252',
            secondary: '#302c57',
            accent: '#29264a',
          },
          {
            primary: '#F2C037',
            // secondary: '#EF6C00',
            // accent: '#E65100',
            secondary: '#302c57',
            accent: '#29264a',
          },
        ];
        return items;
      }
    },

    watch: {
      selected(newValue, oldValue) {
        this.$emit('input', newValue);
      },
      col(newValue){
        this.selected = {
          primary: newValue,
          secondary: '#302c57',
          accent: '#29264a',
        }
      }
    },

    mounted(){
      this.selected = this.value;
    }


  }
</script>

<style lang="stylus" scoped>
  .field-select-color
    display flex
    flex-wrap nowrap
    .color
      width 30px
      height 30px
      cursor pointer
      border-radius 4px
      margin 4px
    .color-selected
      width 30px
      height 30px
      border-radius 4px
      margin 4px 4px 4px 15px
      border 1px solid #000
      padding 2px
      .bg
        display block
        position relative
        width 100%
        height 100%
        border-radius 4px
  .pic
    width 200px
</style>
