<template>
  <div class="field-search">
    <div class="row">
      <div class="col-lg-2 flex flex-center">
        <label>Поиск:</label>
      </div>
      <div class="col-lg-10">
        <q-input v-model="model" outlined dense/>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FieldSearch',

    data() {
      return {
        model: null
      }
    },

    watch: {
      model(newValue, oldValue) {
        if(newValue.length > 3){
          this.$emit('input', newValue)
        }else {
          this.$emit('input', null)
        }
      }
    },
  }
</script>

<style lang="stylus" scoped>

</style>
