<template>
  <div class="field-public-private">
    <q-btn v-if="model === 'private'" class="private" flat round @click="setModel('public')">
      <lock-icon size="1.5x"/>
      <q-tooltip>
        Публичная подборка / Скрытая подборка
      </q-tooltip>
    </q-btn>
    <q-btn v-if="model === 'public'" class="public" flat round @click="setModel('private')">
      <unlock-icon size="1.5x"/>
      <q-tooltip>
        Публичная подборка / Скрытая подборка
      </q-tooltip>
    </q-btn>
  </div>
</template>

<script>
  import LockIcon from "vue-feather-icons/icons/LockIcon";
  import UnlockIcon from "vue-feather-icons/icons/UnlockIcon";
  export default {
    name: 'FieldPublicPrivate',
    components: {UnlockIcon, LockIcon},

    props: {
      value: {
        type: String,
        default: 'public'
      },
    },

    data() {
      return {
        model: 'public'
      }
    },

    methods: {
      setModel(model) {
        this.model = model;
      }
    },

    watch: {
      model(newValue, oldValue) {
        this.$emit('input', newValue)
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .field-public-private
    .private
      color $red-14
</style>
