<template>
  <div class="field-degree">
    <label class="lbl">Степень совпадения профиля единомышлеников с вашим вкусом</label>
    <q-slider
      v-model="model.min"
      :min="30"
      :max="100"
      label
      :label-value="model.min + '%'"
      :step="5"
      label-color="primary"
    />
    <div class="steps">
      <span>30%</span>
      <span>40%</span>
      <span>50%</span>
      <span>60%</span>
      <span>70%</span>
      <span>80%</span>
      <span>90%</span>
      <span>100%</span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FieldDegree',

    props: {
      value: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        model: {
          min: 30,
          max: 100
        }
      }
    },

    watch: {
      'model.min': function(newValue, oldValue) {
        this.$emit('input', this.model);
      }
    },
  }
</script>

<style lang="stylus">
  .field-degree
    padding 20px
    border 1px solid $grey-4
    margin-bottom 20px
    .lbl
      display block
      text-align center
      margin-bottom 20px
    .steps
      display flex
      align-items center
      justify-content space-between
    .q-slider__thumb-container
      color var(--q-color-primary)
    .q-slider__track-container
      background var(--q-color-primary)
    .q-slider
      color #ccc
</style>
