<template>
  <div class="field-view-count-rows">
    <label class="lbl">Показать по:</label>
    <q-select dense outlined v-model="model" emit-value :options="[{label: 10, value: 10}, {label: 20, value: 20}, {label: 50, value: 50}, {label: 100, value: 100}]" />
  </div>
</template>

<script>
  export default {
    name: 'FieldViewCountRows',

    props: {
      value: {
        type: Number,
        default: 10
      },
    },

    data() {
      return {
        model: 10
      }
    },

    watch: {
      model(newValue, oldValue) {
        this.$emit('input', newValue);
      }
    },

    created(){
      this.model = this.value;
    }

  }
</script>

<style lang="stylus" scoped>
  .field-view-count-rows
    display flex
    align-items center
    .lbl
      margin-right 10px
</style>
