<template>
  <div class="field-feed-radios">
    <q-radio v-model="model" val="all" label="Все" />
    <q-radio v-model="model" val="chosen" label="Избранные подписки" />
    <q-radio v-model="model" val="follow" label="Подписки" />
  </div>
</template>

<script>
  export default {
    name: 'FieldFeedRadios',

    props: {
      value: {
        type: String,
        default: null
      },
    },

    data() {
      return {
        model: 'all'
      }
    },

    watch: {
      model(newValue, oldValue) {
        this.$emit('input', newValue)
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .field-feed-radios
    display flex
    justify-content center
    align-items center
    margin-bottom 20px
</style>
