<template>
  <div class="mmovies-block-day-film">
    <h2>{{title}}</h2>
    <div class="flex flex-center">
      <movies-grid-card :item="item"/>
    </div>
  </div>
</template>

<script>
  import MoviesBigCard from "./MoviesBigCard";
  import {mapActions} from 'vuex'
  import MoviesGridCard from "./MoviesGridCard";

  export default {
    name: 'MmoviesBlockDayFilm',

    components: {MoviesGridCard, MoviesBigCard},

    props: {
      title: {
        type: String,
        default: 'Фильм дня'
      },
      type: {
        type: String,
        default: 'films'
      },
    },

    data() {
      return {
        item: {}
      }
    },

    methods: {
      ...mapActions('movies', ['getMovieTopDay'])
    },

    created(){
      this.getMovieTopDay({type: this.type}).then(response =>{
        this.item = response
      })
    }
  }
</script>

<style lang="stylus" scoped>
  .mmovies-block-day-film
    h2
      font-size 14px
      font-weight normal
      text-align center
</style>
