<template>
  <div class="movies-grid-card" :class="$mq" v-if="item">
    <div class="img">
      <q-img
        :src="item.bigPosterURL"
        spinner-color="white"
        class="mmb rounded-borders"
        :class="$mq"
      >
      </q-img>
    </div>
    <div class="info" :class="$mq">
      <div class="row">
        <div class="col-5 cursor-pointer" @click="$router.push('/movie/'+item.slug)">
          <q-img
            :src="item.bigPosterURL"
            spinner-color="white"
            class="poster-img"
            :class="$mq"
          />
        </div>
        <div class="col-7 flx">
          <movies-play-button :item="item"/>
        </div>
        <div class="col-0">
          <movies-sett :item="item"/>
        </div>
      </div>
      <div class="row cursor-pointer" @click="$router.push('/movie/'+item.slug)">
        <div class="col-2">
          <movie-circle-rating v-model="item.rating"/>
        </div>
        <div class="col-10">
          <div class="bottom">
            <h3><router-link :to="'/movie/'+item.slug">{{item.nameRU}}</router-link></h3>
            <div class="year">{{item.year}}<span class="bull">&bull;</span>{{item.nameEN}}</div>
            <div class="country">{{item.country}}<span class="bull">&bull;</span>{{item.genre}}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import MoviesPlayButton from "./MoviesPlayButton";
  import MoviesSett from "./MoviesSett";
  import MovieCircleRating from "./movie/MovieCircleRating";
  export default {
    name: 'MoviesGridCard',
    components: {MovieCircleRating, MoviesSett, MoviesPlayButton},
    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus">
  .movies-grid-card
    position relative
    width 300px
    margin-bottom 20px
    box-shadow 0 2px 8px 0 rgba(0,0,0,.14)!important
    border-radius 4px
    transition all .3s ease-in-out
    &:hover
      transform translateY(-5px)
    .img
      position relative
      overflow hidden
      border-radius 4px
      .mmb
        height 250px
        width 300px
        filter blur(2px)
        &.xs
          width 100%
      &:before
        background white
        content ""
        position absolute
        left -1px
        top 0
        width 101%
        height 101%
        z-index 1
        clip-path polygon(0 40%, 100% 74%, 100% 100%, 0% 100%);
    .info
      padding 10px
      position absolute
      width: 300px;
      height: 250px;
      top 0
      left 0
      z-index 2
    .flx
      display flex
      align-items flex-end
      justify-content center
    h3
      font-size 14px
      margin-bottom 5px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      padding-top 10px
      a
        color $dark
    .country
    .year
      font-size 12px
      opacity 0.7
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    .movies-sett
      margin 0
    .poster-img
      width 110px
      height 165px
      display inline-block
      vertical-align middle;
      box-shadow 0 2px 4px rgba(0,0,0,0.2)
      border-radius 3px
    .bottom
      padding-left 10px
    .movie-circle-rating
      margin-top 10px
    .bull
      padding 0 5px
</style>
