<template>
  <div class="movies-add-to-collections-buttons">
    <q-btn flat><check-icon size="1.8x"/>Буду смотреть</q-btn>
    <q-btn flat><list-icon size="1.8x"/>Добавить в подборку
      <q-menu anchor="top right" self="top left" content-class="bg-primary nnm">
        <q-list dense style="min-width: 100px">
          <q-item class="text-white text-bold">
            <q-item-section avatar style="min-width:25px; padding-right: 0"><plus-icon size="1.5x"/></q-item-section>
            <q-item-section class="text-no-wrap">Создать новую подборку</q-item-section>
          </q-item>
          <q-item>
            <q-item-section><movies-create-new-collection/></q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>
  </div>
</template>

<script>
  import CheckIcon from "vue-feather-icons/icons/CheckIcon";
  import ListIcon from "vue-feather-icons/icons/ListIcon";
  import MoviesCreateNewCollection from "./MoviesCreateNewCollection";
  import PlusIcon from "vue-feather-icons/icons/PlusIcon";
  export default {
    name: 'MoviesAddToCollectionsButtons',
    components: {PlusIcon, MoviesCreateNewCollection, ListIcon, CheckIcon}
  }
</script>

<style lang="stylus">
  .movies-add-to-collections-buttons
    .q-btn
      text-transform none
      .feather
        margin-right 10px
        border 1px solid $dark
        border-radius 50%
        padding 5px
    .nnm
      overflow visible
</style>
