<template>
  <div class="movies-actor-card shadow-4">
    <router-link :to="{name: 'movie.actor', params:{id:item.id}}">
      <q-img
        :src="item.posterURL"
        class="rounded-borders im"
      >
        <div class="absolute-bottom text-subtitle1 text-center bg-white text-black" style="height: 60px">
          <h3>{{item.nameRU}}</h3>
        </div>
      </q-img>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'MoviesActorCard',

    props: {
      item: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .movies-actor-card
    h3
      font-size 14px
    .im
      width 160px
      height 270px
</style>
