<template>
  <div class="movies-in-main" :class="$mq">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-2 col-mdl-2 col-2 flex self-center">
          <mq-layout mq="mdl+">
            <h2>{{title}}</h2>
            <ul class="movies-in-main_labels">
              <li>
                <q-radio v-model="q.filter" size="sm" val="popular" label="Популярные"/>
              </li>
              <li>
                <q-radio v-model="q.filter" size="sm" val="recommend" label="Рекомендации"/>
              </li>
              <li>
                <q-radio v-model="q.filter" size="sm" val="novelty" label="Новинки"/>
              </li>
              <li>
                <q-radio v-model="q.filter" size="sm" val="ff" :label="txt[slug]"/>
              </li>
            </ul>
            <router-link :to="{name: 'catalog', params: {catalog: slug, sub_catalog:'all'}}" class="more">Показать все
              <chevron-right-icon size="1.2x"/>
            </router-link>
          </mq-layout>
          <mq-layout :mq="['sm', 'xs']">
            <div class="row q-col-gutter-md q-mb-md">
              <div class="col-xs-6 col-sm-6 flex self-center">
                <h2 :class="$mq">{{title}}</h2>
                <router-link :to="{name: 'catalog', params: {catalog: slug, sub_catalog:'all'}}" class="more">Показать
                  все
                  <chevron-right-icon size="1.2x"/>
                </router-link>
              </div>
              <div class="col-xs-6 col-sm-6">
                <ul class="movies-in-main_labels" :class="$mq">
                  <li>
                    <q-radio v-model="q.filter" size="sm" val="popular" label="Популярные"/>
                  </li>
                  <li>
                    <q-radio v-model="q.filter" size="sm" val="recommend" label="Рекомендации"/>
                  </li>
                  <li>
                    <q-radio v-model="q.filter" size="sm" val="novelty" label="Новинки"/>
                  </li>
                  <li>
                    <q-radio v-model="q.filter" size="sm" val="ff" :label="txt[slug]"/>
                  </li>
                </ul>
              </div>
            </div>
          </mq-layout>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10  col-mdl-10 col-10">
          <q-scroll-area
            horizontal
            style="height: 30px; width: 100%;"
            class="q-mb-md"
            :bar-style="{height:'5px'}"
            :thumb-style="{height:'5px'}"
          >
            <nav class="movies-in-main_tags" :class="$mq">
              <template v-for="tag,k in tags">
                <a @click="q.genre = tag" :class="{active: q.genre === tag}" href="javascript:void(0)"
                   :key="k">{{tag}}</a>
                <span v-if="k+1 !== tags.length">/</span>
              </template>
            </nav>
          </q-scroll-area>
          <!--<movies-carousel :items="movies.items"/>-->

          <movie-scroll-paginate-caorusel :loading="loading" :movies="movies" :sc="slug" @nextPage="onNextPage"/>
          <div class="hide-checked q-mb-md" v-if="Object.keys($user).length && movies.data.length">
            <q-checkbox v-model="q.hide" label="Скрыть отмеченные"/>
          </div>
        </div>
        <!--<div class="col-xs-12 col-md-9 col-lg-10  col-mdl-10 col-10" v-else>-->
        <!--<q-banner rounded class="h22">-->
        <!--Чтобы получить персональные рекомендации оцените фильмы которые видели.<br/>-->
        <!--Осталось оценить <b>{{movies.info}}</b> {{movies.info | declension_word(slug)}}-->
        <!--</q-banner>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import ChevronLeftIcon from "vue-feather-icons/icons/ChevronLeftIcon";
  import ChevronRightIcon from "vue-feather-icons/icons/ChevronRightIcon";
  import MoviesCardSlideItem from "./MoviesCardSlideItem";
  import MoviesGridCard from "./MoviesGridCard";
  import MoviesCarousel from "./MoviesCarousel";
  import MovieScrollPaginateCaorusel from "./MovieScrollPaginateCaorusel";
  //import 'swiper/swiper-bundle.css'

  export default {
    name: 'MoviesInMain',
    components: {
      MovieScrollPaginateCaorusel,
      MoviesCarousel, MoviesGridCard, MoviesCardSlideItem, ChevronRightIcon, ChevronLeftIcon
    },
    props: {
      title: {
        type: String,
        default: 'Фильмы'
      },
      slug: {
        type: String,
        default: 'films'
      },
      tags: {
        type: Array,
        default: () => []
      }
    },

    filters: {
      declension_word(number, slug) {
        let ar = [2, 0, 1, 1, 1, 2];
        let word = [];
        if (slug === 'films') {
          word = ['фильм', 'фильма', 'фильмов'];
        }
        if (slug === 'serials') {
          word = ['сериал', 'сериала', 'сериалов'];
        }
        if (slug === 'cartoons') {
          word = ['мультфильм', 'мультфильма', 'мультфильмов'];
        }
        return word[(number % 100 > 4 && number % 100 < 20) ? 2 : ar[(number % 10 < 5) ? number % 10 : 5]];
      }
    },

    data() {
      return {
        loading: false,
        movies: {data: []},
        txt: {
          films: 'ФИЛЬМ+ФИЛЬМ',
          serials: 'СЕРИАЛ+СЕРИАЛ',
          cartoons: 'МУЛЬТ+МУЛЬТ',
        },
        q: {
          current_page: 1,
          type: this.slug,
          filter: 'popular',
          genre: 'все',
          hide: false,
        }
      }
    },

    watch: {
      'q.hide': function (val) {
        this.q.current_page = 1;
        this.getData();
      },
      'q.genre': function (val) {
        this.q.current_page = 1;
        this.getData();
      },
      'q.filter': function (val) {
        if (val === 'ff') {
          this.$router.push({name: 'movie.ff', params: {type: this.slug}});
        }
      }
    },

    methods: {
      ...mapActions('movies', ['getSlideMovies']),
      getData() {
        this.loading = true;
        this.getSlideMovies(this.q).then(response => {
          this.movies = response;
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      },
      onNextPage() {
        this.q.current_page += 1;
        this.getSlideMovies(this.q).then(response => {
          this.movies.has_more_pages = response.has_more_pages;
          _.forEach(response.data, v => {
            this.movies.data.push(v);
          })
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      }
    },

    created() {
      this.getData();
    },

  }
</script>

<style lang="stylus">
  .movies-in-main
    padding-top 20px
    overflow hidden
    &.xs
      margin-bottom 0
    h2
      font-size 24px
      font-weight bold
      margin 0px 0 40px 0
      line-height 1.1
      text-transform uppercase
      &.sm
      &.xs
        margin 0px 0 10px 0
        font-size 16px
    &_labels
      padding 0
      margin-bottom 40px
      &.sm
      &.xs
        margin 0
        li
        .q-radio__label
          font-size 12px
      li
        list-style none
        .q-radio__label
          font-size 16px
          text-transform uppercase
    .more
      display flex
      align-items center
      color $grey-9
      text-transform uppercase
      font-size 12px
    &_tags
      display flex
      a
        display inline-block
        color $grey-9
        &.active
        &:hover
          color var(--q-color-primary)
      span
        margin 0 10px
    .h22
      min-height 200px
      text-align center
</style>
