<template>
  <div class="movies-add-to-collections-comment">
    <div class="likes">
      <div class="like-buttons_btn">
        <q-btn @click="addLike('positive')" :loading="loadingl.positive" icon="thumb_up" outline round color="primary" size="16px"/>
      </div>
      <div  class="like-buttons_btn">
        <q-btn @click="addLike('neutral')" :loading="loadingl.neutral" icon="thumb_up " class="neutral-btn" outline round color="primary" size="16px"/>
      </div>
      <div class="like-buttons_btn">
        <q-btn @click="addLike('negative')" :loading="loadingl.negative" icon="thumb_down" outline round color="primary" size="16px"/>
      </div>
    </div>

    <div class="comment-any" v-if="!showForm" @click="showForm = true">Если хотите оставьте<br/> отзыв</div>
    <div class="comment-form-w" v-if="showForm">
      <div class="comment-text">
        <textarea v-model="form.comment" rows="3" placeholder="Отзыв"/>
      </div>
      <div class="comment-actions">
        <q-btn label="Отмена" @click="showForm = false" flat class="cancel-btn" no-caps/>
        <q-btn :loading="loading" label="Сохранить" @click="submit" flat class="add-btn" no-caps/>
      </div>
    </div>
    <movies-add-to-collections-form/>
  </div>
</template>

<script>
  import MovieLikeButtons from "./movie/MovieLikeButtons";
  import { required } from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'
  import MoviesAddToCollectionsForm from "./MoviesAddToCollectionsForm";

  export default {
    name: 'MoviesAddToCollectionsComment',
    components: {MoviesAddToCollectionsForm, MovieLikeButtons},

    props: {
      item: {
        type: [Object, String],
        default: null
      },
    },

    data() {
      return {
        showForm: false,
        form: {
          comment: null,
          like: null,
        },
        loading: false,
        loadingl:{
          positive: false,
          neutral: false,
          negative: false,
        }
      }
    },

    validations: {
      form:{
        comment: {required},
        like: {required},
      }
    },

    methods: {
      ...mapActions('movies', ['addMovieComment', 'addMovieLike', 'changeMovieLike']),
      submit() {
        this.valid().then(() => {
          this.loading = true;
          this.addMovieComment({
            movie_id: this.item.id,
            comment: this.form.comment,
          }).then(response => {
            this.loading = false;
            this.form.comment = null;
            this.$q.notify({
              message: 'Отзыв добавлен',
              color: 'positive',
              html: true,
            });
          }).catch(err => {
            this.loading = false;
            this.form.comment = null;
          })
        })
      },
      valid(){
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr =[];
          if (this.$v.form.$error) {
            if(!this.$v.form.comment.required){
              arr.push('<li>Отзыв обязательно.</li>');
            }
            if(!this.$v.form.like.required){
              arr.push('<li>Оценка обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>'+arr.join('')+'</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      },
      addLike(type){
        this.form.like = type;
        this.loadingl[type] = true;
        this.addMovieLike({
          type:type,
          movie_id: this.item.id
        }).then(response => {
          this.loadingl[type] = false;
          this.$q.notify({
            type: 'positive',
            message: 'Оценка добавлена.'
          })
          this.loading = false;
          this.$root.$emit('setLike', type);
        }).catch(err => {
          // console.log(err.graphQLErrors[0])
          this.loadingl[type] = false;
          if(err.graphQLErrors.length){
            this.$q.dialog({
              title: 'Внимание!',
              message: 'Вы уже добавили оценку. Хотите ее изменить?',
              cancel: 'Отмена',

            }).onOk(() => {
              this.changeLike(type);
            });
          }
        });
      },
      changeLike(type){
        this.loadingl[type] = true;
        this.form.like = type;
        this.changeMovieLike({
          type:type,
          movie_id: this.item.id
        }).then(response => {
          this.loadingl[type] = false;
          this.$q.notify({
            type: 'positive',
            message: 'Оценка обновлена.'
          })
          this.loading = false;
          this.$root.$emit('setLike', type);
        }).catch(err => {
          this.loadingl[type] = false;
        });
      }
    },

  }
</script>

<style lang="stylus" scoped>
  .movies-add-to-collections-comment
    .likes
      padding 15px 20px
      border-bottom 1px solid #F2F2F2
      display flex
      align-items center
      justify-content space-between
    .comment-any
      padding 15px
      color #BCBCBC
      cursor text
    .comment-actions
      padding 15px
      background var(--q-color-primary)
      color white
      .cancel-btn
        border-radius 0
        background white
        color $dark
        margin-right 10px
      .add-btn
        border-radius 0
    .comment-text
      padding 15px
      textarea
        width 100%
        border none
        resize none

</style>
