<template>
  <div class="movies-add-to-collections-form">
    <div @click="showAdd = !showAdd" class="bt-add" v-ripple><q-icon name="fas colect-icon-08"/>Добавить в подборку</div>
    <div class="list" v-if="showAdd">
      <div class="text-center q-pa-md" v-if="loadingList">
        <q-spinner-oval
          color="primary"
          size="2em"
        />
      </div>
      <q-list dense v-if="lists.length">
        <template  v-for="list,k in lists">
          <q-item clickable v-ripple @click="addTo(list)">
            <q-item-section avatar style="min-width:30px">
              <q-icon name="fas colect-icon-11" style="font-size: 18px" v-if="list.type === 'private'"/>
              <q-icon name="fas colect-icon-09" style="font-size: 18px" v-if="list.type === 'public'"/>
            </q-item-section>
            <q-item-section>
              {{list.name}} ({{list.countItems}})
            </q-item-section>
          </q-item>
          <q-separator />
        </template>
      </q-list>
      <div class="add-item">
        <div @click="showForm = true" class="bt-add-new" v-if="!showForm" v-ripple><q-icon name="fas colect-icon-01"/>Создать новую подборку</div>
        <div class="bt-add-new-form" v-if="showForm">
          <div class="bt-add-new-input"><q-icon name="fas colect-icon-01"/><input v-model="form.name" placeholder="Название подборки"/></div>
          <div class="bt-add-new-actions">
            <div class="row">
              <div class="col-lg-4 flex flex-center">
                <field-public-private v-model="form.type"/>
              </div>
              <div class="col-lg-8">
                <q-btn label="Отмена" @click="showForm = false" flat class="cancel-btn" no-caps/>
                <q-btn label="Добавить" :loading="loading" @click="submit" flat class="add-btn" no-caps/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { required } from 'vuelidate/lib/validators'
  import FieldPublicPrivate from "../fields/FieldPublicPrivate";
  import {mapActions} from 'vuex'

  export default {
    name: 'MoviesAddToCollectionsForm',
    components: {FieldPublicPrivate},

    props: {
      item: {
        type: [Object, String],
        default: null
      },
    },

    data() {
      return {
        form: {
          id: null,
          name: null,
          type: 'public'
        },
        showForm: false,
        showAdd: false,
        lists: [],
        loading: false,
        loadingList: false,
      }
    },

    validations: {
      form:{
        name: {required},
      }
    },

    watch: {
      showAdd(newValue, oldValue) {
        if(newValue === true){
          this.getLists();
        }
      }
    },

    methods: {
      ...mapActions('collections', ['getCollectionsSett', 'addCollection', 'addCollectionItem']),
      submit() {
        this.valid().then(() => {
            this.loading = true;
            this.addCollection(this.form).then(response => {
              this.loading = false;
              this.form.name = null;
              this.getLists();
            }).catch(err => {
              this.loading = false;
            })
        })
      },
      valid(){
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr =[];
          if (this.$v.form.$error) {
            if(!this.$v.form.name.required){
              arr.push('<li>Название подборки обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>'+arr.join('')+'</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      },
      getLists(){
        this.loadingList = true;
        this.getCollectionsSett().then(response => {
          this.lists = response;
          this.loadingList = false;
        }).catch(err => {
          this.loadingList = false;
        })
      },
      addTo(list){
        this.addCollectionItem({
          collection_id: list.id,
          movie_id: this.item.id,
        }).then(response => {
          this.lists = response;
        })
      }
    },

  }
</script>

<style lang="stylus">
  .movies-add-to-collections-form
    color #BCBCBC
    .bt-add
      padding 15px
      border-top 1px solid white
      background #F2F2F2
      text-align center
      cursor pointer
      position relative
      &:hover
        background white
      .q-icon
        font-size 16px
        margin-right 10px
    .list
      .add-item
        .bt-add-new
          padding 15px
          background white
          text-align center
          cursor pointer
          position relative
          .q-icon
            font-size 16px
            margin-right 10px
        .bt-add-new-input
          padding 15px
          display flex
          align-items center
          input
            width 100%
            background white
            border none
          .q-icon
            font-size 16px
            margin-right 10px
        .bt-add-new-actions
          padding  15px 0 15px 0
          border-top 1px solid #F2F2F2
          .cancel-btn
            border 1px solid #F2F2F2
            border-radius 0
            margin-right 10px
          .add-btn
            border-radius 0
            background #F2F2F2
            border 1px solid #F2F2F2

</style>
