<template>
  <div class="movies-list-card shadow-4 bg-white">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2 col-2">
        <div class="img" :class="$mq">
          <q-img
            :src="item.bigPosterURL"
            spinner-color="white"
            style="height: 230px; max-width: 150px;"
            class="rounded-borders"
          >
            <movies-sett :item="item"/>
          </q-img>

          <div class="rating">
            <movie-circle-rating v-model="item.rating"/>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-10 q-pl-md q-pl-xs-none">
        <div class="row q-col-gutter-md q-col-gutter-xs-none full-height">
          <div class="col-xs-12 col-sm-12 col-md-8 col-8">
            <h2><router-link :to="'/movie/'+item.slug">{{item.nameRU}}</router-link></h2>
            <div class="year">{{item.year}}<span class="bull">&bull;</span>{{item.nameEN}}</div>
            <div class="country">{{item.country}}<span class="bull">&bull;</span>{{item.genre}}</div>
            <div class="description">{{desc}}</div>
            <!--<movies-add-to-collections-buttons/>-->
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-4">
            <q-separator vertical class="full-height float-left xs-hide sm-hide"/>
            <div class="movies-list-card_actions">
              <movie-like-buttons :item="item" type="list" class="q-mb-md"/>
              <movies-play-button type="list" class="q-mb-md"/>
              <q-btn :to="'/movie/'+item.slug" label="Подробнее" class="bts full-width" color="primary"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MovieCircleRating from "./movie/MovieCircleRating";
  import MoviesAddToCollectionsButtons from "./MoviesAddToCollectionsButtons";
  import MovieLikeButtons from "./movie/MovieLikeButtons";
  import MoviesPlayButton from "./MoviesPlayButton";
  import MoviesSett from "./MoviesSett";
  export default {
    name: 'MoviesListCard',
    components: {MoviesSett, MoviesPlayButton, MovieLikeButtons, MoviesAddToCollectionsButtons, MovieCircleRating},

    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },

    computed: {
      desc() {
        return _.truncate(this.item.description,{'length': 210})
      }
    },
  }
</script>

<style lang="stylus">
  .movies-list-card
    min-height 215px
    border-radius 6px
    padding 15px
    margin-bottom 30px
    position relative
    transition all .3s ease-in-out
    &:hover
      transform translateY(-5px)
    .q-img
      margin-top -30px
      box-shadow $shadow-10
    .rating
      max-width 150px
      display flex
      align-items center
      justify-content center
      margin-top -40px
      position relative

    h2
      font-size 16px
      margin-bottom 5px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      a
        color $dark
    .country
    .year
      font-size 12px
      opacity 0.7
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    .description
      padding 15px 0
    .sep
      border-left 1px solid $grey-4
    &_actions
      padding 25px
    .img
      &.xs
        text-align center
        .rating
          max-width none
</style>
