<template>
  <div class="movies-grid-container">
    <div class="row q-col-gutter-sm">
      <div v-if="rows === 3" class="col-xs-12 col-sm-6 col-md-4 flex flex-center" :class="'cl-'+$mq+'-4'" v-for="item,k in items">
        <movies-grid-card :item="item" :key="k"/>
      </div>
      <div v-if="rows === 4" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 flex flex-center" :class="'cl-'+$mq+'-3'" v-for="item,k in items">
        <movies-grid-card :item="item" :key="k"/>
      </div>
    </div>
  </div>
</template>

<script>
  import MoviesGridCard from "./MoviesGridCard";
  export default {
    name: 'MoviesGridContainer',
    components: {MoviesGridCard},
    props: {
      items: {
        type: Array,
        default: () => []
      },
      rows: {
        type: Number,
        default: 3
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .movies-grid-container
    .cl-mdl-4
      width 50%
    .cl-mdl-3
      width 33.33%
</style>
