<template>
  <div class="movies-grid-list-buttons">
    <q-btn class="q-mr-md" @click="$emit('openFilter')" v-if="filter"><filter-icon size="1.2x"/></q-btn>
    <q-btn class="q-mr-md" :class="{active: gridList === 'grid'}" @click="setGridList('grid')"><grid-icon size="1.2x"/></q-btn>
    <q-btn :class="{active: gridList === 'list'}" @click="setGridList('list')"><list-icon size="1.2x"/></q-btn>
  </div>
</template>

<script>
  import GridIcon from "vue-feather-icons/icons/GridIcon";
  import ListIcon from "vue-feather-icons/icons/ListIcon";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import FilterIcon from "vue-feather-icons/icons/FilterIcon";
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });
  
  export default {
    name: 'MoviesGridListButtons',
    components: {FilterIcon, ListIcon, GridIcon},

    props: {
      filter: {
        type: Boolean,
        default: false
      },
    },

    computed:{
      ...mapFields('movies', ['gridList'])
    },

    methods: {
      ...mapActions('movies', ['setGridList'])
    },
  }
</script>

<style lang="stylus">
  .movies-grid-list-buttons
    display flex
    align-items center
    justify-content flex-end
    margin-bottom 20px
    margin-top -50px
    .q-btn
      background white
      &.active
        color var(--q-color-primary)
      .q-btn__wrapper
        padding 7px
        min-height auto
      .q-btn__wrapper:before
        box-shadow 0 2px 8px 0 rgba(0,0,0,.14)
</style>
