<template>
  <div class="movies-block-random-film">
    <h2>{{title}} <q-btn dense flat round class="absolute mm" @click="getData"><refresh-ccw-icon size="1.5x"/> </q-btn></h2>
    <div class="flex flex-center">
      <movies-grid-card :item="item"/>
    </div>
    <div class="flex flex-center">
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import MoviesGridCard from "./MoviesGridCard";
  import RefreshCcwIcon from "vue-feather-icons/icons/RefreshCcwIcon";
  export default {
    name: 'MoviesBlockRandomFilm',
    components: {RefreshCcwIcon, MoviesGridCard},

    props: {
      title: {
        type: String,
        default: 'Фильм дня'
      },
      type: {
        type: String,
        default: 'films'
      },
    },

    data() {
      return {
        item: {}
      }
    },

    methods: {
      ...mapActions('movies', ['getMovieRandom']),
      getData(){
        this.getMovieRandom({type: this.type}).then(response =>{
          this.item = response
        })
      }
    },

    created(){
      this.getData();
    }
  }
</script>

<style lang="stylus" scoped>
  .movies-block-random-film
    h2
      font-size 14px
      font-weight normal
      text-align center
      .mm
        margin-top -12px
        margin-left 10px
</style>
