<template>
  <div class="movies-carousel">
    <flickity ref="flickity" :options="flickityOptions">
      <div class="carousel-cell" v-for="item,k in items" @click="setCurrent(k)">
        <div class="tp"></div>
        <movies-grid-card :item="item" :key="k"/>
      </div>
    </flickity>

    <template>
      <div class="tin" :style="{opacity: !showLeft ? 0 : 1 }"></div>
      <div class="btns" :style="{opacity: !showLeft ? 0 : 1 }">
        <q-btn flat round @click="previous" class="prv">
          <chevron-left-icon size="1.5x"/>
        </q-btn>
      </div>
      <div class="btns1" :style="{opacity: !showRight ? 0 : 1 }">
        <q-btn flat round @click="next" class="nxt">
          <chevron-right-icon size="1.5x"/>
        </q-btn>
      </div>
      <div class="tin2" :style="{opacity: !showRight ? 0 : 1 }"></div>
    </template>

  </div>
</template>

<script>
  import MoviesGridCard from "./MoviesGridCard";
  import Flickity from 'vue-flickity';
  import ChevronLeftIcon from "vue-feather-icons/icons/ChevronLeftIcon";
  import ChevronRightIcon from "vue-feather-icons/icons/ChevronRightIcon";

  export default {
    name: 'MoviesCarousel2',

    components: {ChevronRightIcon, ChevronLeftIcon, MoviesGridCard, Flickity},

    props: {
      items: {
        type: Array,
        default: () => []
      },
    },

    data() {
      return {
        flickityOptions: {
          //initialIndex: 1,
          prevNextButtons: false,
          groupCells: 2,
          pageDots: false,
          freeScroll: true,
          lazyLoad: true,
          cellAlign: 'left',
          contain: true,
          cellSelector: '.carousel-cell'
          // any options from Flickity can be used
        },
        showLeft: false,
        showRight: true,
      }
    },

    watch: {
      items(newValue, oldValue) {
        this.$refs.flickity.reloadCells();
      }
    },

    methods: {
      next() {
        this.$refs.flickity.next();
      },
      previous() {
        this.$refs.flickity.previous();
      },
      setCurrent(k){
        this.$emit('onCurrent', k)
      }
    },

    mounted() {

      if(this.$mq === 'lg' && this.items.length <= 3){
        this.showRight = false;
      }

      this.$refs.flickity.on('scroll', progress => {
        let pr = parseInt(progress * 100);
        if (pr > 1) {
          this.showLeft = true;
        } else {
          this.showLeft = false
        }
        if (pr === 99 || pr >= 100) {
          this.showRight = false;
        }else {
          this.showRight = true;
        }

        if(this.$mq === 'lg' && this.items.length <= 3){
          this.showRight = false;
        }
      });
    }

  }
</script>

<style lang="stylus" scoped>
  .movies-carousel
    position relative
    .carousel-cell
      margin-right 20px
      width 300px
      position relative
      .tp
        position absolute
        width 100%
        height 100%
        z-index 1
        cursor pointer
    .btns1
    .btns
      position absolute
      -webkit-transform translateY(-50%)
      transform translateY(-50%)
      top 50%
      z-index: 3
      .q-btn
        background white
        color var(--q-color-primary)
        box-shadow 0 1px 10px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .15)
        transition transform .2s ease-in-out, -webkit-transform .2s ease-in-out
    .btns
      left -20px
    .btns1
      right -20px
    .tin
    .tin2
      position: absolute
      width 20px
      bottom -2px
      pointer-events: none
      z-index: 2
      top: -16px
    .tin
      left -20px
      -webkit-box-shadow 8px 0 12px -8px rgba(0, 0, 0, .3)
      box-shadow 8px 0 12px -8px rgba(0, 0, 0, .3)
      display block
    .tin2
      right -20px
      -webkit-box-shadow -8px 0 12px -8px rgba(0, 0, 0, .3)
      box-shadow -8px 0 12px -8px rgba(0, 0, 0, .3)
      display block
</style>
