<template>
  <div class="movies-play-button">
    <div class="movies-play-button_grid" v-if="type === 'grid'">
      <q-btn round class="rb">
        <play-icon size="1.2x"/>
      </q-btn>
    </div>
    <div class="movies-play-button_list" v-if="type === 'list'">
      <q-btn flat class="full-width bts">
        <play-icon size="1.2x"/>
        Трейлер
      </q-btn>
    </div>
  </div>
</template>

<script>
  import PlayIcon from "vue-feather-icons/icons/PlayIcon";

  export default {
    name: 'MoviesPlayButton',
    components: {PlayIcon},
    props: {
      type: {
        type: String,
        default: 'grid'
      },
      item: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus">
  .movies-play-button
    .rb
      background var(--q-color-primary)
      color white
    .bts
      background #efefef
      .feather
        margin-right 10px
        color var(--q-color-primary)
        padding 2px
        border 1px solid var(--q-color-primary)
        border-radius 50%
</style>
