<template>
  <div class="movies-collections-in-main">
    <div class="container">
      <h2>Подборки</h2>
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        swipeable
        animated
        control-color="grey-2"
        control-text-color="primary"
        control-type="regular"
        arrows
        height="280px"
        class="bg-transparent"
        :class="$mq"
        infinite
      >
        <q-carousel-slide :name="k" class="no-wrap q-pa-none" v-for="row,k in slides" :key="k">
          <div class="row q-col-gutter-md">
            <div class="col text-center flex flex-center" v-for="slide,k in row">
              <movies-collections-card-item :item="slide" :key="k"/>
            </div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import MoviesCollectionsCardItem from "./MoviesCollectionsCardItem";

  export default {
    name: 'MoviesCollectionsInMain',
    components: {MoviesCollectionsCardItem},
    data() {
      return {
        movies: [],
        slide: 0,
      }
    },

    computed: {
      slides() {
        if(this.$mq === 'lg'){
          return _.chunk(this.movies, 4);
        }else if(this.$mq === 'md'){
          return _.chunk(this.movies, 3);
        }else if(this.$mq === 'mdl'){
          return _.chunk(this.movies, 3);
        } else if(this.$mq === 'sm'){
          return _.chunk(this.movies, 2);
        }else if(this.$mq === 'xs'){
          return _.chunk(this.movies, 1);
        } else {
          return _.chunk(this.movies, 4);
        }
      }
    },

    methods: {
      ...mapActions('collections', ['getCollectionsInMain'])
    },

    created() {
      this.getCollectionsInMain({take: 16}).then(response => {
        this.movies = response;
      })
    }
  }
</script>

<style lang="stylus">
  .movies-collections-in-main
    padding 50px 0
    h2
      margin-bottom 30px
      text-align center
    .q-carousel
      overflow visible
      &__slides-container
        overflow hidden
        position relative
      &__prev-arrow
        margin-left -30px
      &__next-arrow
        margin-right -30px
    .q-carousel.sm
    .q-carousel.xs
      overflow visible
      .q-carousel__prev-arrow
        margin-left -28px
      .q-carousel__next-arrow
        margin-right -26px
</style>
