<template>
  <div class="movies-card-likes">
    <q-btn icon="thumb_up" outline round  size="12px"/>
    <q-btn icon="thumb_up" class="neutral-btn" outline round size="12px"/>
    <q-btn icon="thumb_down" outline round size="12px"/>
  </div>
</template>

<script>
  export default {
    name: 'MoviesCardLikes'
  }
</script>

<style lang="stylus">
  .movies-card-likes
    .q-btn
      margin 3px
      color white
      &:hover
        color var(--q-color-primary)
    .neutral-btn
      .q-icon
        -webkit-transform rotate(-90deg)
        -moz-transform rotate(-90deg)
        -o-transform rotate(-90deg)
        -ms-transform rotate(-90deg)
        transform rotate(-90deg)
</style>
