<template>
  <div class="movies-list-container">
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 col-sm-12 col-md-12 col-12" v-for="item,k in items">
        <movies-list-card :item="item" :key="k"/>
      </div>
    </div>
  </div>
</template>

<script>
  import MoviesListCard from "./MoviesListCard";
  export default {
    name: 'MoviesListContainer',
    components: {MoviesListCard},
    props: {
      items: {
        type: Array,
        default: () => []
      },
    },
  }
</script>

<style lang="stylus" scoped>

</style>
