<template>
  <div class="movies-card-slide-item" @mouseover="showLikes = true" @mouseleave="showLikes = false">
    <div class="movies-card-slide-item_img">
      <q-img
        :src="item.image"
        spinner-color="white"
        style="height: 250px; max-width: 190px"
      >
        <movies-sett/>
        <transition
          appear
          enter-active-class="animated zoomIn"
          leave-active-class="animated zoomOut"
        >
          <div class="absolute-full flex flex-center" v-if="showLikes">
            <movies-card-likes/>
          </div>
        </transition>

      </q-img>
    </div>
    <div class="movies-card-slide-item_rating text-center">
      <movie-circle-rating v-model="item.rating"/>
    </div>

    <div class="movies-card-slide-item_category">{{item.category}}</div>
    <h3>
      <router-link :to="item.slug">{{item.name}}</router-link>
    </h3>
  </div>
</template>

<script>
  import MovieCircleRating from "./movie/MovieCircleRating";
  import MoreHorizontalIcon from "vue-feather-icons/icons/MoreHorizontalIcon";
  import MoviesCardLikes from "./MoviesCardLikes";
  import MoviesSett from "./MoviesSett";

  export default {
    name: 'MoviesCardSlideItem',
    components: {MoviesSett, MoviesCardLikes, MoreHorizontalIcon, MovieCircleRating},
    props: {
      item: {
        type: Object,
        default: () => {
        }
      },
    },
    data() {
      return {
        showLikes: false
      }
    },
  }
</script>

<style lang="stylus">
  .movies-card-slide-item
    position relative

    &:hover
      h3
      .movies-card-slide-item_category
        white-space normal
        overflow visible
        text-overflow none
    &_img
      display block
      margin-bottom 25px
    &_category
      font-size 12px
      margin-bottom 10px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    h3
      margin 0
      font-size 15px
      line-height 1
      font-weight bold
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      a
        color $dark
    &_rating
      position absolute
      display flex
      align-items center
      justify-content center
      width 100%
      margin-top -55px
</style>
