<template>
  <div class="movies-add-to-collections-container">
    <div class="movies-add-to-collections-container_header">
      <ul>
        <li class="libe" v-ripple @click="setAction('be', 'MoviesAddToCollectionsForm')">
          <bookmark-icon size="2.5x" :class="{be: action === 'be'}"/>
          <span>Буду<br/> смотреть</span>
        </li>
        <li class="linobe" v-ripple @click="setAction('nobe', 'MoviesAddToCollectionsForm')">
          <x-icon size="2.5x" :class="{nobe: action === 'nobe'}"/>
          <span>Не буду<br/> смотреть</span>
        </li>
        <li class="liview" v-ripple @click="setAction('view', 'MoviesAddToCollectionsForm')">
          <eye-icon size="2.5x" :class="{view: action === 'view'}"/>
          <span>Смотрю</span>
        </li>
        <li class="liviewed" v-ripple @click="setAction('viewed', 'MoviesAddToCollectionsComment')">
          <check-icon v-if="!loading" size="2.5x" :class="{viewed: action === 'viewed'}"/>
          <q-spinner-oval
            color="primary"
            size="35"
            v-if="loading"
            style="margin-bottom: 5px"
          />
          <span>Просмотрено</span>
        </li>
      </ul>
    </div>
    <div class="movies-add-to-collections-container_content">
        <div v-if="loading" class="text-center">Поставьте оценку, чтобы сохранить</div>
        <component :is="comp" :item="item" />
    </div>
  </div>
</template>

<script>
  import BookmarkIcon from "vue-feather-icons/icons/BookmarkIcon";
  import XIcon from "vue-feather-icons/icons/XIcon";
  import EyeIcon from "vue-feather-icons/icons/EyeIcon";
  import CheckIcon from "vue-feather-icons/icons/CheckIcon";
  import MoviesAddToCollectionsForm from "./MoviesAddToCollectionsForm";
  import MoviesAddToCollectionsComment from "./MoviesAddToCollectionsComment";
  import {mapActions} from 'vuex'

  export default {
    name: 'MoviesAddToCollectionsContainer',
    components: {MoviesAddToCollectionsComment, MoviesAddToCollectionsForm, CheckIcon, EyeIcon, XIcon, BookmarkIcon},
    props: {
      item: {
        type: [Object, String],
        default: null
      },
    },

    data() {
      return {
        comp: 'MoviesAddToCollectionsForm',
        action: null,
        loading: false,
      }
    },

    watch: {
      action(newValue, oldValue) {
         this.$emit('changeAction', newValue)
      }
    },

    methods: {
      ...mapActions('movies', ['bookMarkAdd']),
      setAction(action, comp) {
        this.loading = false;
        this.comp = comp;

        if(this.action === action){
          //remove action
        }else {
          if(action !== 'viewed'){
            this.bookMarkAdd({
              movie_id: this.item.id,
              type: action,
            }).then(response => {
              this.action = action;
            })
          }else {
            this.loading = true;
            this.comp = comp;
          }
        }


      }
    },

    mounted(){
      if(this.item.bookMark){
        this.action = this.item.bookMark ? this.item.bookMark.type : null;
        if(this.item.bookMark.type === 'viewed'){
          this.comp = 'MoviesAddToCollectionsComment';
        }
      }

      this.$root.$on('setLike', type => {
        this.bookMarkAdd({
          movie_id: this.item.id,
          type: 'viewed',
        }).then(response => {
          this.action = 'viewed';
          this.$root.$emit('changeAction', 'viewed')
        })
      });
    }
  }
</script>

<style lang="stylus" scoped>
  .movies-add-to-collections-container
    &_header
      background #fff
      color #868686
      padding 0px 10px
      ul
        margin 0
        padding 0
        display flex
        justify-content space-between
        li
          list-style none
          font-size 11px
          display flex
          flex-direction column
          align-items center
          padding 10px
          text-align center
          line-height 1.1
          cursor pointer
          position relative
          width 25%
          .feather
            border 2px solid #868686
            border-radius 50%
            margin-bottom 5px
            padding 2px
            font-size 14px
            &.viewed
              background $light-green-14
              color white
              border 2px solid $light-green-14
            &.view
              background $blue
              color white
              border 2px solid $blue
            &.nobe
              background $red-14
              color white
              border 2px solid $red-14
            &.be
              background $amber
              color white
              border 2px solid $amber
          &.libe:hover .feather
            background $amber
            color white
            border 2px solid $amber
          &.linobe:hover .feather
            background $red-14
            color white
            border 2px solid $red-14
          &.liview:hover .feather
            background $blue
            color white
            border 2px solid $blue
          &.liviewed:hover .feather
            background $light-green-14
            color white
            border 2px solid $light-green-14
  .no-auth
      display flex
      position absolute
      z-index 100
      width 100%
      height 100%
      cursor pointer
</style>
