<template>
  <div class="movies-sett" v-if="item">
    <q-btn round class="sett" :class="type" size="12px"  @click="showing = true">
      <!--<more-horizontal-icon size="2.5x"/>-->
      <template v-if="type">
        <bookmark-icon size="1.5x" v-if="type === 'be'"/>
        <x-icon size="1.5x" v-if="type === 'nobe'"/>
        <eye-icon size="1.5x" v-if="type === 'view'"/>
        <check-icon size="1.5x" v-if="type === 'viewed'"/>
      </template>
      <more-horizontal-icon v-else size="2.5x"/>
    </q-btn>
    <mq-layout mq="sm+">
      <q-menu v-model="showing"  ref="setts">
        <q-list dense style="min-width: 100px">
          <movies-add-to-collections-container :item="item" @changeAction="changeAction"/>
        </q-list>
      </q-menu>
    </mq-layout>
    <mq-layout mq="xs">
      <q-dialog
        v-model="showing"
        content-class="no-radius"
      >
        <q-card style="width: 300px; border-radius: 0">
          <q-card-section style="padding: 0">
            <movies-add-to-collections-container :item="item" @changeAction="changeAction"/>
          </q-card-section>
        </q-card>

      </q-dialog>
    </mq-layout>
  </div>
</template>

<script>
  import MoreHorizontalIcon from "vue-feather-icons/icons/MoreHorizontalIcon";
  import MoviesAddToCollectionsContainer from "./MoviesAddToCollectionsContainer";
  import BookmarkIcon from "vue-feather-icons/icons/BookmarkIcon";
  import XIcon from "vue-feather-icons/icons/XIcon";
  import EyeIcon from "vue-feather-icons/icons/EyeIcon";
  import CheckIcon from "vue-feather-icons/icons/CheckIcon";

  export default {
    name: 'MoviesSett',
    components: {
      CheckIcon,
      EyeIcon,
      XIcon,
      BookmarkIcon,
      MoviesAddToCollectionsContainer, MoreHorizontalIcon
    },

    props: {
      item: {
        type: [Object, String],
        default: null
      },
    },

    data() {
      return {
        showing: false,
        type: null,
      }
    },

    methods:{
      changeAction(data){
        this.type = data;
        //this.item.bookMark.type = data;
      }
    },

    created() {
      this.$root.$on('scrollLayout', data => {
        if (this.$refs.setts) {
          this.$refs.setts.hide();
        }
      })
    },

    watch:{
      item(item){
        this.type = item.bookMark ? item.bookMark.type : null
      }
    },

    mounted(){
      this.type = this.item.bookMark ? this.item.bookMark.type : null
      // this.$root.$on('changeAction', data => {
      //   this.changeAction(data);
      // })
    }
  }
</script>

<style lang="stylus" scoped>
  .movies-sett
    float right
    margin-top 10px
    margin-right 10px
    position relative !important
    z-index 100
    padding 0 !important
    background transparent !important
    .sett
      background rgba(255, 255, 255, 0.3)
      color $dark
      &.be
        background #ffc107
        color white
      &.nobe
        background #d50000
        color white
      &.view
        background #2196f3
        color white
      &.viewed
        background #64dd17
        color white
      &:hover
        background-color var(--q-color-primary)
        color white
    &_menu
      ul
        padding 0
        margin 0
        li
          list-style none
          display flex
          padding 10px 15px
          cursor pointer
          position relative
          &:hover
            background $grey-2
          .feather
            margin-right 10px
</style>
