<template>
  <div class="movies-big-card" v-if="item">
    <router-link :to="item.slug" class="movies-big-card_img">
      <q-img
        :src="item.image"
        spinner-color="white"
        style="height: 250px; max-width: 400px"
      >
      </q-img>
    </router-link>
    <div class="movies-big-card_rating text-center">
      <movie-circle-rating v-model="item.rating"/>
    </div>

    <div class="movies-big-card_category">{{item.category}}</div>
    <h3>
      <router-link :to="item.slug">{{item.name}}</router-link>
    </h3>
  </div>
</template>

<script>
  import MovieCircleRating from "./movie/MovieCircleRating";
  export default {
    name: 'MoviesBigCard',
    components: {MovieCircleRating},
    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },


  }
</script>

<style lang="stylus">
  .movies-big-card
    position relative
    text-align center
    &_img
      display block
      margin-bottom 25px
    &_category
      font-size 12px
      margin-bottom 10px
    h3
      margin 0
      font-size 15px
      line-height 1
      font-weight bold
      text-align center
      a
        color $dark
    &_rating
      position absolute
      display flex
      align-items center
      justify-content center
      width 100%
      margin-top -55px
</style>
