<template>
  <div class="movies-loading-grid">
    <div class="row q-col-gutter-sm flex flex-center">
      <div class="col-xs-12 col-sm-6 col-md-4 flex flex-center" v-for="n in 21">
        <div class="skl">
          <q-skeleton height="170px" square animation="fade" />

          <div class="row items-start no-wrap q-mt-sm q-pa-md">
            <q-skeleton type="QAvatar" animation="fade"/>

            <div class="col q-pl-sm">
              <q-skeleton type="text" square width="30%" animation="fade" />
              <q-skeleton type="text" square height="12px" animation="fade" />
              <q-skeleton type="text" square height="12px" width="75%" animation="fade" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MoviesLoadingGrid',
  }
</script>

<style lang="stylus" scoped>
  .skl
    background white
    box-shadow 0 2px 8px 0 rgba(0,0,0,0.14) !important
    border-radius 4px
    margin-bottom 20px
    width 300px
</style>
