<template>
  <div class="movie-carousel">
    <div class="lb" v-if="movies.data.length">
      <div class="tin"></div>
      <q-btn flat round @click.prevent="leftS" class="prv">
        <chevron-left-icon size="1.5x"/>
      </q-btn>
    </div>
    <div class="movie-scroll-paginate-caorusel" :class="sc" @scroll="onScroll">
      <div class="card" v-for="item,k in movies.data" v-if="!loading">
        <movies-grid-card :item="item" :key="k"/>
      </div>
      <!--<div class="card" v-if="!loading && movies.has_more_pages">-->
        <!--<app-loading-card-grid/>-->
      <!--</div>-->
      <div class="card" v-for="n in 5" v-if="loading">
        <app-loading-card-grid/>
      </div>
    </div>
    <div class="rb" v-if="movies.data.length">
      <div class="tin2"></div>
      <q-btn flat round @click.prevent="rightS" class="nxt">
        <chevron-right-icon size="1.5x"/>
      </q-btn>
    </div>
  </div>
</template>

<script>
  import ChevronLeftIcon from "vue-feather-icons/icons/ChevronLeftIcon";
  import ChevronRightIcon from "vue-feather-icons/icons/ChevronRightIcon";
  import MoviesGridCard from "./MoviesGridCard";
  import AppLoadingCardGrid from "../app/AppLoadingCardGrid";

  export default {
    name: 'MovieScrollPaginateCaorusel',
    components: {AppLoadingCardGrid, MoviesGridCard, ChevronRightIcon, ChevronLeftIcon},
    props: {
      sc: {
        type: String,
        default: 'sc'
      },
      movies: {
        type: Object,
        default: () => {},
      },
      loading: {
        type: Boolean,
        default: false,
      }
    },

    data() {
      return {
        scrollPos: 0,
      }
    },

    methods: {
      scrollToSW(element, scrollPixels, duration) {
        let _this = this;
        const scrollPos = element.scrollLeft;
        // Condition to check if scrolling is required
        if (!((scrollPos === 0 || scrollPixels > 0) && (element.clientWidth + scrollPos === element.scrollWidth || scrollPixels < 0))) {
          // Get the start timestamp
          const startTime =
            "now" in window.performance
              ? performance.now()
              : new Date().getTime();

          function scroll(timestamp) {
            //Calculate the timeelapsed
            const timeElapsed = timestamp - startTime;
            //Calculate progress
            const progress = Math.min(timeElapsed / duration, 1);
            //Set the scrolleft
            element.scrollLeft = scrollPos + scrollPixels * progress;
            _this.scrollPos = element.scrollLeft;
            //Check if elapsed time is less then duration then call the requestAnimation, otherwise exit
            if (timeElapsed < duration) {
              //Request for animation
              window.requestAnimationFrame(scroll);
            } else {
              return;
            }
          }

          //Call requestAnimationFrame on scroll function first time
          window.requestAnimationFrame(scroll);
        }
      },
      rightS() {
        let content = document.querySelector("." + this.sc);
        this.scrollToSW(content, 500, 500);
      },
      leftS() {
        let content = document.querySelector("." + this.sc);
        this.scrollToSW(content, -500, 500);
      },
      onScroll({ target: { scrollLeft, clientWidth, scrollWidth }}) {
        // if(scrollWidth + scrollWidth >= scrollWidth){
        //   this.$emit('nextPage')
        // }
        let pos = scrollWidth - clientWidth;
        if(pos === scrollLeft){
          this.$emit('nextPage')
        }
        console.log(scrollLeft)
        console.log(clientWidth)
        console.log(scrollWidth)
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .movie-scroll-paginate-caorusel
    display flex
    flex-wrap nowrap
    overflow-x auto
    -webkit-overflow-scrolling touch
    min-height 286px
    &::-webkit-scrollbar
      width 1px
      height 1px
    &::-webkit-scrollbar-button
      width 1px
      height 1px
    .card
      flex 0 0 auto
      margin 8px
      &:first-child
        margin-left 0

  .movie-carousel
    position relative
    .lb
      position absolute
      height 100%
      display flex
      align-items center
      left 0
      z-index: 100;
      top 0
      .q-btn
        margin-top -21px
        margin-left -21px
        background white
        color var(--q-color-primary)
        box-shadow 0 1px 10px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .15)
        transition transform .2s ease-in-out, -webkit-transform .2s ease-in-out
    .rb
      position absolute
      height 100%
      display flex
      align-items center
      right 0
      top 0
      z-index: 100;
      .q-btn
        margin-top -21px
        margin-right -21px
        background white
        color var(--q-color-primary)
        box-shadow 0 1px 10px rgba(0, 0, 0, .1), 0 1px 1px rgba(0, 0, 0, .15)
        transition transform .2s ease-in-out, -webkit-transform .2s ease-in-out
    .tin
    .tin2
      position: absolute
      width 20px
      bottom -2px
      pointer-events: none
      z-index: 2
      top: -16px
    .tin
      left -20px
      -webkit-box-shadow 8px 0 12px -8px rgba(0, 0, 0, .3)
      box-shadow 8px 0 12px -8px rgba(0, 0, 0, .3)
      display block
    .tin2
      right -20px
      -webkit-box-shadow -8px 0 12px -8px rgba(0, 0, 0, .3)
      box-shadow -8px 0 12px -8px rgba(0, 0, 0, .3)
      display block
</style>
