<template>
  <div class="movies-create-new-collection shadow-2">
    <q-input dense outlined class="q-mb-sm" />
    <q-list dense>
      <q-item clickable>
        <q-item-section>Коллекция 1(1)</q-item-section>
      </q-item>
      <q-item clickable>
        <q-item-section>Коллекция 2(2)</q-item-section>
      </q-item>
      <q-item clickable>
        <q-item-section>Коллекция 2(2)</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
  export default {
    name: 'MoviesCreateNewCollection'
  }
</script>

<style lang="stylus" scoped>
  .movies-create-new-collection
    background white
    padding 10px
    border-radius 4px
    position absolute
    margin-top 5px
    top 0
</style>
