<template>
  <div class="movies-collections-card-item">
    <router-link :to="{name: 'collections.slug', params:{slug: item.slug}}" class="movies-card-slide-item_img">
      <q-img
        :src="item.posterImage"
        spinner-color="white"
        class="rounded-borders shadow-3 im"
      >
        <div class="absolute-full flex flex-center column">
          <p v-html="item.name" class="movies-collections-card-item_name text-center"></p>
        </div>
      </q-img>
      <div class="ava" v-if="item.user !== undefined">
        <q-avatar size="80px" class="shadow-2">
          <img :src="item.user.avatarImage">
        </q-avatar>
      </div>
      <div class="movies-collections-card-item_type" v-if="type">
        <q-btn size="12px">{{item.type | tp}}</q-btn>
      </div>

    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'MoviesCollectionsCardItem',

    props: {
      item: {
        type: Object,
        default: () => {
        }
      },
      type:{
        type: Boolean,
        default:  false
      }
    },

    filters: {
      tp: function (value) {
        let arr = {'public':'Публичная', 'private': 'Приватная'};
        return arr[value];
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .movies-collections-card-item
    width 330px
    position relative
    &_name
      font-size 18px
    .ava
      display flex
      align-items center
      justify-content center
      margin-top -60px
    &_type
      display flex
      width 100%
      height 100%
      align-items flex-end
      justify-content center
      position absolute
      left 0
      top 0
      padding 15px
      .q-btn
        background white
        color $dark
        text-transform none
        font-style italic
    .im
      height 250px
      max-width 330px
</style>
