<template>
  <div class="menu-moble-header">
    <div class="row">
      <div class="col-xs-10 flx">
        <router-link to="/">
          <q-icon name="fas lg-logo2" size="25px" style="width: 95px; margin-top: -5px">

          </q-icon>
        </router-link>
      </div>
      <div class="col-xs-2 text-right">
        <q-btn flat round size="12px" @click="$emit('closeLeftMenu')"><x-icon size="2.5x"/></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
  import XIcon from "vue-feather-icons/icons/XIcon";
  export default {
    name: 'MenuMobleHeader',
    components: {XIcon}
  }
</script>

<style lang="stylus" scoped>
  .menu-moble-header
    height 65px
    padding 10px
    .flx
      display flex
      align-items center
      justify-content center
</style>
