<template>
  <div class="menu-footer3">
    <!--<h2>Служба поддержки</h2>-->
    <nav>
      <!--<router-link to="#">Мой счет</router-link>-->
      <!--<router-link to="#">Часто задаваемые вопросы</router-link>-->
      <!--<router-link to="#">Смотреть по телевизору</router-link>-->
      <!--<router-link to="#">Центр помощи</router-link>-->
      <router-link to="#">Контакты</router-link>
    </nav>
  </div>
</template>

<script>
  export default {
    name: 'MenuFooter3'
  }
</script>

<style lang="stylus" scoped>
  .menu-footer3
    margin-bottom 20px
    h2
      font-size 18px
      text-transform uppercase
      margin-bottom 40px
    nav
      display flex
      flex-direction column
      a
        color white
        display block
        margin-bottom 10px
        &:hover
          text-decoration underline
</style>
