<template>
  <div class="menu-main1 full-width">
    <div class="container">
      <ul class="ul bg-white">
        <li>
          <router-link class="link" to="/" v-ripple>
            <home-icon size="1.2x" class="l-ico"/>
            Главная
          </router-link>
        </li>
        <li>
          <router-link class="link" :class="{'router-link-exact-active': $route.params.catalog === 'films'}" :to="{name: 'catalog', params: {catalog: 'films', sub_catalog:'all'}}" v-ripple>Фильмы
            <chevron-down-icon size="1.2x" class="r-ico"/>
          </router-link>
          <ul class="bg-white">
            <li>
              <menu-films/>
            </li>
          </ul>
        </li>
        <li>
          <router-link class="link" :class="{'router-link-exact-active': $route.params.catalog === 'serials'}" :to="{name: 'catalog', params: {catalog: 'serials', sub_catalog:'all'}}" v-ripple>Сериалы
            <chevron-down-icon size="1.2x" class="r-ico"/>
          </router-link>
          <ul class="bg-white">
            <li>
              <menu-serials/>
            </li>
          </ul>
        </li>
        <li>
          <router-link class="link" :class="{'router-link-exact-active': $route.params.catalog === 'cartoons'}" :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'all'}}" v-ripple>Мультфильмы
            <chevron-down-icon size="1.2x" class="r-ico"/>
          </router-link>
          <ul class="bg-white">
            <li>
              <menu-cartoons/>
            </li>
          </ul>
        </li>
        <li>
          <router-link class="link" to="/collections" v-ripple>Подборки</router-link>
        </li>
      </ul>
    </div>
  </div>





</template>

<script>
  import HomeIcon from "vue-feather-icons/icons/HomeIcon";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import MenuFilms from "./MenuFilms";
  import MenuSerials from "./MenuSerials";
  import MenuCartoons from "./MenuCartoons";
  export default {
    name: 'MenuMain1',
    components: {MenuCartoons, MenuSerials, MenuFilms, ChevronDownIcon, HomeIcon}
  }
</script>

<style lang="stylus" scoped>
  .menu-main1
    padding-top 20px
    &.active
      padding-top 5px
    ul.ul
      display flex
      margin 0
      height 50px
      align-items center
      padding 15px
      border-radius 6px
      position relative
      z-index 1001
      box-shadow 0 3px 5px rgba(0,0,0,0.03)
      li
        list-style none
        &:hover
          ul
            display block
            position absolute
            left 0
            width 100%
            margin-top 4px
            padding-top 15px
            border-radius 0 0 6px 6px
        ul
          display none
        .link
          display flex
          align-items center
          padding 0 25px
          color $grey-9
          height 35px
          position relative
          border-radius 4px
          margin-right 40px
          .r-ico
            margin-left 10px
          .l-ico
            margin-right 10px
          &.router-link-exact-active
            background-color var(--q-color-primary)
            //box-shadow 0 0 6px 1px rgba($primary,.6)
            box-shadow 0 0 6px 1px lighten($primary, 60%)

            //box-shadow 0 0 6px 1px var(--q-color-primary)+66
            //box-shadow 0 0 6px 1px rgba(red(var(--q-color-primary)), green(var(--q-color-primary)), blue(var(--q-color-primary)), .6)
            color white
            &:hover
              color white
              background-color var(--q-color-primary)
          &:hover
            color var(--q-color-primary)
            background $grey-2
</style>
