<template>
  <div class="menu-cartoons">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-4 xl-hide lg-hide md-hide">
        <nav :class="$mq">
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'all'}}">Все мультфильмы</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'recommendations'}}">Рекомендации</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'popular'}}">Популярные</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'novelty'}}">Новинки</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'expect'}}">Ожидаемые</router-link>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-4">
        <mmovies-block-day-film title="Мультфильм дня" type="cartoons"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-4 xs-hide sm-hide">
        <nav :class="$mq">
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'all'}}">Все мультфильмы</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'recommendations'}}">Рекомендации</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'popular'}}">Популярные</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'novelty'}}">Новинки</router-link>
          <router-link :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'expect'}}">Ожидаемые</router-link>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-4">
        <movies-block-random-film title="Случайный мультфильм" type="cartoons"/>
      </div>
    </div>
  </div>
</template>

<script>
  import MmoviesBlockDayFilm from "../movies/MmoviesBlockDayFilm";
  import MoviesBlockRandomFilm from "../movies/MoviesBlockRandomFilm";
  export default {
    name: 'MenuCartoons',
    components: {MoviesBlockRandomFilm, MmoviesBlockDayFilm}
  }
</script>

<style lang="stylus" scoped>
  .menu-cartoons
    nav
      display flex
      flex-direction column
      padding 40px 100px
      &.xs
      &.sm
        padding 10px 0
        a
          padding-left 30px
      a
        color #757575
        display block
        margin-bottom 15px
        font-weight bold
        font-family 'Montserrat'
        &.router-link-exact-active
        &:hover
          color var(--q-color-primary)
</style>

