<template>
  <div class="menu-footer2">
    <h2>Категории сериалов</h2>
    <div class="row">
      <div class="col-6">
        <nav>
          <router-link to="#">Приключение</router-link>
          <router-link to="#">Анимация</router-link>
          <router-link to="#">Комедия</router-link>
          <router-link to="#">Преступление</router-link>
          <router-link to="#">Драма</router-link>
          <router-link to="#">Ужастик</router-link>
          <router-link to="#">Романс</router-link>
        </nav>
      </div>
      <div class="col-6">
        <nav>
          <router-link to="#">Приключение</router-link>
          <router-link to="#">Анимация</router-link>
          <router-link to="#">Комедия</router-link>
          <router-link to="#">Преступление</router-link>
          <router-link to="#">Драма</router-link>
          <router-link to="#">Ужастик</router-link>
          <router-link to="#">Романс</router-link>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuFooter2'
  }
</script>

<style lang="stylus" scoped>
  .menu-footer2
    margin-bottom 20px
    h2
      font-size 18px
      text-transform uppercase
      margin-bottom 40px
    nav
      display flex
      flex-direction column
      a
        color white
        display block
        margin-bottom 10px
        &:hover
          text-decoration underline
</style>
