<template>
  <div class="menu-mobile-left">
    <q-list>
      <q-item clickable v-ripple to="/">
        <q-item-section avatar style="min-width: 25px">
          <home-icon size="1.1x"/>
        </q-item-section>
        <q-item-section>Главная</q-item-section>
      </q-item>

      <q-expansion-item
        group="somegroup"
        label="Фильмы"
        ref="exp1"
      >
        <menu-films/>
      </q-expansion-item>
      <q-expansion-item
        group="somegroup"
        label="Сериалы"
        ref="exp2"
      >
        <menu-serials/>
      </q-expansion-item>
      <q-expansion-item
        group="somegroup"
        label="Мультфильмы"
        ref="exp3"
      >
        <menu-cartoons/>
      </q-expansion-item>

      <q-item clickable v-ripple to="/collections">
        <q-item-section>Подборки</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
  import HomeIcon from "vue-feather-icons/icons/HomeIcon";
  import ChevronRightIcon from "vue-feather-icons/icons/ChevronRightIcon";
  import MenuFilms from "./MenuFilms";
  import MenuSerials from "./MenuSerials";
  import MenuCartoons from "./MenuCartoons";

  export default {
    name: 'MenuMobileLeft',
    components: {MenuCartoons, MenuSerials, MenuFilms, ChevronRightIcon, HomeIcon},

    props: {
      left: {
        type: Boolean,
        default: false
      },
    },

    watch:{
      left(){
        this.$refs.exp1.hide();
        this.$refs.exp2.hide();
        this.$refs.exp3.hide();
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .menu-mobile-left
    padding 15px
    ul
      margin 0
      padding 0
      li
        list-style none
        margin-bottom 2px
        ul
          padding 15px 0
        &:first-child
          a
            justify-content flex-start
            .feather
              margin-right 10px
        a
          padding 10px
          display flex
          justify-content space-between
          align-items center
          color $dark
          border-radius 4px
          &.active
          &.router-link-exact-active
            background $grey-2
        .feather
          transition all .2s ease-out
          &.active
            transform rotate(90deg)
    a
      padding 10px
      display flex
      justify-content space-between
      align-items center
      color $dark
      border-radius 4px
      &.active
      &.router-link-exact-active
        background $grey-2
</style>
