<template>
  <div class="menu-main-wrap full-width" :class="{active: $showTopMenuAlways}"  @mouseleave="$showTopMenu = false">
    <div class="container">
      <nav class="menu-main bg-white" @click.stop>
        <router-link to="/" @mouseover.native="showSub = false" v-ripple>
          <home-icon size="1.2x" class="l-ico"/>
          Главная
        </router-link>
        <router-link :class="{'router-link-exact-active': $route.params.catalog === 'films'}" :to="{name: 'catalog', params: {catalog: 'films', sub_catalog:'all'}}" @mouseover.native="setComp('MenuFilms')" v-ripple>Фильмы
          <chevron-down-icon size="1.2x" class="r-ico"/>
        </router-link>
        <router-link :class="{'router-link-exact-active': $route.params.catalog === 'serials'}" :to="{name: 'catalog', params: {catalog: 'serials', sub_catalog:'all'}}" @mouseover.native="setComp('MenuSerials')" v-ripple>Сериалы
          <chevron-down-icon size="1.2x" class="r-ico"/>
        </router-link>
        <router-link :class="{'router-link-exact-active': $route.params.catalog === 'cartoons'}" :to="{name: 'catalog', params: {catalog: 'cartoons', sub_catalog:'all'}}" @mouseover.native="setComp('MenuCartoons')" v-ripple>Мультфильмы
          <chevron-down-icon size="1.2x" class="r-ico"/>
        </router-link>
        <router-link to="/collections" @mouseover.native="showSub = false" v-ripple>Подборки</router-link>
      </nav>
        <!--<div class="menu-main_sub" v-if="showSub" @mouseleave="showSub = false">-->
        <!--<div class="menu-main_sub" v-if="showSub">-->
          <!--<div class="container">-->
            <!--<div class="menu-main_sub-container shadow-4 bg-white">-->
              <!--<component :is="component"></component>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <q-scroll-observer @scroll="showSub = false"/>
      <q-menu fit v-model="showSub" content-class="sh no-shadow">
        <div class="q-pa-md bg-white nn shadow-4">
          <component :is="component"></component>
        </div>
      </q-menu>
    </div>
  </div>
</template>

<script>
  import HomeIcon from "vue-feather-icons/icons/HomeIcon";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import MenuFilms from "./MenuFilms";
  import MenuSerials from "./MenuSerials";
  import MenuCartoons from "./MenuCartoons";

  export default {
    name: 'MenuMain',
    components: {MenuCartoons, MenuSerials, MenuFilms, ChevronDownIcon, HomeIcon},

    data() {
      return {
        showSub: false,
        component: null,
      }
    },

    methods: {
      setComp(name) {
        this.component = name;
        this.showSub = true;
      }
    },

    watch: {
     '$route': function () {
       this.showSub = false;
     }
    },

  }
</script>

<style lang="stylus">
  .menu-main-wrap
    padding-top 20px
    &.active
      padding-top 5px
  .menu-main
    display flex
    height 50px
    align-items center
    padding 15px
    border-radius 6px
    position relative
    z-index 1001
    box-shadow 0 3px 5px rgba(0,0,0,0.03)
    a
      display flex
      align-items center
      padding 0 25px
      color $grey-9
      height 35px
      position relative
      border-radius 4px
      margin-right 40px
      .r-ico
        margin-left 10px
      .l-ico
        margin-right 10px
      &.router-link-exact-active
        background-color var(--q-color-primary)
        //box-shadow 0 0 6px 1px rgba($primary,.6)
        box-shadow 0 0 6px 1px lighten($primary, 60%)

        //box-shadow 0 0 6px 1px var(--q-color-primary)+66
        //box-shadow 0 0 6px 1px rgba(red(var(--q-color-primary)), green(var(--q-color-primary)), blue(var(--q-color-primary)), .6)
        color white
        &:hover
          color white
          background-color var(--q-color-primary)
      &:hover
        color var(--q-color-primary)
        background $grey-2
    &_sub
      position absolute
      left 0
      width 100%
      z-index 1000
    &_sub-container
      margin-top -6px
      min-height 320px
      border-radius 6px
      padding 26px 20px 20px 20px
      position relative
      .movies-grid-card
        margin-bottom 0
  .sh
    //overflow hidden
    background transparent !important
    .nn
      margin 0 15px
      border-radius 6px
      margin-top -20px
      padding-top 25px

</style>
