<template>
  <tbody>
    <tr v-for="r,k in rows">
      <td v-for="c in cols" style="padding: 15px">
        <div :style="{height:sch+'px'}">
          <q-skeleton :height="sch+'px'" type="rect"/>
        </div>
      </td>
    </tr>
  </tbody>
</template>

<script>
  export default {
    name: 'TableLoading',

    props: {
      cols: {
        type: Number,
        default: 5
      },
      rows: {
        type: Number,
        default: 5
      },
      sch: {
        type: Number,
        default: 5
      },
    },
  }
</script>

<style lang="stylus" scoped>

</style>
