<template>
  <div class="table-data">
    <slot name="before-table"/>
    <table>
      <thead>
        <tr>
          <th
            v-for="column,k in columns"
            :align="column.align"
            :width="column.width"
          >
            <div class="th" :class="'flx-'+column.align">
              <div class="sort" v-if="column.sortable" @click="setSort(column)">
                <q-icon name="arrow_drop_up" :class="{active: sortBy === 'asc' && column.name === sortName}"/>
                <q-icon name="arrow_drop_down" :class="{active: sortBy === 'desc' && column.name === sortName}"/>
              </div>
              <div class="label">{{column.label}}</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody v-if="!loading">
        <slot name="tbodytr"/>
      </tbody>
      <slot v-else name="loading"/>
    </table>
    <slot name="after-table"/>
  </div>
</template>

<script>
  export default {
    name: 'TableData',

    props: {
      columns: {
        type: Array,
        default: () => [],
      },
      rows: {
        type: Array,
        default: () => {},
      },
      sortBy: {
        type: String,
        default: 'asc',
      },
      sortName: {
        type: String,
        default: null,
      },
      loading: {
        type: Boolean,
        default: false,
      },
    },

    methods: {
      setSort(column) {
        //console.log(column)
        if(this.sortBy === 'asc'){
          this.$emit('onSort',{
            sortBy: 'desc',
            sortName: column.name
          })
        }else {
          this.$emit('onSort',{
            sortBy: 'asc',
            sortName: column.name
          })
        }
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .table-data
    table
      width 100%
      border-collapse collapse
      thead
        tr
          th
            padding 5px 10px
            font-weight normal
            .th
              display flex
              align-items center
              &.flx-center
                justify-content center
              .sort
                display flex
                flex-direction column
                margin-right 10px
                cursor pointer
                .q-icon
                  font-size 20px
                  height 7px
                  width 10px
                  color #d6d6d6
                  &.active
                    color var(--q-color-primary)
      tbody
        tr
          border-bottom 1px solid #e4e4e4
          td
            padding 15px
</style>
