<template>
  <div class="user-auth-soc">
    <q-btn class="soc-btn vk-btn" @click="loginSoc('vkontakte')" :loading="loading['vkontakte']"><i class="fab fa-vk"></i></q-btn>
    <q-btn class="soc-btn facebook-btn" @click="loginSoc('facebook')" :loading="loading['facebook']"><i class="fab fa-facebook-f"></i></q-btn>
    <q-btn class="soc-btn google-btn" @click="loginSoc('google')" :loading="loading['google']"><i class="fab fa-google"></i></q-btn>
    <q-btn class="soc-btn yandex-btn" @click="loginSoc('yandex')" :loading="loading['yandex']"><i class="fab fa-yandex"></i></q-btn>
    <q-btn class="soc-btn mailru-btn" @click="loginSoc('mailru')" :loading="loading['mailru']"><i class="fas fa-at"></i></q-btn>
  </div>
</template>

<script>
  import FacebookIcon from "vue-feather-icons/icons/FacebookIcon";
  import InstagramIcon from "vue-feather-icons/icons/InstagramIcon";
  import {mapActions} from 'vuex'
  import socAuth from '../../boot/social'

  export default {
    name: 'UserAuthSoc',
    components: {InstagramIcon, FacebookIcon},

    data(){
      return{
        loading:{
          vkontakte: false,
          facebook: false,
          google: false,
          yandex: false,
          mailru: false,
        }
      }
    },

    methods: {
      ...mapActions('user', ['loginSocial', 'userSocData']),
      loginSoc(network) {
        socAuth(network).then(response => {
          //console.log(response)
          this.loading[network] = true;
          this.userSocData(response).then(response => {
            this.loginSocial({data: JSON.stringify(response), network: network}).then(response => {
              this.loading[network] = false;
              this.$root.$emit('onLogin', response);
            }).catch(err => {
              this.loading[network] = false;
            })
          });
        });

      }
    },

  }
</script>

<style lang="stylus" scoped>
  .user-auth-soc
    display flex
    align-items center
    justify-content space-between
    .q-btn:hover
      color var(--q-color-primary)
    .soc-btn
      color white
      &:hover
        color white
    .vk-btn
      background #556f92
    .facebook-btn
      background #3b579e
    .google-btn
      background #4d80fd
    .yandex-btn
      background #ff0303
    .mailru-btn
      background #488de8
</style>
