<template>
  <q-form class="user-auth-form" @submit="submit">
    <div class="user-auth-form_head q-mb-md">
      <div class="row">
        <div class="col-xs-6 col-lg-6 flex self-center">
          <h2>Вход</h2>
        </div>
        <div class="col-xs-6 col-lg-6 flex self-center">
          <a href="javascript:void(0)" @click="$emit('valueUpdated', 'UserRegisterForm')">Регистрация</a>
        </div>
      </div>
    </div>
    <q-separator class="q-mb-md"/>
    <div class="user-auth-form_content">
      <div class="field">
        <p>Воспользуйтесь<br/> социальными сетями для входа.</p>
        <user-auth-soc/>
      </div>
      <div class="field">
        <label>Логин или E-mail</label>
        <q-input v-model="form.username" outlined dense placeholder="Имя пользователя"
                 @blur="$v.form.username.$touch"
                 :error="$v.form.username.$error"
        />
      </div>
      <div class="field">
        <label>Пароль</label>
        <q-input v-model="form.password" type="password" outlined dense
                 @blur="$v.form.password.$touch"
                 :error="$v.form.password.$error"
        />
      </div>
      <div class="row q-col-gutter-sm" style="font-size: 12px">
        <div class="col-lg-12">
          <q-checkbox v-model="form.remember_me" label="Запомнить меня" />
          <div class="fgp">
            <a href="javascript:void(0)">Забыли пароль?</a>
          </div>
        </div>
      </div>
    </div>
    <div class="user-auth-form_actions">
      <q-btn type="submit" :loading="loading" no-caps color="primary" class="full-width text-bold" label="Войти"/>
    </div>
  </q-form>
</template>

<script>
  import { required, email } from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'
  import UserAuthSoc from "./UserAuthSoc";

  export default {
    name: 'UserAuthForm',
    components: {UserAuthSoc},
    data() {
      return {
        form: {
          username: null,
          password: null,
          remember_me: false,
        },
        loading: false,
      }
    },

    validations: {
      form:{
        username: {required},
        password: {required},
      }
    },

    methods: {
      ...mapActions('user', ['auth']),
      submit() {
        this.$v.form.$touch();
        if (this.$v.form.$error) {
          this.$q.notify({
            color: 'negative',
            message: 'Заполните обязательные поля!',
          })
          return;
        }

        this.loading = true;
        this.auth(this.form).then(response => {
          this.loading = false;
          this.$root.$emit('onLogin', response);
        }).catch(err => {
          this.loading = false;
        })
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .user-auth-form
    width 300px
    padding 15px
    h2
      font-size 16px
      margin 0
      font-weight bold
      text-transform uppercase
    &_head
      a
        color var(--q-color-primary)
        text-decoration underline
        text-transform uppercase
        font-size 12px
    &_content
      .field
        margin-bottom 10px
        label
          display block
          margin-bottom 5px
    &_actions
      padding 10px 0
    .q-field--error .q-field__bottom
      display none
    .q-field--with-bottom
      padding-bottom 0
    .fgp
      padding-left 40px
      margin-top -5px
      position relative
      a
        text-decoration underline

</style>
