<template>
  <q-form class="user-register-form" @submit="submit">
    <div class="user-register-form_head q-mb-md">
      <div class="row q-col-gutter-md">
        <div class="col-xs-6 col-lg-6 flex self-center">
          <h2>Регистрация</h2>
        </div>
        <div class="col-xs-6 col-lg-6 flex self-center">
          <a href="javascript:void(0)" @click="$emit('valueUpdated', 'UserAuthForm')">Авторизация</a>
        </div>
      </div>
    </div>
    <q-separator class="q-mb-md"/>
    <div class="user-register-form_contents">
      <div class="field" style="margin-bottom: 10px">
        <label style="display: block; margin-bottom: 5px">Логин</label>
        <q-input v-model="form.login" outlined dense placeholder="Логин"
                 @blur="$v.form.login.$touch"
                 :error="$v.form.login.$error"
                 :loading="loadingLogin"
                 :class="{success: !loadingLogin && !$v.form.login.$error && $v.form.login.isUnique && $v.form.login.$model}"
        >
          <template v-slot:append v-if="!loadingLogin && !$v.form.login.$error && $v.form.login.isUnique && $v.form.login.$model">
            <q-icon name="check_circle_outline" color="green" />
          </template>
        </q-input>
      </div>
      <div class="field" style="margin-bottom: 10px">
        <label style="display: block; margin-bottom: 5px">E-mail</label>
        <q-input v-model="form.email" outlined dense placeholder="E-mail"
                 @blur="$v.form.email.$touch"
                 :error="$v.form.email.$error"
                 :loading="loadingEmail"
                 :class="{success: !loadingEmail && !$v.form.email.$error && $v.form.email.isUnique && $v.form.email.$model}"
        >
          <template v-slot:append v-if="!loadingEmail && !$v.form.email.$error && $v.form.email.isUnique && $v.form.email.$model">
            <q-icon name="check_circle_outline" color="green" />
          </template>
        </q-input>
      </div>
      <div class="field" style="margin-bottom: 10px">
        <label style="display: block; margin-bottom: 5px">Пароль</label>
        <q-input v-model="form.password" type="password" outlined dense
                 @blur="$v.form.password.$touch"
                 :error="$v.form.password.$error"
        />
      </div>
      <div class="field" style="margin-bottom: 10px">
        <label style="display: block; margin-bottom: 5px">Пароль повторно</label>
        <q-input v-model="form.password_confirmation" type="password" outlined dense
                 @blur="$v.form.password_confirmation.$touch"
                 :error="$v.form.password_confirmation.$error"

        />
      </div>
    </div>
    <div class="user-register-form_actions">
      <q-btn type="submit" :loading="loading" no-caps color="primary" class="full-width text-bold" label="Регистрация"/>
    </div>
  </q-form>
</template>

<script>
  import {minLength, required, sameAs, email} from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'

  export default {
    name: 'UserRegisterForm',

    data() {
      return {
        form: {
          login: null,
          email: null,
          password: null,
          password_confirmation: null,
        },
        loading: false,
        loadingLogin: false,
        loadingEmail: false,
      }
    },

    validations: {
      form: {
        login: {
          required,
          isUnique(value) {
            if (value === '') return true
            return new Promise((resolve, reject) => {
              this.loadingLogin = true;
              setTimeout(() => {
              this.checkRegister({field: 'login', name: value}).then(response => {
                this.loadingLogin = false;
                resolve(response)
              }).catch(err => {
                this.loadingLogin = false;
                resolve(false)
              })
              }, 2000)
            })
          }
        },
        email: {required, email,
          isUnique(value) {
            if (value === '') return true
            return new Promise((resolve, reject) => {
              this.loadingEmail = true;
              setTimeout(() => {
                this.checkRegister({field: 'email', name: value}).then(response => {
                  this.loadingEmail = false;
                  resolve(response)
                }).catch(err => {
                  this.loadingEmail = false;
                  resolve(false)
                })
              }, 2000)
            })
          }
        },
        password: {required, minLength: minLength(8)},
        password_confirmation: {required, sameAsPassword: sameAs('password')},
      }
    },

    methods: {
      ...mapActions('user', ['register', 'checkRegister']),
      submit() {
        this.valid().then(response => {
          this.loading = true;
          this.register(this.form).then(resp => {
            this.loading = false;
            this.$root.$emit('onLogin', resp);
          }).catch(err => {
            this.loading = false;
          })
        })
      },
      valid() {
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr = [];
          if (this.$v.form.$error) {
            if (!this.$v.form.login.required) {
              arr.push('<li>Логин обязательно.</li>');
            }
            if (!this.$v.form.email.required) {
              arr.push('<li>E-mail обязательно.</li>');
            }
            if (!this.$v.form.password.required) {
              arr.push('<li>Пароль обязательно.</li>');
            }
            if (!this.$v.form.password_confirmation.required) {
              arr.push('<li>Повтор пароля обязательно.</li>');
            }
            if (!this.$v.form.password.minLength) {
              arr.push('<li>Пароль должен быть минимум 8 символов</li>');
            }
            if (this.$v.form.password_confirmation.required && !this.$v.form.password_confirmation.sameAsPassword) {
              arr.push('<li>Пароли не совпадают</li>');
            }
            this.$q.notify({
              message: '<ul>' + arr.join('') + '</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      }
    },

  }
</script>

<style lang="stylus">
  .user-register-form
    width 300px
    padding 15px
    h2
      font-size 16px
      margin 0
      font-weight bold
      text-transform uppercase
    &_head
      a
        color var(--q-color-primary)
        text-decoration underline
        text-transform uppercase
        font-size 12px
    &_content
      .field
      margin-bottom 10px
      label
        display block
        margin-bottom 5px
    &_actions
      padding 10px 0
    .q-field--error .q-field__bottom
      display none
    .q-field--with-bottom
      padding-bottom 0
    .green
      .q-field--outlined
      .q-field__control:before
        border-color $green
    .success
      .q-field__control
        color $green
      .q-field--outlined
      .q-field__control:before
        border-color $green
</style>
