<template>
  <div class="user-my-book-menu">
    <h3>Подборки</h3>
    <div class="list">
      <q-list dense v-if="lists.length">
        <template v-for="list,k in lists">
          <q-item clickable v-ripple>
            <q-item-section avatar style="min-width:30px">
              <q-icon name="fas colect-icon-11" style="font-size: 18px" v-if="list.type === 'private'"/>
              <q-icon name="fas colect-icon-09" style="font-size: 18px" v-if="list.type === 'public'"/>
            </q-item-section>
            <q-item-section @click="$router.push({name: 'collections.slug', params:{slug: list.slug}})">
              {{list.name}} ({{list.countItems}})
            </q-item-section>
            <q-item-section side>
              <q-icon @click="edit(list)" name="edit" class="ac" size="16px"/>
            </q-item-section>
            <q-item-section side>
              <q-icon @click="remove(list)" name="close" class="ac" size="16px"/>
            </q-item-section>
          </q-item>
          <q-separator/>
        </template>
      </q-list>
      <div class="add-item">
        <div @click="showForm = true" class="bt-add-new" v-if="!showForm" v-ripple>
          <q-icon name="fas colect-icon-01"/>
          Создать новую подборку
        </div>
        <div class="bt-add-new-form" v-if="showForm">
          <div class="bt-add-new-input">
            <q-icon name="fas colect-icon-01"/>
            <input v-model="form.name" placeholder="Название подборки"/></div>
          <div class="bt-add-new-actions">
            <div class="row">
              <div class="col-lg-2 flex flex-center">
                <field-public-private v-model="form.type"/>
              </div>
              <div class="col-lg-10 flex flex-center">
                <q-btn label="Отмена" @click="showForm = false" flat class="cancel-btn" no-caps/>
                <q-btn :label="form.id ? 'Сохранить' : 'Добавить'" :loading="loading" @click="submit" flat class="add-btn" no-caps/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {required} from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'
  import FieldPublicPrivate from "../../fields/FieldPublicPrivate";

  export default {
    name: 'UserMyBookMenu',
    components: {FieldPublicPrivate},
    data() {
      return {
        lists: [],
        loading: false,
        loadingList: false,
        showForm: false,
        form: {
          id: null,
          name: null,
          type: 'public'
        },
      }
    },

    validations: {
      form: {
        name: {required},
      }
    },

    methods: {
      ...mapActions('collections', ['getCollectionsSett', 'addCollection', 'addCollectionItem', 'removeCollection']),
      getLists() {
        this.loadingList = true;
        this.getCollectionsSett().then(response => {
          this.lists = response;
          this.loadingList = false;
        }).catch(err => {
          this.loadingList = false;
        })
      },
      submit() {
        this.valid().then(() => {
          this.loading = true;
          this.addCollection(this.form).then(response => {
            this.loading = false;
            this.form.name = null;
            this.getLists();
            this.showForm = false;
          }).catch(err => {
            this.loading = false;
          })
        })
      },
      valid() {
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr = [];
          if (this.$v.form.$error) {
            if (!this.$v.form.name.required) {
              arr.push('<li>Название подборки обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>' + arr.join('') + '</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      },
      addTo(list) {
        // this.addCollectionItem({
        //   collection_id: list.id,
        //   movie_id: this.item.id,
        // }).then(response => {
        //   this.lists = response;
        // })
      },
      edit(list){
        this.form = {
          id: list.id,
          name: list.name,
          type: list.type,
        }
        this.showForm = true;
      },
      remove(list){
        this.removeCollection({id:list.id}).then(response => {
          this.getLists();
        })
      }
    },

    created() {
      this.getLists();
    }
  }
</script>

<style lang="stylus" scoped>
  .user-my-book-menu
    h3
      text-align center
      font-size 16px
      font-weight normal
    .list
      .add-item
        .bt-add-new
          padding 15px
          background white
          text-align center
          cursor pointer
          position relative
          .q-icon
            font-size 16px
            margin-right 10px
        .bt-add-new-input
          padding 15px
          display flex
          align-items center
          input
            width 100%
            background white
            border none
          .q-icon
            font-size 16px
            margin-right 10px
        .bt-add-new-actions
          padding 15px 0 15px 0
          border-top 1px solid #F2F2F2
          .cancel-btn
            border 1px solid #F2F2F2
            border-radius 0
            margin-right 10px
          .add-btn
            border-radius 0
            background #F2F2F2
            border 1px solid #F2F2F2
    .ac:hover
      color var(--q-color-primary)
</style>
