<template>
  <div class="user-collections-collection">
    <div class="user-collections-collection_add full-width">
      <div class="row">
        <div class="col-xs-12 col-sm-4 offset-sm-8 col-md-5 col-lg-3 offset-lg-9 offset-md-7">
          <q-btn icon="add" class="full-width" @click="show = !show" v-scroll-to="'.user-collections-add-form'" label="Создать подборку"/>
        </div>
      </div>
    </div>
    <div class="row q-col-gutter-md q-mb-md">
      <div class="col-xs-12 col-sm-6 col-md-4 col-4" :class="['text-flx-'+$mq,'cl-'+$mq+'-4']" v-for="item,k in collections.data">
        <movies-collections-card-item type :item="item" :key="k"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-4">
        <user-collections-add-form v-if="show" @onAdd="onAdd"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });
  import {mapActions} from 'vuex'
  import MoviesCollectionsCardItem from "../../movies/MoviesCollectionsCardItem";
  import UserCollectionsAddForm from "./UserCollectionsAddForm";

  export default {
    name: 'UserCollectionsCollection',
    components: {UserCollectionsAddForm, MoviesCollectionsCardItem},

    data() {
      return {
        show: false,
        q:{
          per_page: 20,
          current_page: 1,
        },
        fetchPolicy: 'cache-first',
        loading: false,
      }
    },

    computed:{
      ...mapFields('user', ['collections']),
    },

    methods: {
      ...mapActions('user', ['getCollections']),
      getData(){
        this.loading = true;
        this.getCollections([this.q, this.fetchPolicy]).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      },
      onAdd(){
        this.fetchPolicy = 'network-only';
        this.getData();
        this.show = false
      }
    },

    created(){
      this.getData();
    }
  }
</script>

<style lang="stylus" scoped>
  .user-collections-collection
    &_add
      padding 15px
      text-align right
      .q-btn
        text-transform none
        font-weight bold
        background white
    .text-flx-xs
      display flex
      align-items center
      justify-content center
    .cl-mdl-4
      width 50%
</style>
