<template>
  <div class="user-collections-filter">
    <template v-for="item,k in items">
      <q-radio v-model="model" :val="item" class="full-width" :label="item.name+' ('+item.count+')'" />
      <q-separator class="q-mt-lg q-mb-lg" v-if="item.separator"/>
    </template>
    <user-my-book-menu/>
    <!--<q-checkbox v-model="delBook" label="Автоматически удалять из закладок оцененные фильмы" />-->
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import UserMyBookMenu from "./UserMyBookMenu";

  export default {
    name: 'UserCollectionsFilter',
    components: {UserMyBookMenu},
    data() {
      return {
        model: {},
        delBook: true,
        items:[],
      }
    },

    watch:{
      model(value){
        this.$emit('input',value);
      }
    },

    methods:{
      ...mapActions('user', ['getBookMarkMenu']),
    },

    created(){
      this.getBookMarkMenu(['cache-first']).then(response => {
        this.items = response;
        this.model = response[0];
      })
    },

    mounted(){
      this.$root.$on('reloadFilter', v => {
        this.getBookMarkMenu(['network-only']).then(response => {
          this.items = response;
        })
      })
    }
  }
</script>

<style lang="stylus" scoped>
  .user-collections-filter
    background white
    padding 15px 20px
    border-radius 4px
    box-shadow $shadow-4
</style>
