<template>
  <div class="user-collections-book" v-if="Object.keys(bookmarks).length">
    <movies-grid-list-buttons/>
    <movies-grid-container :items="bookmarks.data" v-if="gridList === 'grid'"/>
    <movies-list-container :items="bookmarks.data" v-if="gridList === 'list'"/>
    <div class="text-center q-pa-md" v-if="bookmarks.has_more_pages">
      <q-btn @click="loadMore" flat label="Показать еще" style="font-size: 12px"><chevron-down-icon class="q-ml-sm" size="1.2x"/></q-btn>
    </div>
  </div>
</template>

<script>
  import MoviesGridListButtons from "../../movies/MoviesGridListButtons";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import MoviesGridContainer from "../../movies/MoviesGridContainer";
  import MoviesListContainer from "../../movies/MoviesListContainer";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });

  export default {
    name: 'UserCollectionsBook',
    components: {MoviesListContainer, MoviesGridContainer, ChevronDownIcon, MoviesGridListButtons},

    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        q: {
          per_page: 20,
          current_page: 1,
          type: null,
        },
        loading: false,
      }
    },

    computed:{
      ...mapFields('user', ['bookmarks']),
      ...mapFields('movies', ['gridList']),
    },

    watch:{
      item: {
        handler(values) {
          this.getData();
        },
        deep: true
      },
    },

    methods: {
      ...mapActions('user', ['getBookMark']),
      getData(){
        this.loading = true;
        this.q.type = this.item.type;
        this.getBookMark(this.q).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      },
      loadMore(){
        this.q.current_page += 1;
        this.getData();
      }
    },

    created(){
      //console.log(this.item)
      if(Object.keys(this.item).length && this.item.type !== undefined){
        this.getData();
      }
    }
  }
</script>

<style lang="stylus" scoped>

</style>
