<template>
  <q-form class="user-collections-add-form" @submit.prevent="submit">
    <h3>Создать подборку</h3>
    <div class="fields">
      <label>Название</label>
      <q-input
        v-model="form.name"
        outlined
        dense
        class="bg-white"
        @blur="$v.form.name.$touch"
        :error="$v.form.name.$error"
      />
    </div>
    <div class="fields">
      <label>Описание</label>
      <q-input
        v-model="form.description"
        outlined dense class="bg-white" type="textarea" rows="4"
        @blur="$v.form.description.$touch"
        :error="$v.form.description.$error"
      />
    </div>
    <div class="fields">
      <label>Публичная коллекция?</label>
      <q-select
        v-model="form.type"
        outlined dense class="bg-white"
        :options="[{label: 'Да', value: 'public'}, {label: 'Нет', value: 'private'}]"
        @blur="$v.form.type.$touch"
        :error="$v.form.type.$error"
        emit-value map-options
      />
    </div>
    <div class="fields">
      <q-btn :loading="loading" type="submit" label="Создать" color="primary"/>
    </div>
  </q-form>
</template>

<script>
  import {mapActions} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  export default {
    name: 'UserCollectionsAddForm',

    data() {
      return {
        form: {
          name: null,
          description: null,
          type: null,
        },
        loading: false,
      }
    },

    validations: {
      form:{
        name: {required},
        description: {required},
        type: {required},
      }
    },

    methods:{
      ...mapActions('collections', ['addCollection']),
      submit() {
        this.valid().then(response => {
          this.loading = true;
          this.addCollection(this.form).then(resp => {
            this.loading = false;
            this.$emit('onAdd')
            this.$root.$emit('reloadFilter')
          }).catch(err => {
            this.loading = false;
          })
        })
      },
      valid() {
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr = [];
          if (this.$v.form.$error) {
            if (!this.$v.form.name.required) {
              arr.push('<li>Название обязательно.</li>');
            }
            if (!this.$v.form.description.required) {
              arr.push('<li>Описание обязательно.</li>');
            }
            if (!this.$v.form.type.required) {
              arr.push('<li>Тип коллекции обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>' + arr.join('') + '</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      }
    },
  }
</script>

<style lang="stylus">
  .user-collections-add-form
    .fields
      margin-bottom 15px
      label
        display block
        margin-bottom 10px
    h3
      font-weight normal
      font-size 16px
    .q-btn
      font-weight bold
      text-transform none
      width 200px
    .q-field--error .q-field__bottom
      display none !important
    .q-field--with-bottom
      padding-bottom 0
</style>
