<template>
  <div class="starred-item">
    <q-icon size="16px" @click="setStarred(item)" :name="item.starred ? 'fas fa-star' : 'far fa-star'" class="cursor-pointer" :class="{starred: item.starred}"/>
  </div>
</template>

<script>
  import {createHelpers} from 'vuex-map-fields'
  import {mapActions} from 'vuex'

  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });
  export default {
    name: 'StarredItem',

    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },

    methods: {
      ...mapActions('messages', ['messageAddStarred', 'getStarred']),
      openMessage(item) {
        this.getMessage({id: item.id}).then(response => {
          this.open = true;
        })
      },
      setStarred(item) {
        this.messageAddStarred({message_id: item.id}).then(response => {
          this.item.starred = response;
          if (this.$route.name === 'messages.slug.starred') {
            this.getStarred({slug: this.$route.params.slug, cache: 'network-only'});
          }
        });
      }
    }

  }
</script>

<style lang="stylus" scoped>
  .starred-item
    .starred
      color $amber
</style>
