<template>
  <q-form class="user-messages-form" @submit.prevent="submit">
    <q-input v-model="form.message" outlined type="textarea" label="Текст сообщения"
             @blur="$v.form.message.$touch"
             :error="$v.form.message.$error"
    />
    <q-btn label="Отправить" :loading="loading" type="submit" color="primary" class="full-width"/>
  </q-form>
</template>

<script>
  import {required} from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'

  export default {
    name: 'UserMessagesForm',

    props: {
      profile: {
        type: Object,
        default: () => {
        }
      },
    },

    data() {
      return {
        form: {
          message: null,
        },
        loading: false,
        messages:{
          message: {
            required: 'Текст сообщения'
          }
        }
      }
    },

    validations: {
      form: {
        message: {required},
      }
    },

    methods:{
      ...mapActions('messages', ['messageSend']),
      submit(){
        this.$valid(this.$v, this.messages).then(response => {
          this.loading = true;
          this.form.user_id = this.profile.id;
          this.messageSend(this.form).then(response => {
            this.loading = false;
            this.$q.notify({
              message: 'Сообщение отправлено',
              color: 'positive',
            });
            this.$emit('input', false)
          }).catch(err => {
            this.loading = false;
          })
        })
      }
    }

  }
</script>

<style lang="stylus" scoped>
  .user-messages-form
    width 300px
</style>
