<template>
  <div class="user-messages-search full-width">
    <div class="row fit">
      <div class="col-auto flex flex-center q-pr-sm">
        <search-icon size="1.5x" class="ic"/>
      </div>
      <div class="col-grow">
        <input v-model="search" placeholder="Поиск сообщений" class="full-width search"/>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchIcon from "vue-feather-icons/icons/SearchIcon";
  export default {
    name: 'UserMessagesSearch',
    components: {SearchIcon},
    data() {
      return {
        search: null
      }
    },

    watch: {
      search(newValue, oldValue) {
        if(newValue.length >= 3){
          this.$root.$emit('messageSearch', newValue);
        }else {
          this.$root.$emit('messageSearchReset');
        }
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .user-messages-search
    .search
      border none
      background transparent
    .ic
      color $grey-5
</style>
