<template>
  <div
    class="user-messages-list-item cursor-pointer"
    :class="{ noread: !item.read }"
  >
    <div class="fit row no-wrap">
      <div class="col flex justify-center">
        <div class="actions">
          <slot name="checkbox" />
        </div>
      </div>
      <div class="col flex justify-center" @click="openMessage(item)">
        <div class="ava">
          <q-avatar size="50px">
            <img
              :src="
                item.sender !== undefined
                  ? item.sender.avatarImage
                  : item.user.avatarImage
              "
            />
            <q-badge
              color="white"
              class="absolute-bottom-right"
              style="border-radius: 50%; width: 14px; height: 14px"
              ><q-badge
                v-if="online"
                color="green"
                class="absolute-center"
                style="border-radius: 50%; width: 12px; height: 12px"
              ></q-badge>
              <q-badge
                v-if="!online"
                color="red"
                class="absolute-center"
                style="border-radius: 50%; width: 12px; height: 12px"
              ></q-badge
            ></q-badge>
          </q-avatar>
        </div>
      </div>
      <div class="col-10 pl" @click.self="openMessage(item)">
        <div class="row no-wrap">
          <div class="user-name" @click="openMessage(item)">
            {{
              item.sender !== undefined ? item.sender.login : item.user.login
            }}
          </div>
          <starred-item :item="item" />
        </div>
        <div class="subject" @click="openMessage(item)">{{ item.bodyShort }}</div>
      </div>
      <div class="col">
        <div class="created_at" @click="openMessage(item)">{{ item.updated_at }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import StarredItem from "./StarredItem";
import { messages } from "../../mixin/messages.mixin";

export default {
  name: "UserMessagesListItem",
  components: { StarredItem },

  mixins: [messages],

  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    online: function () {
      if (this.item && this.item.sender) {
        if (this.item.sender.time === null) {
          return false;
        }
        const now = new Date();

        const hours = Number(this.item.sender.time.substr(0, 2));
        const minutes = Number(this.item.sender.time.substr(3, 2));

        if (hours === now.getHours()) {
          return now.getMinutes() - minutes <= 5;
        } else {
          return false;
        }
      }
    },
  },

  methods: {
    openMessage(item) {
      if (item.type === "notify") {
        this.getMessage({ id: item.id }).then((response) => {
          this.open = true;
        });
      }
      if (item.type === "chat") {
        this.$router.push({
          name: "messages.slug.chats.id",
          params: { slug: this.$route.params.slug, id: item.id },
        });
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.user-messages-list-item {
  border-top: 1px solid #dae1e7;
  padding: 1rem 1rem 1rem 0.25rem;
  transition: all 0.35s;

  &:first-child {
    border-top: none;
  }

  &.noread {
    background: $grey-3;

    .user-name {
      font-weight: bold;
    }
  }

  &:hover {
    // transform translateY(-4px)
    box-shadow: 0 3px 10px 0 #ccc;
    transition: all 0.2s;
  }

  .ava {
    padding: 5px;
  }

  .user-name {
    font-size: 16px;
    margin-right: 16px;
  }

  .actions {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .pl {
    padding-left: 10px;
  }
}
</style>
