<template>
  <q-form class="user-messages-reply-form"  @submit.prevent="submit">
    <q-input outlined v-model="form.body" type="textarea"
             @blur="$v.form.body.$touch"
             :error="$v.form.body.$error"
    />
    <q-btn label="Отправить" :loading="loading" type="submit" color="primary" no-caps class="text-bold"/>
  </q-form>
</template>

<script>
  import {required} from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'

  export default {
    name: 'UserMessagesReplyForm',

    props: {
      message: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        form: {
          body: null,
        },
        loading: false,
        messages:{
          body: {
            required: 'Текст сообщения'
          }
        }
      }
    },

    validations: {
      form: {
        body: {required},
      }
    },

    methods:{
      ...mapActions('messages', ['messageSend']),
      submit(){
        this.$valid(this.$v, this.messages).then(response => {
          this.loading = true;
          this.form.user_id = this.message.sender.id;
          this.form.parent_id = this.message.id;
          this.form.owner_id = this.message.owner_id ? this.message.owner_id : this.message.id;
          this.form.subject = 'Re: '+this.message.subject;
          this.messageSend(this.form).then(response => {
            this.loading = false;
            this.$q.notify({
              message: 'Сообщение отправлено',
              color: 'positive',
            });
            this.$emit('input', false)
          }).catch(err => {
            this.loading = false;
          })
        })
      }
    }
  }
</script>

<style lang="stylus" scoped>

</style>
