<template>
  <div class="user-messages-menu">
    <q-list padding class="rounded-borders text-grey-9">
      <q-item
        clickable
        v-ripple
        :to="{ name: 'messages.slug', params: { slug: $route.params.slug } }"
      >
        <q-item-section avatar>
          <q-icon name="inbox" />
        </q-item-section>

        <q-item-section>Уведомления</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :to="{
          name: 'messages.slug.chats',
          params: { slug: $route.params.slug },
        }"
      >
        <q-item-section avatar>
          <send-icon size="1.5x" />
        </q-item-section>

        <q-item-section>Чаты</q-item-section>

        <q-item-section side top>
          <q-badge color="primary" :label="messagesUnread"/>
        </q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :to="{
          name: 'messages.slug.starred',
          params: { slug: $route.params.slug },
        }"
      >
        <q-item-section avatar>
          <star-icon size="1.5x" />
        </q-item-section>

        <q-item-section>Помеченные</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :to="{
          name: 'messages.slug.trash',
          params: { slug: $route.params.slug },
        }"
      >
        <q-item-section avatar>
          <trash-icon size="1.5x" />
        </q-item-section>

        <q-item-section>Корзина</q-item-section>
      </q-item>

      <!--<q-separator spaced />-->
    </q-list>
  </div>
</template>

<script>
import SendIcon from "vue-feather-icons/icons/SendIcon";
import TrashIcon from "vue-feather-icons/icons/TrashIcon";
import StarIcon from "vue-feather-icons/icons/StarIcon";
import { messages } from "../../mixin/messages.mixin";

export default {
  name: "UserMessagesMenu",
  components: { StarIcon, TrashIcon, SendIcon },

  mixins: [messages],
};
</script>

<style lang="stylus">
.user-messages-menu {
  .q-router-link--active {
    color: $grey-9;
  }

  .q-router-link--exact-active {
    color: var(--q-color-primary);
  }
}
</style>
