<template>
  <div class="user-message full-width full-height">
    <q-toolbar class="bg-white shadow-4 text-dark">
      <q-btn dense flat round @click="open = false">
        <arrow-left-icon size="1.5x"/>
      </q-btn>
      <q-toolbar-title>{{message.subject}}</q-toolbar-title>
      <q-btn dense flat round>
        <starred-item :item="message"/>
      </q-btn>
      <q-btn dense flat round @click="open = false">
        <mail-icon size="1.5x"/>
      </q-btn>
      <q-btn dense flat round @click="delMessage">
        <trash-icon size="1.5x"/>
      </q-btn>
      <q-btn dense flat round @click="prevMessage">
        <chevrons-left-icon size="1.5x"/>
      </q-btn>
      <q-btn dense flat round @click="nextMessage">
        <chevrons-right-icon size="1.5x"/>
      </q-btn>

    </q-toolbar>
    <div class="q-pa-md">
      <q-card class="shadow-4">
        <q-card-section>
          <div class="head">
            <div class="fit row no-wrap">
              <div class="col-auto">
                <div class="user">
                  <div class="ava">
                    <q-avatar size="48px">
                      <img :src="message.sender.avatarImage">
                    </q-avatar>
                  </div>
                  <div class="login">
                    <router-link :to="{name:'user.slug', params:{slug: message.sender.slug}}">{{message.sender.login}}
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="col-grow">
                <div class="dttm">
                  <div class="tm">{{message.time}}</div>
                  <div class="dt">{{message.created_at}}</div>
                </div>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="body" v-html="message.body"></div>
        </q-card-section>
      </q-card>
      <q-card class="shadow-4 q-mt-lg">
        <q-card-section>
          <div class="reply flex" v-if="!showReply">Нажмите чтобы <a href="javascript:void(0)" @click="showReply = true"
                                                                     class="flex">
            <arrow-up-left-icon size="1.5x"/>
            ответить</a></div>
          <user-messages-reply-form v-model="showReply" :message="message" v-if="showReply"/>
        </q-card-section>
      </q-card>
    </div>

  </div>
</template>

<script>
  import ArrowLeftIcon from "vue-feather-icons/icons/ArrowLeftIcon";
  import StarIcon from "vue-feather-icons/icons/StarIcon";
  import TrashIcon from "vue-feather-icons/icons/TrashIcon";
  import MailIcon from "vue-feather-icons/icons/MailIcon";
  import ChevronsRightIcon from "vue-feather-icons/icons/ChevronsRightIcon";
  import ChevronsLeftIcon from "vue-feather-icons/icons/ChevronsLeftIcon";
  import ArrowUpLeftIcon from "vue-feather-icons/icons/ArrowUpLeftIcon";
  import UserMessagesReplyForm from "./UserMessagesReplyForm";
  import StarredItem from "./StarredItem";

  import {messages} from '../../mixin/messages.mixin'

  export default {
    name: 'UserMessage',
    components: {
      StarredItem,
      UserMessagesReplyForm,
      ArrowUpLeftIcon, ChevronsLeftIcon, ChevronsRightIcon, MailIcon, TrashIcon, StarIcon, ArrowLeftIcon
    },

    mixins: [messages],

    data() {
      return {
        showReply: false
      }
    },

    methods: {
      delMessage() {
        let selected = [];
        selected.push(this.message.id)
        this.deleteMessages(selected);
      },
      prevMessage() {
        let lastIndex = this.list.data.length - 1;
        let index = _.findIndex(this.list.data, {id: this.message.id});
        if (index !== 0) {
          this.getMessage({id: this.list.data[index-1].id})
        }
      },
      nextMessage() {
        let lastIndex = this.list.data.length - 1;
        let index = _.findIndex(this.list.data, {id: this.message.id});
        if (index !== lastIndex) {
          this.getMessage({id: this.list.data[index+1].id})
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .user-message
    h2
      font-size 16px
      margin 0
      padding-left 20px
    .body
      padding 0px 20px
    .head
      padding 0px 20px
    .user
      display flex
      align-items center
      .ava
        margin-right 10px
      .login
        font-size 16px
    .dttm
      text-align right
</style>
