<template>
  <div class="user-messages-list">
    <q-toolbar class="bg-grey-2 brd text-dark" v-if="showDelete">
      <q-checkbox v-model="selectAll" label="Выбрать все" />
      <q-space />
      <q-btn dense flat round @click="deleteMessages(selected)">
        <trash-icon size="1.5x" />
      </q-btn>
    </q-toolbar>
    <user-messages-list-item v-for="(item, k) in list.data" :item="item" :key="k">
      <template slot="checkbox">
        <q-checkbox v-model="selected" :val="item.id" dense size="sm"/>
      </template>
    </user-messages-list-item>
  </div>
</template>

<script>
  import UserMessagesListItem from "./UserMessagesListItem";
  import {messages} from '../../mixin/messages.mixin'
  import TrashIcon from "vue-feather-icons/icons/TrashIcon";

  export default {
    name: 'UserMessagesList',
    components: {TrashIcon, UserMessagesListItem},

    mixins:[messages],

    props: {
      showDelete: {
        type: Boolean,
        default: false
      },
    },

    data() {
      return {
        selected: [],
        selectAll: false,
      }
    },

    watch: {
      selectAll(newValue, oldValue) {
        if(newValue === true){
          _.forEach(this.list.data, v => {
            if(!this.selected.includes(v.id)){
              this.selected.push(v.id);
            }
          });
        }else {
          this.selected = [];
        }
      }
    },

    // mounted(){
    //   this.$root.$on('selectAll', newValue => {
    //    if(newValue) {
    //       _.forEach(this.list.data, v => {
    //         if(!this.selected.includes(v.id)){
    //           this.selected.push(v.id);
    //         }
    //       })
    //    }else {
    //      this.selected = [];
    //    }
    //   })
    // }
  }
</script>

<style lang="stylus" scoped>

</style>
