<template>
  <div class="user-feed-tabs">
    <q-tabs
      class="text-primary"
      align="left"
    >
      <q-route-tab :name="k" :key="k" :to="item.path" :label="item.name" v-for="item,k in tabs" />
    </q-tabs>
    <q-separator color="primary"/>
  </div>
</template>

<script>
  export default {
    name: 'UserFeedTabs',

    props: {
      tabs: {
        type: Array,
        default: () => []
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .user-feed-tabs
    background white
    box-shadow $shadow-4
    border-radius 6px
    margin 20px 0 0 0
    .q-tab
      text-transform none
      padding 0 40px
</style>
