<template>
  <div class="user-feed-poster">
    <router-link :to="{name: 'movie.slug', params: {slug: movie.movie.slug}}">
      <q-img
        :src="movie.movie.bigPosterURL"
        spinner-color="white"
        class="im rounded-borders"
        :class="$mq"
      >
      </q-img>
    </router-link>
    <div class="buttons">
      <q-btn icon="thumb_up" round outline color="primary" size="10px" class="bg-white"
             v-if="movie.like && movie.like.type === 'positive'"/>
      <q-btn icon="thumb_down" round outline color="primary" size="10px" class="bg-white"
             v-if="movie.like && movie.like.type === 'negative'"/>
      <q-btn icon="thumb_up" round outline color="primary" size="10px" class="bg-white neutral-btn"
             v-if="movie.like && movie.like.type === 'neutral'"/>

      <q-btn round outline color="primary" size="10px" class="bg-white" @mouseover="show = true" v-if="movie.comment">
        <message-square-icon size="1.5x"/>
        <q-popup-proxy :offset="[10, 10]" v-model="show" @mouseleave="show = false">
          <q-banner>
            {{movie.comment.comment}}
            <router-link :to="{name:'movie.slug', params: {slug: movie.movie.slug},hash:'#reviews-'+movie.comment.id}">
              перейти...
            </router-link>
          </q-banner>
        </q-popup-proxy>
      </q-btn>
    </div>
  </div>
</template>

<script>
  import MessageSquareIcon from "vue-feather-icons/icons/MessageSquareIcon";

  export default {
    name: 'UserFeedPoster',
    components: {MessageSquareIcon},

    props: {
      movie: {
        type: Object,
        default: () => {
        }
      },
    },

    data() {
      return {
        show: false
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .user-feed-poster
    display flex
    min-height 170px
    width 100px
    flex-direction column
    .im
      width 100px
      height 140px
    .buttons
      display flex
      align-items center
      justify-content center
      margin-top -20px
      .q-btn
        margin 2px
</style>
