<template>
  <div class="user-feed-timeline">
    <h2>Лента новостей</h2>
    <field-feed-radios v-model="select"/>

    <template v-if="feed.data.length">
      <time-line-item v-for="item,k in feed.data" :key="k" :item="item"/>
      <div class="text-center" v-if="feed.has_more_pages">
        <q-btn @click="$emit('loadMore')" color="primary" no-caps label="Еще..."/>
      </div>
    </template>
    <template v-else>
      <div class="text-center">Нет событий.</div>
    </template>


  </div>
</template>

<script>
  import FieldFeedRadios from "../../fields/FieldFeedRadios";
  import UserFeedItems from "./UserFeedItems";
  import {createHelpers} from 'vuex-map-fields'
  import TimeLineItem from "../../timeline/TimeLineItem";
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });
  export default {
    name: 'UserFeedTimeline',
    components: {TimeLineItem, UserFeedItems, FieldFeedRadios},

    computed: {
      ...mapFields('user', ['feed']),
    },

    data() {
      return {
        select: 'all'
      }
    },

    watch: {
      select(newValue, oldValue) {
        this.$emit('onFilter', newValue)
      }
    },
  }
</script>

<style lang="stylus">
  .user-feed-timeline
    padding 0 20px 20px 20px
    h2
      font-weight normal
      padding 20px 0
      text-align center
      margin 0
</style>
