<template>
  <div class="user-feed-items" :class="side">
    <div class="user-feed-items__container">
      <div class="it">
        <div class="more" v-if="count > 3">
          <router-link to="#22">+ {{count}}<br/>еще</router-link>
        </div>
        <user-feed-poster v-for="movie,n in movies" :movie="movie" :key="n"/>
      </div>
    </div>
  </div>
</template>

<script>
  import UserFeedPoster from "./UserFeedPoster";

  export default {
    name: 'UserFeedItems',
    components: {UserFeedPoster},
    props: {
      side: {
        type: String,
        default: 'left'
      },
      count: {
        type: Number,
        default: 3
      },
      more: {
        type: Boolean,
        default: false
      },
      movies:{
        type: Array,
        default: () => [],
      }
    },
  }
</script>

<style lang="stylus">
  .user-feed-items
    display flex
    height 180px
    padding-top 19px
    &.left
      justify-content flex-end
    &__container
      height 150px
      background white
      box-shadow $shadow-4
      border 1px solid rgba(0, 0, 0, 0.05)
      border-radius 4px
      width auto
      min-width 100px
      padding 15px
      .it
        display flex
        margin-top -40px
        .user-feed-poster
          margin 5px
        .more
          padding-top 80px
          padding-right 10px
          line-height 1
          a
            text-decoration underline
            &:hover
              text-decoration none
</style>
