<template>
  <q-page class="page-collections-slug">
    <div class="container" v-if="Object.keys(collectionsItems).length">
      <breadcrumb-list :items="[{name: 'Подборки', path: '/collections'}, {name: collectionsItems.collection.name, path: null}]"/>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" :class="$mq">
          <div class="row q-mb-lg">
            <div class="col-xs-12 col-sm-8 col-md-8">
              <collection-name :collection="collectionsItems.collection"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 flex self-end justify-end">
              <movies-grid-list-buttons/>
            </div>
          </div>
          <movies-grid-container :rows="4" :items="collectionsItems.items.data" v-if="gridList === 'grid'"/>
          <movies-list-container :items="collectionsItems.items.data" v-if="gridList === 'list'"/>
          <div class="text-center q-pa-md" v-if="collectionsItems.items.has_more_pages">
            <q-btn @click="loadMore" flat label="Показать еще" style="font-size: 12px"><chevron-down-icon class="q-ml-sm" size="1.2x"/></q-btn>
          </div>
          <!--<comments-container :comments="comments"/>-->
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import BreadcrumbList from "../../components/breadcrumb/BreadcrumbList";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import CollectionName from "../../components/collections/CollectionName";
  import MoviesGridListButtons from "../../components/movies/MoviesGridListButtons";
  import MoviesGridContainer from "../../components/movies/MoviesGridContainer";
  import MoviesListContainer from "../../components/movies/MoviesListContainer";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import CommentsContainer from "../../components/comments/CommentsContainer";
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });

  export default {
    name: 'PageCollectionsSlug',
    components: {
      CommentsContainer,
      ChevronDownIcon,
      MoviesListContainer, MoviesGridContainer, MoviesGridListButtons, CollectionName, BreadcrumbList},

    beforeRouteEnter (to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getData(to.params.slug);
      })
    },

    computed:{
      ...mapFields('user', ['collectionsItems']),
      ...mapFields('movies', ['gridList']),
      ...mapFields('comment', ['comments']),
    },

    methods: {
      ...mapActions('user', ['getCollectionsItems']),
      ...mapActions('comment', ['getComments']),
      getData(slug){
        this.getCollectionsItems([{slug: slug}]);
        //this.getComments();
      },
      loadMore(){
        let data = {};
        data.slug = this.$route.params.slug;
        data.current_page += 1;
        this.getCollectionsItems([data]);
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .page-collections-slug
    padding-bottom 50px
  .offset-md-2.mdl
    margin-left 0
  .col-md-9.mdl
    width 100%
</style>
