<template>
  <q-page class="page-collections">
    <div class="container">
      <breadcrumb-list :items="[{name: 'Подборки', path: null}]"/>
      <collections-block-site/>
      <collections-block-users/>
    </div>
  </q-page>
</template>

<script>
  import BreadcrumbList from "../../components/breadcrumb/BreadcrumbList";
  import CollectionsBlockSite from "../../components/collections/CollectionsBlockSite";
  import CollectionsBlockUsers from "../../components/collections/CollectionsBlockUsers";

  export default {
    name: 'PageCollections',
    components: {CollectionsBlockUsers, CollectionsBlockSite, BreadcrumbList}

  }
</script>

<style lang="stylus" scoped>
  .page-collections
    padding-bottom 50px
</style>
