<template>
  <div class="app-loading-card-grid">
    <q-skeleton height="162px" square animation="fade"/>

    <div class="row items-start no-wrap q-mt-sm q-pa-md">
      <q-skeleton type="QAvatar" animation="fade"/>

      <div class="col q-pl-sm">
        <q-skeleton type="text" square width="30%" animation="fade"/>
        <q-skeleton type="text" square height="12px" animation="fade"/>
        <q-skeleton type="text" square height="12px" width="75%" animation="fade"/>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AppLoadingCardGrid'
  }
</script>

<style lang="stylus" scoped>
  .app-loading-card-grid
    background white
    box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.14) !important
    border-radius 4px
    margin-bottom 20px
    width 300px
</style>
