<template>
  <div class="app-theme-settings">
    <div class="lbl">Тематический режим</div>
    <q-option-group
      v-model="theme"
      :options="themeOptions"
      color="primary"
      inline
      class="q-mb-sm"
    />
    <div class="lbl">Цвет темы</div>
    <field-select-color v-model="color1" class="q-mb-sm"/>
    <!--<div class="lbl">Цвет главной панели</div>-->
    <!--<field-select-color v-model="color2" class="q-mb-sm"/>-->
  </div>
</template>

<script>
  import FieldSelectColor from "../fields/FieldSelectColor";
  import { colors } from 'quasar'


  export default {
    name: 'AppThemeSettings',
    components: {FieldSelectColor},
    data() {
      return {
        theme: this.$q.localStorage.has('theme') ? this.$q.localStorage.getItem('theme') : 'light',
        themeOptions: [
          {
            label: 'Светлый',
            value: 'light'
          },
          {
            label: 'Темный',
            value: 'dark'
          },
        ],
        color1: this.$q.localStorage.has('color1') ? this.$q.localStorage.getItem('color1') : {},
      }
    },

    watch: {
      color1(newValue, oldValue) {
        colors.setBrand('primary', newValue.primary);
        colors.setBrand('secondary', newValue.secondary);
        colors.setBrand('accent', newValue.accent);
        this.$q.localStorage.set('color1', newValue)
      },
      theme(newValue, oldValue){
        this.$q.localStorage.set('theme', newValue)
        if(newValue !== oldValue){
          this.$q.dark.toggle()
        }
      }
    },

  }
</script>

<style lang="stylus" scoped>

</style>
