<template>
  <div class="breadcrumb-list">
    <nav>
      <router-link to="/">Главная <chevrons-right-icon size="1.2x"/></router-link>
      <template v-for="item,k in items">
        <router-link v-if="item.path" :to="item.path" :key="k">{{item.name}} <chevrons-right-icon size="1.2x"/></router-link>
        <span v-else>{{item.name}}</span>
      </template>
    </nav>
  </div>
</template>

<script>
  import ChevronsRightIcon from "vue-feather-icons/icons/ChevronsRightIcon";
  export default {
    name: 'BreadcrumbList',
    components: {ChevronsRightIcon},

    props: {
      items: {
        type: Array,
        default: () => [],
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .breadcrumb-list
    padding 20px 0
    nav
      display inline-block
      span
        color var(--q-color-primary)
      a
        color $dark
        display flex
        align-items center
        float left
        .feather
          margin-left 10px
          margin-right 10px
</style>
