<template>
  <q-page class="page-catalog">
    <div class="container">
      <breadcrumb-list :items="breadcrumbs" :class="$mq"/>
      <div class="row q-col-gutter-lg">
        <div class="col-3 xs-hide sm-hide">
          <catalog-filter-container/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-9">
          <template v-if="!loading && Object.keys(movies).length">
            <div class="row">
              <div class="col-xs-6 col-md-6 col-6">
                <div class="page-catalog_total" :class="$mq">{{movies.total}} фильмов</div>
              </div>
              <div class="col-xs-6 col-md-6 col-6">
                <mq-layout :mq="['sm', 'xs']">
                  <catalog-filter-mobile v-model="openFilter"/>
                </mq-layout>
                <movies-grid-list-buttons @openFilter="openFilter = !openFilter" :filter="$mq === 'xs' || $mq ==='sm'"/>
              </div>
            </div>
            <movies-grid-container :items="movies.data" v-if="gridList === 'grid'"/>
            <movies-list-container :items="movies.data" v-if="gridList === 'list'"/>
            <div class="text-center q-pa-md" v-if="movies.has_more_pages">
              <q-btn :loading="loadingMore" flat label="Показать еще" @click="loadMore" style="font-size: 12px">
                <chevron-down-icon class="q-ml-sm" size="1.2x"/>
              </q-btn>
            </div>
          </template>
          <movies-loading-grid v-if="loading"/>

        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import CatalogFilterContainer from "../../components/catalog/CatalogFilterContainer";
  import MoviesGridListButtons from "../../components/movies/MoviesGridListButtons";
  import MoviesGridContainer from "../../components/movies/MoviesGridContainer";
  import MoviesListContainer from "../../components/movies/MoviesListContainer";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import CatalogFilterMobile from "../../components/catalog/CatalogFilterMobile";
  import BreadcrumbList from "../../components/breadcrumb/BreadcrumbList";
  import MoviesLoadingGrid from "../../components/movies/MoviesLoadingGrid";

  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });
  export default {
    name: 'PageCatalog',
    components: {
      MoviesLoadingGrid,
      BreadcrumbList,
      CatalogFilterMobile,
      ChevronDownIcon,
      MoviesListContainer, MoviesGridContainer, MoviesGridListButtons, CatalogFilterContainer
    },

    data() {
      return {
        openFilter: false,
        loading: false,
        loadingMore: false,
      }
    },

    computed: {
      ...mapFields('movies', ['movies', 'gridList', 'filterForm']),
      breadcrumbs() {
        let items = [];
        let category = {
          films: 'Фильмы',
          serials: 'Сериалы',
          cartoons: 'Мультфильмы',
        };
        let subCatalog = {
          recommendations: 'Рекомендации',
          popular: 'Популярные',
          novelty: 'Новинки',
          expect: 'Ожидаемые',
        }

        if (this.$route.params.sub_catalog === 'all') {
          items.push({
            name: category[this.$route.params.catalog],
            path: null
          })
        } else {
          items.push({
            name: category[this.$route.params.catalog],
            path: `/catalog/${this.$route.params.catalog}/all`
          })
          items.push({
            name: subCatalog[this.$route.params.sub_catalog],
            path: null
          })
        }

        return items;
      }
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        let data = vm.filterForm;
        data.current_page = 1;
        data.type = to.params.catalog;
        data.filter = to.params.sub_catalog;

        vm.getData(data);
      })
    },

    watch: {
      '$route': function (to) {
        let data = this.filterForm;
        data.current_page = 1;
        data.type = to.params.catalog;
        data.filter = to.params.sub_catalog;
        setTimeout(() => {
          this.getData(data);
        }, 1000);
      }
      // filterForm: {
      //   handler(values) {
      //     values.current_page = 1;
      //     this.getData(values);
      //   },
      //   deep: true
      // },
    },

    methods: {
      ...mapActions('movies', ['getMovies']),
      getData(data) {
        this.loading = true;
        this.getMovies({data: data}).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      },
      loadMore() {
        let data = this.filterForm;
        data.current_page = this.movies.current_page + 1;
        data.type = this.$route.params.catalog;
        data.filter = this.$route.params.sub_catalog;

        this.loadingMore = true;
        this.getMovies({data: data}).then(response => {
          this.loadingMore = false;
        }).catch(err => {
          this.loadingMore = false;
        })
      }
    },

    destroyed() {
      this.movies = {};
    },

    mounted() {
      this.$root.$on('onFilter', () => {
        this.openFilter = false;
        let data = this.filterForm;
        data.current_page = 1;
        this.getData(data);
      })
    }

  }
</script>

<style lang="stylus" scoped>
  .page-catalog
    padding-bottom 50px
    padding-top 20px
    h1
      text-transform uppercase
    &_total
      margin-top -40px
    .breadcrumb-list.xs
      visibility hidden
</style>
