<template>
  <q-form class="chat-send-form" @submit.prevent="submit">
    <div class="myfl">
      <div class="cl1 flex flex-center">
        <input v-model="form.message" type="text" @keydown.enter.prevent="submit" placeholder="Написать сообщение..." class="inp"/>
      </div>
      <div class="cl2 flex flex-center">
        <q-btn type="submit" flat round><send-icon size="1.5x"/></q-btn>
      </div>
    </div>
  </q-form>
</template>

<script>
  import SendIcon from "vue-feather-icons/icons/SendIcon";
  import {messages} from '../mixin/messages.mixin'
  import {required} from 'vuelidate/lib/validators'

  export default {
    name: 'ChatSendForm',
    components: {SendIcon},

    mixins:[messages],

    data() {
      return {
        form: {
          message: null,
        },
        loading: false,
        messages:{
          message: {
            required: 'Текст сообщения'
          }
        }
      }
    },

    validations: {
      form: {
        message: {required},
      }
    },

    methods: {
      submit() {
        this.$valid(this.$v, this.messages).then(response => {
          this.loading = true;
          this.form.chat_id = this.$route.params.id;
          this.messageAdd(this.form).then(response => {
            this.loading = false;
            this.form.message = null;
            this.$root.$emit('messageSend');
          }).catch(err => {
            this.loading = false;
          })
        })
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .chat-send-form
    width 100%
    .myfl
      display flex
      .cl1
        width 95%
      .cl2
        width 5%
    .inp
      width 100%
      background transparent
      border none
</style>
