<template>
  <div style="width: 100%">
    <div class="flex row no-wrap justify-between">
      <div class="flex flex-center justify-start">
        <q-btn type="submit" flat round v-on:click="back">
          <arrow-left-circle-icon size="2.5x" />
        </q-btn>
      </div>
      <q-item>
        <q-item-section avatar>
          <q-avatar>
            <img
              :src="message && message.sender && message.sender.avatarImage"
            />
            <q-badge
              color="white"
              class="absolute-bottom-right"
              style="border-radius: 50%; width: 14px; height: 14px"
              ><q-badge
                v-if="online"
                color="green"
                class="absolute-center"
                style="border-radius: 50%; width: 12px; height: 12px"
              ></q-badge>
              <q-badge
                v-if="!online"
                color="red"
                class="absolute-center"
                style="border-radius: 50%; width: 12px; height: 12px"
              ></q-badge
            ></q-badge>
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>
            <b>{{ message && message.sender && message.sender.login }}</b>
          </q-item-label>
          <q-item-label caption>
            <p>
              {{
                message &&
                message.sender &&
                message.sender.last_activity &&
                message.sender.time
                  ? "Последняя активность: " + lastActivity
                  : "Последняя активность неизвестна"
              }}
            </p>
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <starred-item :item="message ? message : { starred: false }" />
        </q-item-section>
      </q-item>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { createHelpers } from "vuex-map-fields";
import { ArrowLeftCircleIcon } from "vue-feather-icons";
import StarredItem from "../user/messages/StarredItem";

const { mapFields } = createHelpers({
  getterType: "projectFields",
  mutationType: "updateProjectField",
});

export default {
  name: "ChatUserHeader",

  computed: {
    ...mapFields("messages", ["message"]),
    online: function () {
      if (this.message && this.message.sender) {
        if (this.message.sender.time === null) {
          return false;
        }
        const now = new Date();

        const hours = Number(this.message.sender.time.substr(0, 2));
        const minutes = Number(this.message.sender.time.substr(3, 2));

        if (hours === now.getHours()) {
          return now.getMinutes() - minutes <= 5;
        } else {
          return false;
        }
      }
    },
    lastActivity: function () {
      return this.message.sender.last_activity + " " + this.message.sender.time;
    },
  },

  components: {
    ArrowLeftCircleIcon,
    StarredItem,
  },

  data() {
    return {
      query: {
        id: this.$route.params.id,
      },
    };
  },

  methods: {
    ...mapActions("messages", ["getMessage"]),
    back: function (event) {
      window.history.back();
    },
  },

  watch: {
    $route: function (route) {
      if (route.name === "messages.slug.chats.id") {
        this.getMessage(this.query);
      }
    },
  },

  created: function () {
    if (this.$route.name === "messages.slug.chats.id") {
      this.getMessage(this.query);
    }
  },
};
</script>

<style lang="stylus" scoped>
.chat-user-header {
  width: 100%;
}
</style>
