<template>
  <div class="chat-message-item" :class="item.position">
    <div class="flex-x" :class="item.position">
      <div class="cl1">
        <q-avatar size="36px">
          <img :src="item.sender.avatarImage">
        </q-avatar>
      </div>
      <div class="cl2" :class="item.position">
        <div class="message" :class="item.position">
          <div class="ms">{{item.message}}</div>
          <div class="tm">{{item.time}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ChatMessageItem',

    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .chat-message-item
    display flex
    margin 15px 0
    &.right
      justify-content flex-end
    .message
      background white
      padding 10px
      border-radius 4px
      box-shadow $shadow-4
      &.right
        background: linear-gradient(118deg,rgba($primary,1),rgba($primary,.7))!important;
        color white
        .tm
          text-align right
    .flex-x
      display flex
      align-items flex-start
      width 100%
      .cl1
        margin-right 15px
      &.right
        flex-direction row-reverse
        .cl1
          margin-right 0px
          margin-left 15px
      .cl2.right
        display flex
        justify-content flex-end
</style>
