<template>
  <div class="chats-list">
    <q-infinite-scroll @load="scrollHandle">
    <q-list>
      <q-item class="q-my-sm" clickable v-ripple v-for="item,k in list.data" :key="k" :to="{name: 'chats.slug.id', params: {slug: $route.params.slug, id: item.id}}">
        <q-item-section avatar>
          <q-avatar>
            <img :src="item.sender !== undefined ? item.sender.avatarImage : item.user.avatarImage">
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label>
            <b>{{item.sender !== undefined ? item.sender.login : item.user.login}}</b>
          </q-item-label>
          <q-item-label caption lines="1">{{item.bodyShort}}</q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-item-label caption>{{item.created_at}}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    </q-infinite-scroll>
  </div>
</template>

<script>
  import {messages} from '../mixin/messages.mixin'

  export default {
    name: 'ChatsList',

    mixins: [messages],

    data() {
      return {
        q: {
          slug: this.$route.params.slug,
          per_page: 15,
          current_page: 1,
          search: null,
        }
      }
    },

    methods: {
      scrollHandle(index, done) {
        if(this.list.has_more_pages){
          this.q.current_page = index -1;
          this.getChats(this.q).then(response => {
            done()
          });
        }else {
          done()
        }
      }
    },

    created() {
      this.getChats(this.q);
    }
  }
</script>

<style lang="stylus" scoped>
  .chats-list
    .q-item.q-router-link--active
      background var(--q-color-primary)
      color white
      .q-item__label--caption
        color white
</style>
