<template>
  <div class="chat-messages" v-chat-scroll>
    <!--<q-scroll-area class="scr" ref="scrollArea" @scroll="onScrollFirst">-->
    <q-scroll-area class="scr" ref="scrollArea">
      <q-infinite-scroll
        class="q-pa-md"
        @load="onLoad"
        :scroll-target="$refs.scrollTarget"
        reverse
      >
        <template slot="loading">
          <div class="row justify-center q-my-md">
            <q-spinner color="primary" name="dots" size="40px" />
          </div>
        </template>
        <div
          class="chat-messages_chat"
          v-for="(chat, index) in chatMessages.data"
          :key="index"
        >
          <div class="day">
            <span>{{ chat.date }}</span>
          </div>
          <chat-message-item
            v-for="(item, k) in chat.messages"
            :item="item"
            :key="k"
          />
        </div>
      </q-infinite-scroll>
    </q-scroll-area>
  </div>
</template>

<script>
import { Platform } from "quasar";
import { Notify } from "quasar";
import { uid } from "quasar";
import ChatMessageItem from "./ChatMessageItem";
import { createHelpers } from "vuex-map-fields";
import { mapActions } from "vuex";

const { mapFields } = createHelpers({
  getterType: "projectFields",
  mutationType: "updateProjectField",
});

const notification = (msg = "", avatar = "") => {
  // id for the notification message so it can be dismissed if user clicks the button
  const alert_uid = uid();
  if (!window.dismiss) window.dismiss = [];
  // add a close button to the notification
  msg += `
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button style="position:absolute;top:-4px;right:-13px;background-color: inherit;
  border: none;
  border-radius: 50%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  height:18px;width:18px;
  outline:none;
  "
  onclick="window.dismiss['${alert_uid}']();
  delete window.dismiss['${alert_uid}'];
  "
  >
  <svg style="width:18px;height:18px" viewBox="0 0 24 24">
    <path fill = "black" d = "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z" />
</svg >
</button>`;

  // create dismissable notification
  const dismiss = Notify.create({
    progress: true,
    color: "white",
    textColor: "black",
    message: msg,
    avatar: avatar,
    multiLine: true,
    html: true,
    position: "bottom-right",
  });

  // store dismissable notification in the global array
  window.dismiss[alert_uid] = dismiss;
};

export default {
  name: "ChatMessages",
  components: { ChatMessageItem },

  data() {
    return {
      q: {
        chat_id: this.$route.params.id,
        current_page: 1,
      },
      position: 0,
    };
  },

  computed: {
    ...mapFields("messages", ["chatMessages"]),
    ...mapFields("user", ["user"]),
  },

  methods: {
    ...mapActions("messages", ["getChatMessages"]),

    getData() {
      return this.getChatMessages(this.q);
    },

    scrollToBottom() {
      const scrollArea = this.$refs.scrollArea;
      const scrollTarget = scrollArea.getScrollTarget();
      scrollArea.setScrollPosition(scrollTarget.scrollHeight, 300);
    },

    onLoad(index, done) {
      if (index === 1) {
        return this.getData().then((response) => {
          this.scrollToBottom();
          if (response.has_more_pages) {
            return done();
          } else {
            return done(true);
          }
        });
      }

      if (this.chatMessages.has_more_pages) {
        this.q.current_page = index - 1;
        return this.getData().then((response) => {
          return done();
        });
      } else {
        return done(true);
      }
    },
  },

  created() {
    this.q.current_page = 1;
    this.chatMessages.has_more_pages = true;
    this.chatMessages.data = [];
  },

  mounted() {
    this.$root.$on("messageSend", () => {
      this.scrollToBottom();
    });

    this.$echo
      .private("chat." + this.$route.params.id)
      .listen("ChatMessageAddEvent", (payload) => {
        for (const message of payload.message.data.messages) {
          message.position =
            this.user.login === message.sender.login ? "right" : "left";

          if (this.user.login !== message.sender.login) {
            notification(message.message, message.sender.avatarImage);
          }
        }

        this.$store.commit("messages/addChatMessages", payload.message.data);
        this.scrollToBottom();
      });
  },
};
</script>

<style lang="stylus" scoped>
.chat-messages {
  &_chat {
    padding: 15px;

    .day {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        background: white;
        border-radius: 4px;
        box-shadow: $shadow-4;
        z-index: 1;
      }
    }

    .day:before {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 12px;
      z-index: 0;
    }
  }

  .scr {
    height: 480px;
  }
}
</style>
