<template>
  <q-page class="page-user-chats-chat-id" style="height: 478px;">
    <chat-messages/>
  </q-page>
</template>

<script>
  import ChatMessages from "../../../components/chats/ChatMessages";
  export default {
    name: 'PageUserChatsChatID',
    components: {ChatMessages}
  }
</script>

<style lang="stylus" scoped>

</style>
