<template>
  <div class="mobie-bookmark-button">
    <!--<q-btn outline round color="white" size="16px"><bookmark-icon size="1x"/></q-btn>-->
    <movies-sett :item="movie"/>
  </div>
</template>

<script>
  import BookmarkIcon from "vue-feather-icons/icons/BookmarkIcon";
  import MoviesSett from "../MoviesSett";
  export default {
    name: 'MobieBookmarkButton',
    components: {MoviesSett, BookmarkIcon},

    props: {
      movie: {
        type: [Object, String],
        default: null,
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .mobie-bookmark-button
    display flex
    flex-grow 1
    align-items flex-end
</style>
