<template>
  <div class="movie-video-info">
    <div class="row">
      <div class="col-md-2 col-sm-3 col-lg-2">
        <q-img
          :src="$movie.bigPosterURL"
          spinner-color="white"
          class="im"
          :class="$mq"
        >
          <mobie-bookmark-button :movie="$movie"/>
        </q-img>
      </div>
      <div class="col-md-6 col-sm-9 col-lg-6">
        <div class="movie-video-info_info">
          <h1>{{$movie.nameRU}}<sup v-if="$movie.ratingAgeLimits">{{$movie.ratingAgeLimits}}+</sup></h1>
          <div class="movie-video-info_category">{{$movie.year}}<span class="bull">&bull;</span>{{$movie.nameEN}}</div>
          <div class="movie-video-info_list">
            <div class="movie-video-info_list-item"><label>Страна:</label>{{$movie.country}}</div>
            <div class="movie-video-info_list-item"><label>Жанр:</label>{{$movie.genre}}</div>
            <div class="movie-video-info_list-item"><label>Премера:</label>Мир - {{$movie.rentData.premiereWorld}}, РФ - {{$movie.rentData.premiereRU}}</div>
            <div class="movie-video-info_list-item"><label>Бюджет:</label>{{$movie.budgetData.budget}}</div>
            <div class="movie-video-info_list-item"><label>Режиссер:</label>{{$movie.director.nameRU}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-lg-4 flx-1" :class="$mq">
        <movie-like-buttons :item="$movie"/>
      </div>
    </div>
  </div>
</template>

<script>
  import MovieLikeButtons from "./MovieLikeButtons";
  import MobieBookmarkButton from "./MobieBookmarkButton";
  export default {
    name: 'MovieVideoInfo',
    components: {MobieBookmarkButton, MovieLikeButtons}
  }
</script>

<style lang="stylus">
  .movie-video-info
    padding 15px
    margin-top -200px
    position relative
    .q-img
      border-radius 6px
      .mobie-bookmark-button
        width 100%
        background transparent
        justify-content flex-end
        .movies-sett
          margin 0
    &_info
      padding-top 80px
      padding-left 15px
      h1
        margin-bottom 10px
        color white
        sup
          font-weight normal
          font-size 14px
          margin-left 10px
    &_category
      font-size 16px
      margin-bottom 50px
      color white
      .bull
        padding 0 5px
    &_list
      font-size 12px
    &_list-item
      label
        font-size 14px
        font-weight bold
        margin-right 10px
    .flx-1
      align-items flex-end
      justify-content flex-end
      display flex
      padding-bottom 30px
      &.sm
      &.md
      &.mdl
        padding-bottom 0
    .im
      height 330px
      width 230px
      &.sm
        width 160px
        height 230px
      &.md
        width 210px
        height 300px
      &.mdl
        width 160px
        height 230px
</style>
