<template>
  <div class="movie-description" v-if="$movie" v-html="$movie.description">

  </div>
</template>

<script>
  export default {
    name: 'MovieDescription'
  }
</script>

<style lang="stylus" scoped>

</style>
