<template>
  <div class="movie-circle-rating">
    <q-circular-progress
      v-model="value"
      show-value
      size="42px"
      :thickness="0.13"
      :color="color"
      :track-color="color"
      class="text-white"
    >{{ value }}%</q-circular-progress>
  </div>
</template>

<script>
  export default {
    name: 'MovieCircleRating',

    props: {
      value: {
        type: Number,
        default: 0
      },
    },

    computed:{
      color(){
        if(this.value <= 39){
          return 'red-14';
        }else if(this.value > 39 && this.value <=69){
          return 'amber';
        }else if(this.value > 69 && this.value <=100){
          return 'green';
        }
      }
    }
  }
</script>

<style lang="stylus">
  .movie-circle-rating
    width 50px
    height 50px
    background $dark
    display flex
    align-items center
    justify-content center
    border-radius 50%
    .q-circular-progress__track
      opacity 0.5
</style>
