<template>
  <div class="movie-actor">
    <div class="image">
      <q-img
        :src="actor.posterURL"
        spinner-color="white"
        class="im"
      />
      <div class="info">{{actor.nameEN}}, {{actor.birthday}} &bull; {{actor.age}} лет</div>
      <ul class="list">
        <li v-for="item in actor.genreStatistic">
          <label>{{item.name}}</label>
          <span>{{item.percent}} %</span>
        </li>
      </ul>
    </div>


  </div>
</template>

<script>
  export default {
    name: 'MovieActor',

    props: {
      actor: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .movie-actor
    .image
      padding 15px
      background white
      box-shadow $shadow-4
      margin-bottom 15px
      .im
        height 450px
        width 100%
        margin-bottom 15px
      .info
        margin-bottom 20px
    .list
      list-style none
      margin 0
      padding 0
      li
        display flex
        margin-bottom 5px
      label
        min-width 150px
        display block
</style>
