<template>
  <div class="movie-block-similsr" v-if="movies.length">
    <h2>С этим фильмом смотрят</h2>
    <movies-carousel :items="movies"/>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import MoviesCardSlideItem from "../MoviesCardSlideItem";
  import MoviesCarousel from "../MoviesCarousel";

  export default {
    name: 'MovieBlockSimilsr',
    components: {MoviesCarousel, MoviesCardSlideItem},
    data() {
      return {
        movies: [],
      }
    },

    methods: {
      ...mapActions('movies', ['getMoviesSimilar']),
      getData(item){
        this.getMoviesSimilar(item.filmID).then(response => {
          this.movies = response
        })
      }
    },

    watch: {
      '$movie': function (item) {
        this.getData(item);
      }
    },

    created(){
      if(this.$movie){
        this.getData(this.$movie);
      }
    }


  }
</script>

<style lang="stylus" scoped>
  .movie-block-similsr
    margin-top 20px
    margin-bottom 20px
    position relative
    h2
      font-size 16px
    .movies-card-slide-item
      width 190px
</style>
