<template>
  <div class="movie-like-buttons">
    <div class="movie-like-buttons_movie" v-if="type === 'movie'">
      <div class="movie-like-buttons_btn">
        <q-btn @click="addLike('positive')" :loading="loading.positive" :class="{active: active === 'positive'}" icon="thumb_up" outline round  size="16px"/>
        <span>{{$movie.ratings.positivePercent}} %</span>
      </div>
      <div  class="movie-like-buttons_btn">
        <q-btn @click="addLike('neutral')" :loading="loading.neutral" :class="{active: active === 'neutral'}" icon="thumb_up " class="neutral-btn" outline round  size="16px"/>
        <span>{{$movie.ratings.neutralPercent}} %</span>
      </div>
      <div class="movie-like-buttons_btn">
        <q-btn @click="addLike('negative')" :loading="loading.negative" :class="{active: active === 'negative'}" icon="thumb_down" outline round size="16px"/>
        <span>{{$movie.ratings.negativePercent}} %</span>
      </div>
      <div class="movie-like-buttons_btn" v-if="dot">
        <slot name="lls"/>
      </div>
    </div>
    <div class="movie-like-buttons_list" v-if="type === 'list'">
      <q-btn @click="addLike('positive')" :class="{active: active === 'positive'}" :loading="loading.positive" icon="thumb_up" flat size="16px" class="q-mr-sm"/>
      <q-btn @click="addLike('neutral')" :class="{active: active === 'neutral'}" :loading="loading.neutral" icon="thumb_up" class="neutral-btn q-mr-sm" flat size="16px"/>
      <q-btn @click="addLike('negative')":class="{active: active === 'negative'}"  :loading="loading.negative" icon="thumb_down" flat  size="16px"/>
    </div>
    <div class="movie-like-buttons_list" v-if="type === 'grid'">
      <q-btn @click="addLike('positive')" :class="{active: active === 'positive'}" :loading="loading.positive" icon="thumb_up" flat size="16px" class="q-mr-sm"/>
      <q-btn @click="addLike('neutral')" :class="{active: active === 'neutral'}" :loading="loading.neutral" icon="thumb_up" class="neutral-btn q-mr-sm" flat size="16px"/>
      <q-btn @click="addLike('negative')" :class="{active: active === 'negative'}" :loading="loading.negative" icon="thumb_down" flat  size="16px"/>
    </div>
  </div>
</template>

<script>
  import ThumbsUpIcon from "vue-feather-icons/icons/ThumbsUpIcon";
  import {mapActions} from 'vuex'

  export default {
    name: 'MovieLikeButtons',
    components: {ThumbsUpIcon},

    props: {
      type: {
        type: String,
        default: 'movie'
      },
      item: {
        type: [Object, String],
        default: null
      },
      dot: {
        type: Boolean,
        default: false
      },
    },

    data() {
      return {
        loading:{
          positive: false,
          neutral: false,
          negative: false,
        },
        active: null,
      }
    },

    methods:{
      ...mapActions('movies', ['addMovieLike', 'changeMovieLike']),
      addLike(type){
        this.loading[type] = true;
        this.addMovieLike({
          type:type,
          movie_id: this.item.id
        }).then(response => {
          this.loading[type] = false;
          this.$q.notify({
            type: 'positive',
            message: 'Оценка добавлена.'
          })
          this.$root.$emit('setLike', type);
          this.active = type;
        }).catch(err => {
           // console.log(err.graphQLErrors[0])
          this.loading[type] = false;
          if(err.graphQLErrors.length){
            this.$q.dialog({
              title: 'Внимание!',
              message: 'Вы уже добавили оценку. Хотите ее изменить?',
              cancel: 'Отмена',

            }).onOk(() => {
              this.changeLike(type);
            });
          }
        });
      },
      changeLike(type){
        this.loading[type] = true;
        this.changeMovieLike({
          type:type,
          movie_id: this.item.id
        }).then(response => {
          this.loading[type] = false;
          this.$q.notify({
            type: 'positive',
            message: 'Оценка обновлена.'
          })
          this.$root.$emit('setLike', type);
          this.active = type;
        }).catch(err => {
          this.loading[type] = false;
        });
      }
    }
  }
</script>

<style lang="stylus">
  .movie-like-buttons
    &_movie
      display flex
      justify-content flex-end
      .movie-like-buttons_btn
        //color var(--q-color-primary)
        color $grey-5
        display flex
        align-items center
        justify-content center
        flex-direction column
        margin-right 20px
      .q-btn
        margin-bottom 5px
        &.active
          color var(--q-color-primary)
    .neutral-btn
      .q-icon
        -webkit-transform rotate(-90deg)
        -moz-transform rotate(-90deg)
        -o-transform rotate(-90deg)
        -ms-transform rotate(-90deg)
        transform rotate(-90deg)
    &_list
      display flex
      justify-content space-between
      padding 0 20px
      .q-btn
        color white
        background #b0b0b0
        &.active,
        &:hover
          background var(--q-color-primary)
        .q-btn__wrapper
          padding 4px 10px
</style>
