<template>
  <div class="movie-tabs" v-if="$movie">
    <q-tabs
      v-model="tab"
      class="text-primary"
      align="left"
    >
      <q-tab name="description" label="Описание" />
      <q-tab name="inRoles" label="В главных ролях" />
      <q-tab v-if="$comments" name="reviews" :label="`Отзывы (${$comments.total})`" />
    </q-tabs>
    <q-separator color="primary" />
    <q-tab-panels v-model="tab" animated class="bg-transparent">
      <q-tab-panel name="description" class="overflow-hidden">
        <movie-description/>
        <movie-block-spf/>
        <movie-block-similsr/>
        <movie-block-from-producer/>
      </q-tab-panel>
      <q-tab-panel name="inRoles">
        <movie-block-actors/>
      </q-tab-panel>
      <q-tab-panel class="q-pa-none" name="reviews">
        <movie-block-comments/>
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
  import MovieDescription from "./MovieDescription";
  import MovieBlockSimilsr from "./MovieBlockSimilsr";
  import MovieBlockFromProducer from "./MovieBlockFromProducer";
  import MovieBlockActors from "./MovieBlockActors";
  import MovieBlockComments from "./MovieBlockComments";
  import MovieBlockSpf from "./MovieBlockSpf";
  export default {
    name: 'MovieTabs',
    components: {
      MovieBlockSpf,
      MovieBlockComments, MovieBlockActors, MovieBlockFromProducer, MovieBlockSimilsr, MovieDescription},
    data() {
      return {
        tab: 'description'
      }
    },
  }
</script>

<style lang="stylus">
  .movie-tabs
    margin-bottom 50px
    .q-tab
      text-transform none
    .q-tab__label
      font-size 16px
</style>
