<template>
  <div class="movie-block-actors">
    <div class="row">
      <div class="col-auto ma" v-for="item,k in items">
        <movies-actor-card :item="item" :key="k"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import MoviesActorCard from "../MoviesActorCard";

  export default {
    name: 'MovieBlockActors',
    components: {MoviesActorCard},
    data() {
      return {
        items: []
      }
    },

    methods: {
      ...mapActions('movies', ['getMoviesActors']),
    },

    created(){
      this.getMoviesActors(this.$movie.filmID).then(response => {
        this.items = response
      })
    }
  }
</script>

<style lang="stylus" scoped>
  .movie-block-actors
    position relative
    &_items
      display flex
      flex-wrap wrap
      .item
        margin-right 15px
        margin-bottom 15px
    .ma
      margin 0.44%
</style>
