<template>
  <div class="movie-block-comments">
    <comments-container/>
  </div>
</template>

<script>
  import CommentsContainer from "../../comments/CommentsContainer";

  export default {
    name: 'MovieBlockComments',
    components: {CommentsContainer},


  }
</script>

<style lang="stylus" scoped>
  .movie-block-comments
    padding 20px 0
    .comments-container
      background transparent
      padding 20px 0
</style>
