<template>
  <div class="movie-play-video-button">
    <q-btn outline round color="white" size="20px" @click="$emit('onPlay')">
      <play-icon size="1x"/>
    </q-btn>
    <!--<q-dialog v-model="show">-->
      <!--<q-card style="width: 700px; max-width: 80vw; height: 480px">-->
        <!--<q-card-section class="full-height">-->
          <!--<q-video :src="$movie.video" class="full-height"/>-->
        <!--</q-card-section>-->
      <!--</q-card>-->
    <!--</q-dialog>-->
  </div>
</template>

<script>
  import PlayIcon from "vue-feather-icons/icons/PlayIcon";
  export default {
    name: 'MoviePlayVideoButton',
    components: {PlayIcon},

    data() {
      return {
        show: false
      }
    },
  }
</script>

<style lang="stylus" scoped>

</style>
