<template>
  <div class="movie-block-from-producer" v-if="movies.length">
    <h2>От режисера</h2>
    <movies-carousel :items="movies"/>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import MoviesCardSlideItem from "../MoviesCardSlideItem";
  import MoviesCarousel from "../MoviesCarousel";
  export default {
    name: 'MovieBlockFromProducer',

    components: {MoviesCarousel, MoviesCardSlideItem},

    data() {
      return {
        movies: [],
      }
    },

    methods: {
      ...mapActions('movies', ['getMoviesFromDirector']),
      getData(item){
        this.getMoviesFromDirector({peopleID: item.director.id, filmID: item.filmID}).then(response => {
          this.movies = response
        })
      }
    },

    watch: {
      '$movie': function (item) {
        this.getData(item);
      }
    },

    created(){
      if(this.$movie){
        this.getData(this.$movie);
      }
    }

  }
</script>

<style lang="stylus" scoped>
  .movie-block-from-producer
    margin-top 20px
    margin-bottom 20px
    position relative
    h2
      font-size 16px
    .movies-card-slide-item
      width 190px
</style>
