<template>
  <div class="movie-big-image" :class="$mq">
    <q-img
      :src="$movie.kadr"
      spinner-color="white"
      v-if="!play"
      class="kadr"
      :class="$mq"
    >
      <div class="absolute-full"></div>
    </q-img>

    <video-player ref="videoPlayer"
                  class="vjs-custom-skin"
                  :options="playerOptions"
                  width="100%"
                  :class="{vis: play}"
                  @ended="onPlayerEnded"
    >
    </video-player>

    <div class="movie-big-image_control">
      <div class="row full-height">
        <div class="col-sm-4 col-lg-4"></div>
        <div class="col-sm-4 col-lg-4 flx-2">
          <movie-play-video-button @onPlay="playVideo" v-if="!hideBigPlay"/>
        </div>
        <div class="col-sm-4 col-lg-4">
          <div class="movie-big-image_control-buttons full-height">
            <q-btn v-if="muted" @click="setVolume" outline round color="white" size="16px" class="q-mb-md">
              <volume-x-icon size="1x"/>
            </q-btn>
            <q-btn v-if="!muted" @click="unsetVolume" outline round color="white" size="16px" class="q-mb-md">
              <volume2-icon size="1x"/>
            </q-btn>
            <q-btn v-if="!paused" @click="setPaused" outline round color="white" size="16px">
              <pause-icon size="1x"/>
            </q-btn>
            <q-btn v-if="paused" @click="unsetPaused" outline round color="white" size="16px">
              <play-icon size="1x"/>
            </q-btn>
            <!--<mobie-bookmark-button :movie="$movie"/>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MobieBookmarkButton from "./MobieBookmarkButton";
  import MoviePlayVideoButton from "./MoviePlayVideoButton";
  import VolumeIcon from "vue-feather-icons/icons/VolumeIcon";
  import PauseIcon from "vue-feather-icons/icons/PauseIcon";
  import PlayIcon from "vue-feather-icons/icons/PlayIcon";
  import Volume2Icon from "vue-feather-icons/icons/Volume2Icon";
  import Volume1Icon from "vue-feather-icons/icons/Volume1Icon";
  import VolumeXIcon from "vue-feather-icons/icons/VolumeXIcon";
  import {videoPlayer} from 'vue-videojs7'

  export default {
    name: 'MovieBigImage',
    components: {
      VolumeXIcon, videoPlayer,
      Volume1Icon, Volume2Icon, PlayIcon, PauseIcon, VolumeIcon, MoviePlayVideoButton, MobieBookmarkButton
    },

    data() {
      return {
        play: false,
        paused: false,
        hideBigPlay: false,
        muted: false,
        playerOptions: {
          autoplay: false,
          controls: false,
          crossorigin: 'use-credentials',
          cors: 'use-credentials',
        }
      }
    },

    computed: {
      player() {
        return this.$refs.videoPlayer.player
      }
    },

    methods: {
      playVideo(source) {
        this.play = true;
        this.hideBigPlay = true;
        const video = {
          withCredentials: false,
          //type: 'application/x-mpegurl',
          src: this.$movie.videoURL.hd
        }
        this.player.reset() // in IE11 (mode IE10) direct usage of src() when <src> is already set, generated errors,
        this.player.src(video)
        // this.player.load()
        this.player.currentTime(6);
        this.player.play()
      },
      autoPlay() {
        this.play = true;
      },
      autoPlayReady() {
        this.hideBigPlay = true;
      },
      setVolume() {
        this.muted = false;
        this.player.muted(false);
      },
      unsetVolume() {
        this.muted = true;
        this.player.muted(true);
      },
      setPaused() {
        this.paused = true;
        this.player.pause();
      },
      unsetPaused() {
        this.paused = false;
        this.player.play()
      },
      onPlayerEnded() {
        this.play = false;
        this.paused = false;
        this.hideBigPlay = false;
        this.muted = false;
      }
    },

    mounted() {
      //const src = 'https://strm.yandex.ru/vh-kp-converted/vod-content/5337746974114156640.m3u8'
      //this.playVideo(src)
    },

    created() {
      // setTimeout(() => {
      //   this.autoPlay();
      // }, 2000);
    }
  }
</script>

<style lang="stylus">
  .movie-big-image
    height 550px
    width 100%
    position relative
    background black
    border-radius 6px
    &.sm
      height 350px
      .vjs-custom-skin
        &.vis
          height 350px
        .video-js
          height 350px !important
    .q-img
      border-radius 6px
    .flx-2
      display flex
      align-items center
      justify-content center
    .flx-3
      display flex
      justify-content flex-end
      align-items flex-end
    &_control
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      z-index 1
    &_control-buttons
      display flex
      flex-wrap wrap
      flex-direction column
      align-items flex-end
      padding 15px
    .vjs-custom-skin
      position absolute
      opacity 0
      width 1px
      height 1px
      &.vis
        opacity 1
        width 100%
        height 550px
      .video-js
        width 100% !important
        height 550px !important

    .kadr
      height 550px
      width 100%
      &.sm
        height 350px
</style>
