<template>
  <div class="movie-video-container shadow-4" v-if="$movie">
    <movie-big-image/>
    <movie-video-info/>
  </div>
</template>

<script>
  import MovieBigImage from "./MovieBigImage";
  import MovieVideoInfo from "./MovieVideoInfo";
  export default {
    name: 'MovieVideoContainer',
    components: {MovieVideoInfo, MovieBigImage}
  }
</script>

<style lang="stylus" scoped>
  .movie-video-container
    background white
    margin 20px 0
    border-radius 6px
</style>
