<template>
  <q-page class="error404 error-page">
    <div class="container">
      <div class="error-page_content flex flex-center">
        <div>
          <h1>404 - Страница не найдена.</h1>
          <p>Ищете что-то интересное на нашем сайте? К сожалению, страница,<br/> которую Вы запрашиваете, не существует.</p>
          <q-btn
            class="q-mt-xl"
            color="primary"
            unelevated
            to="/"
            label="На главную"
            no-caps
            style="width: 200px; height: 50px"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  export default {
    name: 'Error404'
  }
</script>

<style lang="stylus" scoped>
  .error-page
    padding 50px 0
    text-align center
    &_content
      background white
      box-shadow $shadow-4
      padding 20px
      border-radius 6px
      h1
        font-weight normal
</style>
