<template>
  <q-page class="error403 error-page">
    <div class="container">
      <div class="error-page_content flex flex-center bg-white">
        <div>
          <h1>403 - Доступ запрещен!</h1>
          <p>Для доступа к этому контенту необходимо авторизоваться.</p>
          <q-btn
            class="q-mt-xl"
            color="primary"
            unelevated
            to="/"
            label="На главную"
            no-caps
            style="width: 200px; height: 50px"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  export default {
    name: 'Error403'
  }
</script>

<style lang="stylus" scoped>
  .error-page
    padding 50px 0
    text-align center
    &_content
      box-shadow $shadow-4
      padding 20px
      border-radius 6px
      h1
        font-weight normal
</style>
