<template>
  <q-page>
    <movies-in-main title="Фильмы" slug="films" :tags="['все', 'комедия', 'фантастика', 'боевик', 'ужасы', 'мелодрама', 'мистика']"/>
    <movies-in-main title="Сериалы" slug="serials" class="bg-white" :tags="['все', 'зарубежные', 'русские']"/>
    <movies-in-main title="Мультфильмы" slug="cartoons" :tags="['все', 'зарубежные', 'русские', 'аниме']"/>
    <movies-collections-in-main class="bg-white"/>
  </q-page>
</template>

<script>
  import MoviesInMain from "../components/movies/MoviesInMain";
  import MoviesCollectionsInMain from "../components/movies/MoviesCollectionsInMain";

  export default {
    name: 'PageIndex',
    components: {MoviesCollectionsInMain, MoviesInMain},
  }
</script>
