<template>
  <div class="parse-movies flex flex-center">
    <h1>Парсим фильмы Кинопоиск</h1>
    <q-btn @click="start" label="Старт" class="q-mb-md" color="green"/>
    <q-btn @click="stop" label="Стоп" color="primary"/>
  </div>
</template>

<script>
  export default {
    name: 'ParseMovies',

    data() {
      return {
        polling: null
      }
    },

    methods: {
      pollData() {
        this.polling = setInterval(() => {

          if (parseInt(this.$route.params.from) <= parseInt(this.$route.params.to)) {
            this.$router.push({
              name: 'parse.movies', params: {
                from: parseInt(this.$route.params.from) + 1,
                to: this.$route.params.to,
              }
            })
            this.$axios.post(JSON.parse(process.env.API) + '/parse/movie/' + this.$route.params.from);
          } else {
            this.stop();
          }

        }, 3000)
      },
      start() {
        this.$axios.post(JSON.parse(process.env.API) + '/parse/movie/' + this.$route.params.from);
        this.pollData()
      },
      stop() {
        clearInterval(this.polling)
        this.polling = null
      }
    },

    beforeDestroy() {
      clearInterval(this.polling)
    }

  }
</script>

<style lang="stylus" scoped>
  .parse-movies
    min-height 500px
    flex-direction column
</style>
