<template>
  <q-page class="page-user-feed-following page-profile">
    <user-profile-followers type="followings"/>
  </q-page>
</template>

<script>
  import UserProfileFollowers from "../../../components/user/profile/UserProfileFollowers";
  export default {
    name: 'PageUserFeedFollowing',
    components: {UserProfileFollowers}
  }
</script>

<style lang="stylus" scoped>

</style>
