<template>
  <q-page class="page-user-feed-news page-profile">
    <user-feed-timeline @loadMore="loadMore" @onFilter="onFilter"/>
  </q-page>
</template>

<script>
  import UserFeedTimeline from "../../../components/user/feed/UserFeedTimeline";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });

  export default {
    name: 'PageUserFeedNews',
    components: {UserFeedTimeline},

    beforeRouteEnter (to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getData();
      })
    },

    data() {
      return {
        q: {
          slug: this.$route.params.slug,
          type: 'all',
          current_page: 1,
        }
      }
    },

    computed: {
      ...mapFields('user', ['feed']),
    },

    methods: {
      ...mapActions('user', ['getFeedTimeLine']),
      getData(){
        this.getFeedTimeLine(this.q);
      },
      loadMore(){
        this.q.current_page += 1;
        this.getFeedTimeLine(this.q);
      },
      onFilter(item){
        this.q.type = item;
        this.q.current_page = 1
        //this.feed = {},
        this.getFeedTimeLine(this.q);
      }
    },


  }
</script>

<style lang="stylus" scoped>

</style>
