<template>
  <q-page class="page-user-feed-search page-profile">
    <user-profile-degree/>
  </q-page>
</template>

<script>

  import UserProfileDegree from "../../../components/user/profile/UserProfileDegree";
  export default {
    name: 'PageUserFeedSearch',
    components: {UserProfileDegree},
  }
</script>

<style lang="stylus" scoped>
  .page-user-feed-search
    padding 20px
</style>
