<template>
  <q-page class="page-user-feed-follewers page-profile">
    <user-profile-followers/>
  </q-page>
</template>

<script>
  import UserProfileFollowers from "../../../components/user/profile/UserProfileFollowers";
  export default {
    name: 'PageUserFeedFollewers',
    components: {UserProfileFollowers}
  }
</script>

<style lang="stylus" scoped>

</style>
