<template>
  <div class="page-user-feed">
    <div class="container">
      <user-feed-tabs :tabs="tabs"/>
      <router-view/>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import UserFeedTabs from "../../../components/user/feed/UserFeedTabs";
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });

  export default {
    name: 'PageUserFeed',
    components: {UserFeedTabs},
    beforeRouteEnter (to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getFeedTabs(to.params.slug);
      })
    },

    computed: {
      ...mapFields('user', ['tabs']),
    },

    methods: {
      ...mapActions('user', ['getFeedTabs']),
    },

    watch: {
      '$route': function (to) {
        this.getFeedTabs(to.params.slug);
      }
    },


  }
</script>

<style lang="stylus" scoped>

</style>
