<template>
  <q-page class="page-user-collections">
    <div class="container">
      <breadcrumb-list :items="[{name: 'Закладки / подборки', path: null}]"/>
      <div class="row q-col-gutter-lg">
        <div class="col-xs-12 col-sm-12 col-md-3 col-3" :class="'cl-'+$mq+'-4'">
          <user-collections-filter v-model="item"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-9" :class="'cl-'+$mq+'-8'">
          <component :is="item.component" :item="item"/>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import BreadcrumbList from "../../components/breadcrumb/BreadcrumbList";
  import UserCollectionsFilter from "../../components/user/collections/UserCollectionsFilter";
  import UserCollectionsBook from "../../components/user/collections/UserCollectionsBook";
  import UserCollectionsCollection from "../../components/user/collections/UserCollectionsCollection";

  export default {
    name: 'PageUserCollections',
    components: {UserCollectionsCollection, UserCollectionsBook, UserCollectionsFilter, BreadcrumbList},

    data() {
      return {
        item: {
          component: 'UserCollectionsBook'
        }
      }
    },




  }
</script>

<style lang="stylus" scoped>
  .page-user-collections
    padding-bottom 50px
    .cl-mdl-4
      width 33%
    .cl-mdl-8
      width 67%
</style>
