<template>
  <div class="page-email-activation">

  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    name: 'PageEmailActivation',

    beforeRouteEnter (to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.$q.loading.show({
          message: 'Ждите...идет активация.'
        })
        vm.mailActivation({id: to.params.id}).then(() => {
          vm.$q.loading.hide();
          vm.$q.notify({
            message: 'Email успешно пройшол проверку.',
            color: 'positive',
            html: true,
          });
          next('/');
        }).catch(err => {
          vm.$q.loading.hide();
          next('/');
        })
      })
    },

    methods: {
      ...mapActions('user', ['mailActivation'])
    }

  }
</script>

<style lang="stylus" scoped>

</style>
