<template>
  <q-form class="header-search-form">
    <q-input outlined v-model="form.search" class="h30inp">
      <template v-slot:prepend>
        <search-icon size="1.5x"/>
      </template>
    </q-input>

    <div class="header-search-form_result" v-if="results.length">
      <search-result-group :title="item.name" v-for="item,k in results" :key="k" :result="item.results"/>
      <div class="more-result">
        <router-link to="/catalog/films/all" class="all">Показать все</router-link>
      </div>
    </div>
  </q-form>
</template>

<script>
  import {SearchIcon} from 'vue-feather-icons'
  import SearchResultGroup from "../search/SearchResultGroup";
  import {mapActions} from 'vuex'

  export default {
    name: 'HeaderSearchForm',

    components: {
      SearchResultGroup,
      SearchIcon
    },

    data() {
      return {
        form: {
          search: null
        },
        results: [],
      }
    },

    methods: {
      ...mapActions('movies', ['searchMovies']),
      addBg() {
        var dcc = document.getElementsByClassName('bgg');
        var node = document.createElement("div");
        node.setAttribute('class', 'bgg');
        node.addEventListener("click", this.rmBg);
        if (dcc.length === 0) {
          document.body.appendChild(node);
        }
      },
      rmBg(){
        [...document.getElementsByClassName("bgg")].map(n => n && n.remove());
        this.results = {};
      }
    },

    watch: {
      'form.search': function (val) {
        if (val.length > 1) {
          this.searchMovies({search:val}).then(response => {
            this.results = response;
            if(response.length){
              this.addBg();
            }else {
              this.rmBg();
            }

          });
        } else {
          this.rmBg();
        }
      },
      '$route': function () {
        this.rmBg();
      }
    },

    destroyed(){
      this.rmBg();
    }
  }
</script>

<style lang="stylus" scoped>
  .header-search-form
    &_result
      border 1px solid rgba(0, 0, 0, 0.24)
      margin-top -1px
      padding 20px
      position absolute
      background white
      width 100%
      z-index 6001
    .more-result
      text-align center
      display flex
      align-items center
      justify-content center
      .all
        display block
        text-transform uppercase
        font-size 12px
        color $dark
        padding 10px 30px
        background #f7f7f7
        border-radius 4px
        &:hover
          background var(--q-color-primary)
          color white
</style>
