<template>
  <div class="header-search-form-mobile">
    <q-btn flat round @click="showSearch = true">
      <search-icon size="1.5x"/>
    </q-btn>
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <div class="header-search-form-mobile_container" v-if="showSearch">
        <div class="row full-height">
          <div class="col-xs-10 col-sm-11 flx">
            <q-input v-model="form.search" square outlined class="h30inp full-width">
              <template v-slot:prepend>
                <search-icon size="1.5x"/>
              </template>
            </q-input>
          </div>
          <div class="col-xs-2 col-sm-1 text-right">
            <q-btn flat round @click="showSearch = false">
              <x-icon size="1.5x"/>
            </q-btn>
          </div>
        </div>
        <div class="header-search-form-mobile_result" v-if="results.length">
          <search-result-group :title="item.name" v-for="item,k in results" :key="k" :result="item.results"/>
          <div class="more-result">
            <router-link to="catalog/films/all" class="all">Показать все</router-link>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import SearchIcon from "vue-feather-icons/icons/SearchIcon";
  import XIcon from "vue-feather-icons/icons/XIcon";
  import {mapActions} from 'vuex'
  import SearchResultGroup from "../search/SearchResultGroup";

  export default {
    name: 'HeaderSearchFormMobile',
    components: {SearchResultGroup, XIcon, SearchIcon},

    data() {
      return {
        showSearch: false,
        form: {
          search: null
        },
        results: [],
      }
    },

    methods: {
      ...mapActions('movies', ['searchMovies']),
    },

    watch: {
      'form.search': function (val) {
        if (val.length > 3) {
          this.searchMovies(val).then(response => {
            this.results = response;
          });
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .header-search-form-mobile
    margin-right 15px
    &_container
      position absolute
      height 54px
      width 100%
      z-index 100
      background white
      top 0
      left 0
      padding 6px 10px
      .flx
        display flex
        align-items center
    &_result
      border 1px solid rgba(0, 0, 0, 0.24)
      margin-top 6px
      margin-left -10px
      padding 20px
      position absolute
      background white
      width 100%
      z-index 6001
      max-height 500px
      overflow-x scroll
</style>
