<template>
  <div class="header-toolbar-mobile full-width">
    <div class="row full-width">
      <div class="col-xs-3 col-sm-3">
        <q-btn flat round @click="$emit('openLeftMenu')">
          <menu-icon size="1.5x"/>
        </q-btn>
      </div>
      <div class="col-xs-4 col-sm-4 flx">
        <router-link to="/" class="q-mr-lg">
          <q-icon name="fas lg-logo2" size="25px" style="width: 95px; margin-top: -5px">

          </q-icon>
        </router-link>
      </div>
      <div class="col-xs-5 col-sm-5 flx2">
        <header-search-form-mobile/>
        <header-user v-if="Object.keys($user).length"/>
        <header-auth-user v-else/>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuIcon from "vue-feather-icons/icons/MenuIcon";
  import HeaderUser from "./HeaderUser";
  import HeaderSearchFormMobile from "./HeaderSearchFormMobile";
  import HeaderAuthUser from "./HeaderAuthUser";

  export default {
    name: 'HeaderToolbarMobile',
    components: {HeaderAuthUser, HeaderSearchFormMobile, HeaderUser, MenuIcon}
  }
</script>

<style lang="stylus" scoped>
  .header-toolbar-mobile
    .flx
      display flex
      align-items center
      justify-content center
    .flx2
      display flex
      align-items center
      justify-content flex-end
</style>
