<template>
  <div class="header-auth-user">
    <q-btn dense no-caps label="Войти" @click="dialog = true" color="primary" style="padding: 0 20px"/>
    <q-dialog v-model="dialog" >
      <q-card>
        <q-card-section class="q-pa-none">
          <component :is="comp" @valueUpdated="onUpdate"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
  import UserAuthForm from "../user/UserAuthForm";
  import UserRegisterForm from "../user/UserRegisterForm";
  import bus from '../../boot/bus'

  export default {
    name: 'HeaderAuthUser',
    components: {UserRegisterForm, UserAuthForm},
    data() {
      return {
        comp: 'UserAuthForm',
        dialog: false,
      }
    },

    methods: {
      onUpdate(data) {
        this.comp = data;
      }
    },

    mounted(){
      this.$root.$on('auth', () => {
        this.dialog = true;
      });
      bus.$on('auth', () => {
        this.dialog = true;
      })
    }
  }
</script>

<style lang="stylus" scoped>

</style>
