<template>
  <div class="header-toolbar full-width">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <router-link to="/" class="q-mr-lg text-primary">
            <q-icon name="fas lg-logo2" size="25px" style="width: 95px; margin-top: -5px">

            </q-icon>
          </router-link>
          <q-btn class="bbm" :class="{active: $showTopMenuAlways}" flat round @click="setMenuAlways" @mouseover="$showTopMenu = true">
            <menu-icon size="1.5x"/>
          </q-btn>
        </div>
        <div class="col-4 self-center">
          <header-search-form/>
        </div>
        <div class="col-4 text-right self-center">
          <header-buttons-bar/>
        </div>
        <div class="col-1 text-right self-center">
          <header-user v-if="Object.keys($user).length"/>
          <header-auth-user v-else/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MenuIcon } from 'vue-feather-icons'
  import HeaderSearchForm from "./HeaderSearchForm";
  import HeaderUser from "./HeaderUser";
  import HeaderButtonsBar from "./HeaderButtonsBar";
  import {mapActions} from 'vuex'
  import HeaderAuthUser from "./HeaderAuthUser";

  export default {
    name: 'HeaderToolbar',
    components: {HeaderAuthUser, HeaderButtonsBar, HeaderUser, HeaderSearchForm, MenuIcon},

    methods: {
      ...mapActions('main', ['setMenuAlways']),
    },
  }
</script>

<style lang="stylus">
  .header-toolbar
    .bbm
      &:hover
        color var(--q-color-primary)
      &.active
        color var(--q-color-primary)
        .q-focus-helper
          background currentColor
          opacity 0.15
</style>
