<template>
  <div class="header-user">
    <q-scroll-observer @scroll="$refs.mym.hide()"/>
    <q-btn round>

      <mq-layout mq="mdl+">
        <q-avatar size="45px" @mouseover="$refs.mym.show()">
          <img :src="$user.avatarImage">
        </q-avatar>
        <q-menu ref="mym" @mouseleave="$refs.mym.hide()" content-class="mym bg-white" fit anchor="bottom left" self="top middle"
                auto-close>
          <div class="menu--after"></div>
          <ul class="user-menu">
            <li>
              <router-link :to="{name: 'user.slug', params:{slug: $user.slug}}">
                <user-icon size="1.5x"/>
                Профиль
              </router-link>
            </li>
            <q-separator class="q-mb-sm q-mt-sm"/>
            <li>
              <span @click="out">
                <log-out-icon size="1.5x"/>
                Выйти
              </span>
            </li>
          </ul>
        </q-menu>
      </mq-layout>
      <mq-layout :mq="['xs', 'sm']">
        <q-avatar size="45px">
          <img :src="$user.avatarImage">
        </q-avatar>
        <q-menu ref="mym" content-class="mym" fit anchor="bottom left" self="top middle"
                auto-close>
          <ul class="user-menu">
            <li>
              <router-link :to="{name: 'user.slug', params:{slug: $user.slug}}">
                <user-icon size="1.5x"/>
                Мой профиль
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'user.slug.collections',params:{slug: $user.slug}}">
                <bookmark-icon size="1.5x"/>
                Закладки / подборки
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'user.slug.likes',params:{slug: $user.slug}}">
                <thumbs-up-icon size="1.5x"/>
                Мои оценки
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'user.slug.reviews',params:{slug: $user.slug}}">
                <message-square-icon size="1.5x"/>
                Мои отзывы
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'messages.slug',params:{slug: $user.slug}}">
                <q-badge color="red" floating v-if="countUnread > 0">{{countUnread}}</q-badge>
                <mail-icon size="1.5x"/>
                Уведомления / чаты
              </router-link>
            </li>
            <li>
              <router-link :to="{name: 'feed.slug',params:{slug: $user.slug}}">
                <users-icon size="1.5x"/>
                Подписки / подписчики
              </router-link>
            </li>
            <q-separator class="q-mb-sm q-mt-sm"/>
            <li>
              <span @click="out">
                <log-out-icon size="1.5x"/>
                Выйти
              </span>
            </li>
          </ul>
        </q-menu>
      </mq-layout>
    </q-btn>
  </div>
</template>

<script>
  import {BookmarkIcon, LogOutIcon, MailIcon, MessageSquareIcon, ThumbsUpIcon, UserIcon} from 'vue-feather-icons'
  import UsersIcon from "vue-feather-icons/icons/UsersIcon";
  import {mapActions} from 'vuex'
  import {unreadMessage} from '../mixin/undeadMessage'

  export default {
    name: 'HeaderUser',

    components: {
      UsersIcon,
      UserIcon, BookmarkIcon, ThumbsUpIcon, MessageSquareIcon, MailIcon, LogOutIcon
    },

    mixins:[unreadMessage],

    methods: {
      ...mapActions('user', ['logout']),
      out(){
        this.logout().then(response =>{
          window.location.href = '/';
        })
      }
    },

  }
</script>

<style lang="stylus" scoped>
  .user-menu
    min-width 180px
    padding 0
    li
      list-style none
      padding 5px 20px
      cursor pointer
      span
      a
        color #626262
        display flex
        align-items center
        .feather
          margin-right 15px
          cursor pointer
      &:hover
        span
        a
          color var(--q-color-primary)

  .mym
    .menu--after
      right 55px
</style>
