<template>
  <div class="header-buttons-bar">
    <!--<div class="no-auth" v-if="!Object.keys($user).length" @click="$root.$emit('auth')"></div>-->
    <q-btn round flat :to="{name: 'user.slug.collections',params:{slug: $user.slug}}">
      <bookmark-icon size="1.5x"/>
      <q-tooltip>Закладки / подборки</q-tooltip>
    </q-btn>
    <q-btn round flat :to="{name: 'user.slug.likes', params:{slug: $user.slug}}">
      <thumbs-up-icon size="1.5x"/>
      <q-tooltip>Мои оценки</q-tooltip>
    </q-btn>
    <q-btn round flat :to="{name: 'user.slug.reviews', params:{slug: $user.slug}}">
      <message-square-icon size="1.5x"/>
      <q-tooltip>Мои отзывы</q-tooltip>
    </q-btn>
    <q-btn round flat :to="{name: 'messages.slug', params:{slug: $user.slug}}">
      <q-badge color="red" floating v-if="countUnread > 0">{{countUnread}}</q-badge>
      <mail-icon size="1.5x"/>
      <q-tooltip>Уведомления / чаты</q-tooltip>
    </q-btn>
    <q-btn round flat :to="{name: 'feed.slug', params:{slug: $user.slug}}">
      <users-icon size="1.5x"/>
      <q-tooltip>Подписки / подписчики</q-tooltip>
    </q-btn>

    <q-scroll-observer @scroll="$refs.mym.hide()"/>

    <q-btn round flat  @mouseover="$refs.mym.show()">
      <settings-icon size="1.5x"/>
      <q-tooltip>Настройки темы</q-tooltip>
      <q-menu ref="mym" :offset="[50, 10]">
        <q-card class="my-card bg-white">
          <q-card-section class="bg-primary text-white">
            <div class="text-h10">Настройка темы</div>
          </q-card-section>
          <q-card-section>
            <app-theme-settings/>
          </q-card-section>
        </q-card>
      </q-menu>
    </q-btn>
  </div>
</template>

<script>

  import {BookmarkIcon, MailIcon, MessageSquareIcon, SettingsIcon, ThumbsUpIcon, UsersIcon} from 'vue-feather-icons'
  import {unreadMessage} from '../mixin/undeadMessage'
  import AppThemeSettings from "../app/AppThemeSettings";

  export default {
    name: 'HeaderButtonsBar',

    components: {
      AppThemeSettings,
      BookmarkIcon, ThumbsUpIcon, MessageSquareIcon, MailIcon, UsersIcon, SettingsIcon
    },

    mixins:[unreadMessage]
  }
</script>

<style lang="stylus" scoped>
  .header-buttons-bar
    color $grey-9
    position relative
    .q-btn:hover
      color: var(--q-color-primary)
    .q-btn
      margin-right 5px
    .no-auth
      display flex
      position absolute
      z-index 100
      width 100%
      height 100%
      cursor pointer
</style>
