<template>
  <div class="user-profile-actions-buttons">
    <!--<q-btn outline round color="white" class="edit-btn">-->
      <!--<user-plus-icon size="1.2x"/>-->
      <!--<q-tooltip>-->
        <!--Добавить в друзья-->
      <!--</q-tooltip>-->
    <!--</q-btn>-->
    <q-btn @click="message = true" outline round color="white" class="edit-btn">
      <mail-icon size="1.2x"/>
      <q-tooltip>
        Написать сообщение
      </q-tooltip>
    </q-btn>
    <q-dialog v-model="message">
      <q-card>
        <q-card-section>
          <user-messages-form v-model="message" :profile="profile"/>
        </q-card-section>
      </q-card>
    </q-dialog>


    <q-btn v-if="!profile.ifollow" :loading="loading.follow" no-caps  @click="follow" outline rounded color="white" class="edit-btn">
      <rss-icon size="1.2x" class="q-mr-sm"/>
      <span>Подписаться</span>
      <!--<q-tooltip>-->
        <!--Подписаться-->
      <!--</q-tooltip>-->
    </q-btn>
    <q-btn v-if="profile.ifollow" :loading="loading.chosen" no-caps  @click="chosen" outline rounded color="white" class="edit-btn">
      <rss-icon size="1.2x" class="q-mr-sm"/>
      <span>Вы подписаны</span>
    </q-btn>
    <q-btn outline round color="white" class="edit-btn" v-if="profile.ifollow" @click="chosen">
      <heart-icon size="1.2x"/>
      <q-tooltip>
        Добавить в избранные подписки
      </q-tooltip>
    </q-btn>
  </div>
</template>

<script>
  import UserPlusIcon from "vue-feather-icons/icons/UserPlusIcon";
  import MailIcon from "vue-feather-icons/icons/MailIcon";
  import RssIcon from "vue-feather-icons/icons/RssIcon";
  import {mapActions} from 'vuex'
  import UserMessagesForm from "../messages/UserMessagesForm";
  import HeartIcon from "vue-feather-icons/icons/HeartIcon";

  export default {
    name: 'UserProfileActionsButtons',
    components: {HeartIcon, UserMessagesForm, RssIcon, MailIcon, UserPlusIcon},

    props: {
      profile: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        message: false,
        loading: {
          follow: false,
          chosen: false,
        }
      }
    },

    methods:{
      ...mapActions('user', ['followReq', 'chosenReq']),
      follow(){
        this.loading.follow = true;
        this.followReq({slug: this.$route.params.slug}).then(response => {
          this.loading.follow = false;
          this.$q.notify({
            color: 'positive',
            message: 'Вы подписались на профиль пользователя',
          })
        }).catch(err => {
          this.loading.follow = false;
        })
      },
      chosen(){
        this.loading.chosen = true;
        this.chosenReq({slug: this.$route.params.slug}).then(response => {
          this.loading.chosen = false;
          this.$q.notify({
            color: 'positive',
            message: 'Вы добавили пользователя в избранные',
          })
        }).catch(err => {
          this.loading.chosen = false;
        })
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .user-profile-actions-buttons
    padding-top 20px
    .q-btn
      margin-left 20px
</style>
