<template>
  <div class="user-profile-degree">
    <field-degree v-model="q.percent"/>

    <table-data
      :columns="columns"
      :sortName="q.sortField"
      :sortBy="q.sortBy"
      :loading="loading"
      :rows="followers.data"
      v-if="Object.keys(followers).length"
      @onSort="setSort"
    >
      <template slot="before-table">
        <div class="row q-mb-md">
          <div class="col-lg-4">
            <field-view-count-rows v-model="q.per_page"/>
          </div>
          <div class="col-lg-4 offset-4">
            <field-search v-model="q.search"/>
          </div>
        </div>
        <q-separator class="q-mb-md"/>
      </template>


      <template slot="tbodytr">
        <tr v-for="item,k in followers.data">
          <td>{{item.percent_degree}} %</td>
          <td>{{item.coincidence}}</td>
          <td>
            <div class="user">
              <router-link :to="{name: 'user.slug', params:{slug: item.slug}}">
                <q-avatar size="30px">
                  <img :src="item.avatarImage">
                </q-avatar>
                <div class="name">{{item.login}}</div>
              </router-link>
            </div>
          </td>
          <td align="center">{{item.likes_count}}</td>
          <td align="center">{{item.movie_comments_count}}</td>
          <td>{{item.last_activity || 'никогда'}}</td>
          <td align="right">
            <a href="javascript:void(0)" @click="subs(item)" v-if="!item.inFollowers">Подписаться</a>
            <span v-else>Вы подписаны
              <q-icon @click="fav(item)" size="xs" name="favorite" class="cursor-pointer"><q-tooltip>Добавить в Избранные подписки</q-tooltip></q-icon>
            </span>
          </td>
        </tr>
      </template>
      <table-loading slot="loading" :sch="35" :cols="4" :rows="q.per_page"/>

      <template slot="after-table">
        <div class="row q-mt-lg">
          <div class="col-lg-2">
            <div class="total-table-info">Показано с {{followers.from}} по {{followers.to}} из {{followers.total}}</div>
          </div>
          <div class="col-lg-10 flex justify-end">
            <q-pagination
              v-model="q.current_page"
              :max="followers.last_page"
              :direction-links="true"
            />
          </div>
        </div>
      </template>
    </table-data>
  </div>
</template>

<script>
  import TableData from "../../tables/TableData";
  import {mapActions} from 'vuex'
  import TableLoading from "../../tables/TableLoading";
  import {createHelpers} from 'vuex-map-fields'
  import FieldViewCountRows from "../../fields/FieldViewCountRows";
  import FieldSearch from "../../fields/FieldSearch";
  import FieldDegree from "../../fields/FieldDegree";
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });

  export default {
    name: 'UserProfileDegree',

    components: {FieldDegree, FieldSearch, FieldViewCountRows, TableLoading, TableData},

    props: {
      type: {
        type: String,
        default: 'followers'
      },
    },

    data() {
      return {
        rows: [],
        columns: [
          { name: 'percent_degree', align: 'left', label: '%', sortable: true},
          { name: 'coincidence', align: 'left', label: 'Совпадение оценок', sortable: false},
          { name: 'login', align: 'left', label: 'Nickname', sortable: true},
          { name: 'likes_count', align: 'center', label: 'Оценок', sortable: true },
          { name: 'movie_comments_count', align: 'center', label: 'Отзывов', sortable: true },
          { name: 'last_activity',align: 'left', label: 'Последняя активность', sortable: true, width: 250 },
          { name: 'actions',align: 'left', label: '' },
        ],
        loading: false,
        q:{
          slug: this.$route.params.slug,
          percent: {
            min: 30,
            max: 100
          },
          per_page: 10,
          current_page: 1,
          search: null,
          sortBy: 'desc',
          sortField: 'last_activity',
        }
      }
    },

    computed: {
      ...mapFields('user', ['followers',])
    },

    watch:{
      q: {
        handler(values) {
          values.fetchPolicy = 'network-only';
          this.getData(values);
        },
        deep: true
      },
    },

    methods: {
      ...mapActions('user', ['getDegree',  'followReq', 'chosenReq']),
      getData(q){
        this.loading = true;
        this.getDegree(q).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      },
      setSort(data){
        this.q.sortBy = data.sortBy;
        this.q.sortField = data.sortName;
        this.q.fetchPolicy = 'network-only';
        this.getData(this.q);
      },
      subs(item){
        this.followReq({slug: item.slug}).then(response => {
          this.$q.notify({
            color: 'positive',
            message: 'Вы подписались на профиль пользователя',
          })
          item.inFollowers = true;
        }).catch(err => {

        })
      },
      fav(item){
        this.chosenReq({slug: item.slug}).then(response => {
          this.$q.notify({
            color: 'positive',
            message: 'Вы добавили пользователя в избранные подписки',
          })
          //item.inFollowers = true;
        }).catch(err => {

        })
      }
    },

    created(){
      this.getData(this.q);
    }
  }
</script>

<style lang="stylus" scoped>
  .user-profile-degree
    padding 20px
    .user
      a
        display flex
        align-items center
        .q-avatar
          margin-right 10px
</style>
