<template>
  <div class="user-profile-preference-item">
    <div class="user-profile-preference-item_top">
      <div class="row">
        <div class="col-lg-4 flx">
          <vc-donut
            :background="bg"
            :size="250"
            unit="px"
            :thickness="8"
            :sections="genres"
            :total="100"
            :start-angle="0"
            :auto-adjust-text-size="true"
          >
            <div class="flex flex-center info-donut">
              <div class="total">{{items.total}}</div>
              <div class="info">{{name}}<br/>просмотрено</div>
            </div>
          </vc-donut>
        </div>
        <div class="col-lg-8 flx2">
          <div class="ganres row">
            <div class="col-lg-3" v-for="item,k in genres">
              <div class="ganres-item-percent" :style="{color: item.color}">{{item.value}} %</div>
              <div class="ganres-item-label">{{item.label}}</div>
            </div>
          </div>
          <div class="countries row" v-if="Object.keys(items).length">
            <div class="col-lg-3" v-for="item,k in items.county">
              <div class="countries-item-percent">{{item.percent}} %
                <!--<country-flag :country="item.name | country"/>-->
              </div>
              <div class="countries-item-label">{{item.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <user-profile-preference-item-actors :actors="items.actors"/>
    <user-profile-preference-item-years-line :items="items.year"/>
  </div>
</template>

<script>
  import UserProfilePreferenceItemActors from "./UserProfilePreferenceItemActors";
  import UserProfilePreferenceItemYearsLine from "./UserProfilePreferenceItemYearsLine";
  import {mapActions} from 'vuex'

  export default {
    name: 'UserProfilePreferenceItem',
    components: {UserProfilePreferenceItemYearsLine, UserProfilePreferenceItemActors},
    props: {
      type: {
        type: String,
        default: 'films'
      },
      profile:{
        type: Object,
        default: () => {}
      }
    },

    filters:{
      country(item){
        let data = {
          'США': 'us',
          'Франция' : 'fr',
          'Россия' : 'ru',
        }
        return (data[item] !== undefined) ? data[item] : 'us';
      }
    },

    data() {
      return {
        items: {},
        bg: 'white'
      };
    },

    computed: {
      name() {
        let data = {};
        data.films = 'фильмов';
        data.serials = 'сериалов';
        data.cartoons = 'мультфильмов';
        return data[this.type];
      },
      genres(){
        let items = [];
        let colors = ['#f25a54', '#6cbdd2', '#aadd85', '#fcd616'];
        _.forEach(this.items.genre, (v, k) => {
          items.push({
            label: v.name,
            value: v.percent,
            color: colors[k]
          })
        })
        return items;
      }
    },

    watch:{
      profile(value){
        this.getData();
      },
      '$q.dark.isActive' (val) {
        if(val){
          this.bg = '#252B47';
        }else {
          this.bg = 'white';
        }
      }
    },

    methods: {
      ...mapActions('user', ['getPreferences']),
      getData(){
        this.getPreferences([{slug: this.$route.params.slug, type: this.type}, 'network-only']).then(response => {
          this.items = response;
        })
      }
    },

    created(){
      this.getData();
      if(this.$q.localStorage.has('theme') && this.$q.localStorage.getItem('theme') === 'dark'){
        this.bg = '#252B47';
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .user-profile-preference-item
    &_top
      padding 20px
    .flx
      align-items center
      display flex
      justify-content center
    .info-donut
      flex-wrap wrap
      flex-direction column
      .total
        font-size 48px
        color var(--q-color-primary)
      .info
        font-size 14px
        line-height 1.1
    .ganres
      margin-bottom 60px
      padding-left 30px
      &-item
        &-percent
          font-size 48px
    .countries
      padding-left 30px
      &-item
        &-percent
          font-size 36px
          color #626262
    .flx2
      display flex
      flex-direction column
      justify-content center
</style>
