<template>
  <div class="user-profile-preference-container">
    <user-profile-preference-item type="films" :profile="$profile"/>
    <q-separator/>
    <user-profile-preference-item type="serials" :profile="$profile"/>
    <q-separator/>
    <user-profile-preference-item type="cartoons" :profile="$profile"/>
  </div>
</template>

<script>
  import UserProfilePreferenceItem from "./UserProfilePreferenceItem";
  export default {
    name: 'UserProfilePreferenceContainer',
    components: {UserProfilePreferenceItem},

    props: {
      profile: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus" scoped>

</style>
