<template>
  <div class="user-profile-preference-item-years-line">
    <div class="blk" v-for="year,n in items">
      <div class="pr-r">
        <div class="perc" v-if="year.percent > 0">{{year.percent}}%</div>
        <div class="perc-blok" :style="{height: year.percent+'%'}"></div>
      </div>
      <div class="pr-y" :class="'pr-y-'+n">
        <span v-for="label,k in year.labels" :class="'y-'+k">{{label}}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserProfilePreferenceItemYearsLine',

    props: {
      items: {
        type: Array,
        default: () => [],
      },
    },

  }
</script>

<style lang="stylus" scoped>
  .user-profile-preference-item-years-line
    padding 20px 60px
    display flex
    .blk
      width 12.5%
      .pr-r
        height 120px
        border-bottom 1px solid var(--q-color-primary)
        width 100%
        display flex
        flex-direction column
        justify-content flex-end
        .perc-blok
          background var(--q-color-primary)
          border-left 1px solid white
        .perc
          text-align center
          padding-bottom 10px
      .pr-y
        padding-top 15px
        text-align right
      .pr-y-0
        display flex
        justify-content space-between
        .y-0
          margin-left -20px
        .y-1
          margin-right -20px
      .y-0
        margin-right -20px
</style>
