<template>
  <div class="user-profile-subscriptions">
    UserProfileSubscriptions
  </div>
</template>

<script>
  export default {
    name: 'UserProfileSubscriptions'
  }
</script>

<style lang="stylus" scoped>

</style>
