<template>
  <div class="user-profile-reviews-filter">
    <div class="row">
      <div class="col-lg-1">
        <div class="reviews">
          <span class="positive">96</span> /
          <span class="neutral">10</span> /
          <span class="negative">37</span>
        </div>
      </div>
      <div class="col-lg-5 q-pl-md">
        <feild-sort-comments v-model="form.sort"/>
      </div>
      <div class="col-lg-4 offset-2">
        <field-search-comments v-model="form.poisk"/>
      </div>
    </div>
    <slot/>
    <div class="row" v-if="comments.has_more_pages">
      <div class="col-lg-8">
        <field-view-count-comments/>
      </div>
      <div class="col-lg-4 flx">
        <q-pagination
          v-model="value.current_page"
          :max="comments.last_page"
          :direction-links="true"
        >
        </q-pagination>
      </div>
    </div>
  </div>
</template>

<script>
  import FeildSortComments from "../../fields/FeildSortComments";
  import FieldSearchComments from "../../fields/FieldSearchComments";
  import FieldViewCountComments from "../../fields/FieldViewCountComments";
  export default {
    name: 'UserProfileReviewsFilter',
    components: {FieldViewCountComments, FieldSearchComments, FeildSortComments},

    props: {
      value: {
        type: Object,
        default: () => {}
      },
      comments: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        form: {
          per_page: 10,
          current_page: 1,
          sort: 'date',
          poisk: null,
        }
      }
    },

    watch:{
      form: {
        handler(values) {
          this.$emit('input', values);
        },
        deep: true
      },
    },

  }
</script>

<style lang="stylus" scoped>
  .user-profile-reviews-filter
    .reviews
      .positive
        color #3db70e
      .negative
        color #dd0505
      span
        margin 0 5px
</style>
