<template>
  <div class="user-profile-social-buttons">
    <q-btn round color="indigo-14">
      <facebook-icon size="1.2x"/>
    </q-btn>
    <q-btn round class="instagram-gr">
      <instagram-icon size="1.2x"/>
    </q-btn>
    <q-btn round color="cyan">
      <twitter-icon size="1.2x"/>
    </q-btn>
  </div>
</template>

<script>
  import FacebookIcon from "vue-feather-icons/icons/FacebookIcon";
  import InstagramIcon from "vue-feather-icons/icons/InstagramIcon";
  import TwitterIcon from "vue-feather-icons/icons/TwitterIcon";
  export default {
    name: 'UserProfileSocialButtons',
    components: {TwitterIcon, InstagramIcon, FacebookIcon}
  }
</script>

<style lang="stylus" scoped>
  .user-profile-social-buttons
    .q-btn
      margin-right 15px
</style>
