<template>
  <div class="user-profile-reviews">
    <user-profile-reviews-filter v-model="filter" :comments="comments" v-if="comments">
      <comments-author-list :comments="comments.data"/>
    </user-profile-reviews-filter>
  </div>
</template>

<script>
  import UserProfileReviewsFilter from "./UserProfileReviewsFilter";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import CommentsAuthorList from "../../comments/CommentsAuthorList";
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });

  export default {
    name: 'UserProfileReviews',
    components: {CommentsAuthorList, UserProfileReviewsFilter},

    data() {
      return {
        filter: {
          per_page: 10,
          current_page: 1,
          sort: 'date',
          poisk: null,
        },
      }
    },

    computed:{
      ...mapFields('user', ['comments']),
    },

    methods: {
      ...mapActions('user', ['getCommentsMovie']),
      getData(){
        this.getCommentsMovie([{slug: this.$route.params.slug, filter: this.filter}, 'network-only'])
      }
    },

    created(){
      this.getData();
    },

    watch:{
      filter: {
        handler(values) {
          this.getData();
        },
        deep: true
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .user-profile-reviews
    padding 30px 20px
</style>
