<template>
  <div class="user-profile-tabs">
    <q-tabs
      class="text-primary"
      align="left"
      v-model="tab"
    >
      <q-route-tab :name="k" :key="k" :to="item.path" :label="item.name" v-for="item,k in tabs" />
    </q-tabs>
    <q-separator color="primary"/>
  </div>
</template>

<script>

  export default {
    name: 'UserProfileTabs',

    props: {
      tabs: {
        type: Array,
        default: () => []
      },
    },

    data() {
      return {
        tab: 0
      }
    },

  }
</script>

<style lang="stylus">
  .user-profile-tabs
    background white
    box-shadow $shadow-4
    border-radius 6px
    margin 20px 0 0 0
    .q-tab
      text-transform none
      padding 0 40px
    .q-router-link--exact-active
      .q-tab__indicator
        opacity 1
</style>
