<template>
  <div class="user-profile-preference-item-actors">
    <div class="actor" v-for="actor in actors">
      <router-link :to="{name: 'movie.actor', params: {id: actor.id}}">
        <q-img
          :src="actor.posterURL"
          spinner-color="white"
          class="img"
        >
          <div class="absolute-bottom text-subtitle1 text-center">
            {{actor.nameRU}}
          </div>
        </q-img>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserProfilePreferenceItemActors',

    props: {
      actors: {
        type: Array,
        default: () => [],
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .user-profile-preference-item-actors
    display flex
    align-items center
    padding 20px 0
    margin-bottom 20px
    .actor
      width 180px
    .img
      height 230px
      max-width 180px
</style>
