<template>
  <div class="user-profile-movie-rating-filter">
    <div class="user-profile-movie-rating-filter_content flx likes-radio" v-if="Object.keys(likes).length">
      <!--<q-radio v-model="form.type" val="all" label="Все"/>-->
      <q-radio v-model="form.type" val="positive"><q-icon name="thumb_up"/>({{likes.positive}})</q-radio>
      <q-radio v-model="form.type" val="neutral"><q-icon class="neutral" name="thumb_up"/>({{likes.neutral}})</q-radio>
      <q-radio v-model="form.type" val="negative"><q-icon name="thumb_down"/>({{likes.negative}})</q-radio>
    </div>
    <q-separator/>
    <!--<div class="user-profile-movie-rating-filter_content">-->
      <!--<q-checkbox v-model="form.hideLikes" label="Скрыть лайкнутые" />-->
    <!--</div>-->
    <q-separator/>
    <div class="user-profile-movie-rating-filter_content likes">
      <label>Рейтинг</label>
      <q-range
        v-model="form.rating"
        :min="0"
        :max="100"
        :step="1"
        :left-label-value="form.rating.min + '%'"
        :right-label-value="form.rating.max + '%'"
        label-always
        color="primary"
      />
    </div>
    <q-separator/>
    <div class="user-profile-movie-rating-filter_content">
      <div class="row">
        <div class="col-2 flex self-center">
          <label style="margin-bottom: 0">Год</label>
        </div>
        <div class="col-10">
          <div class="year">
            <div class="row q-col-gutter-sm">
              <div class="col-6">
                <q-input v-model="form.year.from" placeholder="от"  outlined dense class="bg-white" style="margin-bottom: 0"/>
              </div>
              <div class="col-6">
                <q-input v-model="form.year.to" placeholder="до"  outlined dense class="bg-white q-mb-none" style="margin-bottom: 0"/>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <q-separator/>
    <q-expansion-item
      label="Жанры"
      header-class="text-bold q-pl-none"
      group="somegroup"
      v-if="Object.keys(items).length"
    >
      <div class="q-pa-sm">
        <catalog-chips-select v-model="form.genre" :options="items.genre"/>
      </div>
    </q-expansion-item>
    <q-separator/>
    <q-expansion-item
      label="Страны"
      header-class="text-bold q-pl-none"
      group="somegroup"
      v-if="Object.keys(items).length"
    >
      <div class="q-pa-sm">
        <catalog-chips-select v-model="form.country" :options="items.country"/>
      </div>
    </q-expansion-item>
    <q-separator/>
  </div>
</template>

<script>

  import CatalogChipsSelect from "../../catalog/CatalogChipsSelect";
  import {mapActions} from 'vuex'

  export default {
    name: 'UserProfileMovieRatingFilter',
    components: {CatalogChipsSelect},

    props: {
      value: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        form: {
          per_page: 20,
          current_page: 1,
          type: 'positive',
          year:{
            from: null,
            to: null,
          },
          rating: {
            min: 0,
            max: 100
          },
          genre:[],
          country: [],
        },
        items:{},
        likes: {}
      }
    },

    methods: {
      ...mapActions('movies', ['getMoviesFilter']),
      ...mapActions('user', ['getLikesCount']),
    },

    watch:{
      form: {
        handler(values) {
          this.$emit('input', values)
        },
        deep: true
      },
    },

    created(){
      this.$emit('input', this.form);

      this.getMoviesFilter().then(response => {
        this.items = response;
      });
      this.getLikesCount([{slug: this.$route.params.slug}, 'network-only']).then(response => {
        this.likes = response;
      });
    }


  }
</script>

<style lang="stylus" scoped>
  .user-profile-movie-rating-filter
    background white
    padding 15px 20px
    border-radius 4px
    box-shadow $shadow-2
    margin 0 15px

    .flx
      display flex
      flex-direction column
    &_content
      padding 10px 0
      label
        font-weight bold
        display block
        margin-bottom 10px
    .likes
      label
        margin-bottom 20px
    .likes-radio
      .q-icon
        color var(--q-color-primary)
        font-size 24px
        margin-right 10px
        &.neutral
          -webkit-transform rotate(-90deg)
          -moz-transform rotate(-90deg)
          -o-transform rotate(-90deg)
          -ms-transform rotate(-90deg)
          transform rotate(-90deg)
</style>
