<template>
  <div class="user-profile-movie-rating">
    <div class="row q-col-gutter-lg">
      <div class="col-3 xs-hide sm-hide flx">
        <user-profile-movie-rating-filter v-model="filter"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-9">
        <movies-grid-container :items="movies.data"/>
        <movies-loading-grid v-if="loading"/>
        <div class="text-center q-pa-md" v-if="movies.has_more_pages">
          <q-btn flat label="Показать еще" style="font-size: 12px"><chevron-down-icon class="q-ml-sm" size="1.2x"/></q-btn>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  const {mapFields} = createHelpers({
    getterType: 'projectFields',
  });
  import MoviesGridContainer from "../../movies/MoviesGridContainer";
  import UserProfileMovieRatingFilter from "./UserProfileMovieRatingFilter";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";
  import MoviesLoadingGrid from "../../movies/MoviesLoadingGrid";
  export default {
    name: 'UserProfileMovieRating',
    components: {MoviesLoadingGrid, ChevronDownIcon, UserProfileMovieRatingFilter, MoviesGridContainer},

    data() {
      return {
        filter: {},
        loading: false,
      }
    },

    computed: {
      ...mapFields('user', ['movies']),
    },

    methods: {
      ...mapActions('user', ['getLikesMovie']),
      getData(cache = 'network-only'){
        this.loading = true;
        this.getLikesMovie([{slug: this.$route.params.slug, filter:this.filter}, cache]).then(response => {
          this.loading = false;
        }).catch(err => {
          this.loading = false;
        })
      }
    },

    watch:{
      filter: {
        handler(values) {
          this.getData();
        },
        deep: true
      },
    },

  }
</script>

<style lang="stylus" scoped>
  .user-profile-movie-rating
    padding-top 30px
</style>
