<template>
  <div class="user-profile-bg">
    <div class="user-profile-bg_header">
      <q-btn v-if="$user.id === profile.id" outline round color="white" class="edit-btn"><edit2-icon size="1.2x"/></q-btn>
      <q-img
        v-if="profile.bgImage"
        :src="profile.bgImage"
        spinner-color="white"
        style="height: 250px; width: 100%"
        class="rounded-borders"
      />
    </div>
    <div class="user-profile-bg_content">
      <div class="row prf">
        <div class="col-lg-4">
          <user-profile-actions-buttons v-if="$user && $user.slug !== $route.params.slug" :profile="profile"/>
        </div>
        <div class="col-lg-4 flx">
          <q-avatar size="130px" style="box-shadow: 0 0 10px 3px rgba(0,0,0,.3);">
            <img :src="profile.avatarImage">
          </q-avatar>
          <h1 v-if="profile.name">{{profile.name}} {{profile.surname}}</h1>
          <h1 v-else>{{profile.login}}</h1>
        </div>
        <div class="col-lg-4 flx2">
          <user-profile-social-buttons/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Edit2Icon from "vue-feather-icons/icons/Edit2Icon";
  import UserProfileActionsButtons from "./UserProfileActionsButtons";
  import UserProfileSocialButtons from "./UserProfileSocialButtons";
  export default {
    name: 'UserProfileBg',
    components: {UserProfileSocialButtons, UserProfileActionsButtons, Edit2Icon},
    props: {
      profile: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .user-profile-bg
    background white
    box-shadow $shadow-4
    border-radius 6px
    &_header
      height 250px
      position relative
      background radial-gradient(circle, rgba(63,251,198,1) 0%, rgba(157,31,235,1) 100%)
      border-radius 6px
      .q-img
        position absolute
    &_content
      padding 15px
      position relative
      .flx
        display flex
        align-items center
        justify-content center
        flex-direction column
      .flx2
        display flex
        align-items flex-end
        justify-content flex-end
        padding-bottom 62px
      .prf
        margin-top -130px
    .edit-btn
      position absolute
      z-index 1
      right 0
      margin 20px
    h1
      font-size 16px
      line-height normal
      margin-top 15px
      margin-bottom 0
</style>
