<template>
  <div class="user-profile-followers">

    <table-data
      :columns="columns"
      :sortName="q.sortField"
      :sortBy="q.sortBy"
      :loading="loading"
      :rows="followers.data"
      @onSort="setSort"
      v-if="Object.keys(followers).length"
    >
      <template slot="before-table">
        <div class="row q-mb-md">
          <div class="col-lg-4">
            <field-view-count-rows v-model="q.per_page"/>
          </div>
          <div class="col-lg-4 offset-4">
            <field-search v-model="q.search"/>
          </div>
        </div>
        <q-separator class="q-mb-md"/>
      </template>


      <template slot="tbodytr" >
        <tr v-for="item,k in followers.data">
          <td>
            <div class="user">
              <router-link :to="{name: 'user.slug', params:{slug: item.slug}}">
                <q-avatar size="30px">
                  <img :src="item.avatarImage">
                </q-avatar>
                <div class="name">{{item.login}}</div>
              </router-link>
            </div>
          </td>
          <td align="center">{{item.likes_count}}</td>
          <td align="center">{{item.movie_comments_count}}</td>
          <td>{{item.last_activity || 'никогда'}}</td>
        </tr>
      </template>
      <table-loading slot="loading":sch="35" :cols="4" :rows="q.per_page"/>

      <template slot="after-table">
        <div class="row q-mt-lg">
          <div class="col-lg-2">
            <div class="total-table-info">Показано с {{followers.from}} по {{followers.to}} из {{followers.total}}</div>
          </div>
          <div class="col-lg-10 flex justify-end">
            <q-pagination
              v-model="q.current_page"
              :max="followers.last_page"
              :direction-links="true"
              v-if="followers.has_more_pages"
            />
          </div>
        </div>
      </template>
    </table-data>

  </div>
</template>

<script>
  import TableData from "../../tables/TableData";
  import {mapActions} from 'vuex'
  import TableLoading from "../../tables/TableLoading";
  import {createHelpers} from 'vuex-map-fields'
  import FieldViewCountRows from "../../fields/FieldViewCountRows";
  import FieldSearch from "../../fields/FieldSearch";
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });
  export default {
    name: 'UserProfileFollowers',
    components: {FieldSearch, FieldViewCountRows, TableLoading, TableData},

    props: {
      type: {
        type: String,
        default: 'followers'
      },
    },

    data() {
      return {
        rows: [],
        columns: [
          { name: 'login', align: 'left', label: 'Nickname', sortable: true},
          { name: 'likes_count', align: 'center', label: 'Оценок', sortable: true },
          { name: 'movie_comments_count', align: 'center', label: 'Отзывов', sortable: true },
          { name: 'last_activity',align: 'left', label: 'Последняя активность', sortable: true, width: 250 },
        ],
        loading: false,
        q:{
          slug: this.$route.params.slug,
          per_page: 10,
          current_page: 1,
          search: null,
          sortBy: 'desc',
          sortField: 'last_activity',
        }
      }
    },

    computed: {
      ...mapFields('user', ['followers'])
    },

    watch:{
      q: {
        handler(values) {
          values.fetchPolicy = 'network-only';
          this.getData(values);
        },
        deep: true
      },
    },

    methods: {
      ...mapActions('user', ['getFollowers', 'getFollowings', 'getChosen']),
      getData(q){
        this.loading = true;
        if(this.type === 'followers'){
          this.getFollowers(q).then(response => {
            this.loading = false;
          }).catch(err => {
            this.loading = false;
          })
        }
        if(this.type === 'followings'){
          this.getFollowings(q).then(response => {
            this.loading = false;
          }).catch(err => {
            this.loading = false;
          })
        }
        if(this.type === 'chosen'){
          this.getChosen(q).then(response => {
            this.loading = false;
          }).catch(err => {
            this.loading = false;
          })
        }
      },
      setSort(data){
        this.q.sortBy = data.sortBy;
        this.q.sortField = data.sortName;
        this.q.fetchPolicy = 'network-only';
        this.getData(this.q);
      },
    },

    created(){
      this.getData(this.q);
    }
  }
</script>

<style lang="stylus" scoped>
  .user-profile-followers
    padding 20px
    .user
      a
        display flex
        align-items center
        .q-avatar
          margin-right 10px
</style>
