<template>
  <div class="time-line-item">
    <div class="text-center q-mb-md">
      <q-btn :label="item.date" color="primary" class="dt"/>
    </div>

    <div class="row" v-for="line,i in item.items">
      <div class="col-5">
        <user-feed-items v-if="i % 2 !== 0" side="left" :movies="line.movies" :count="line.count"/>
      </div>
      <div class="col-2">
        <time-line-user :user="line.user"/>
      </div>
      <div class="col-5">
        <user-feed-items v-if="i % 2 === 0" side="right" :movies="line.movies" :count="line.count"/>
      </div>
    </div>

  </div>
</template>

<script>
  import TimeLineUser from "./TimeLineUser";
  import UserFeedItems from "../user/feed/UserFeedItems";
  export default {
    name: 'TimeLineItem',
    components: {UserFeedItems, TimeLineUser},
    props: {
      item: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus">
  .time-line-item
    margin-bottom 20px
    .dt
      width 120px
    &:last-child
      .time-line-user .line
        display none

</style>
