<template>
  <div class="time-line-user text-center">
    <router-link :to="{name: 'user.slug', params:{slug: user.slug}}">
      <q-avatar>
        <img :src="user.avatarImage">
      </q-avatar>
      <div class="name">{{user.login}}</div>
    </router-link>
    <div class="line"></div>
  </div>
</template>

<script>
  export default {
    name: 'TimeLineUser',

    props: {
      user: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .time-line-user
    position relative
    height 100%
    .line
      position absolute
      width 3px
      height calc(100% - 60px)
      background var(--q-color-primary)
      opacity 0.5
      top 70px
      left calc(50% - 1.5px)
</style>
