<template>
  <q-page class="page-movie">
    <div class="container" :class="$mq">
      <mq-layout mq="sm+">
        <movie-video-container/>
        <movie-tabs/>
      </mq-layout>
      <mq-layout mq="xs">
        <movie-mobile-poster/>
        <movie-mobile-info/>
      </mq-layout>
    </div>
  </q-page>
</template>

<script>
  import {mapActions} from 'vuex'
  import MovieVideoContainer from "../../components/movies/movie/MovieVideoContainer";
  import MovieTabs from "../../components/movies/movie/MovieTabs";
  import MovieMobilePoster from "../../components/movies/movie/mobile/MovieMobilePoster";
  import MovieMobileInfo from "../../components/movies/movie/mobile/MovieMobileInfo";


  export default {
    name: 'PageMovie',
    components: {MovieMobileInfo, MovieMobilePoster, MovieTabs, MovieVideoContainer},
    beforeRouteEnter(to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getData({slug: to.params.slug});
      })
    },

    methods: {
      ...mapActions('movies', ['getMovie']),
      getData(data) {
        this.getMovie(data).then(response => {

        }).catch(err => {

        })
      },
    },

    watch: {
      '$route': function (to) {
        //window.location.reload();
        this.getData({slug: to.params.slug})
      },
      '$user': function (to) {
        //window.location.reload();
        this.getData({slug: this.$route.params.slug, fetchPolicy: 'network-only'})
      },
    },

    destroyed() {
      this.$comments = null;
    }

  }
</script>

<style lang="stylus" scoped>
  .page-movie
    padding-bottom 50px
    .container.xs
      padding 0
</style>
