<template>
  <q-page class="page-actor">
    <div class="container" v-if="Object.keys(actor).length">
      <h1>{{actor.nameRU}} фильмография</h1>
      <div class="row q-col-gutter-lg">
        <div class="col-xs-12 col-3 col-md-3 col-sm-12">
          <movie-actor :actor="actor"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-9">
          <template v-if="!loading && Object.keys(movies).length">
            <div class="row">
              <div class="col-xs-6 col-md-6 col-6">
                <div class="page-catalog_total">{{movies.total}} фильмов</div>
              </div>
              <div class="col-xs-6 col-md-6 col-6">
                <movies-grid-list-buttons/>
              </div>
            </div>
            <movies-grid-container :items="movies.data" v-if="gridList === 'grid'"/>
            <movies-list-container :items="movies.data" v-if="gridList === 'list'"/>
            <div class="text-center q-pa-md" v-if="movies.has_more_pages">
              <q-btn :loading="loadingMore" flat label="Показать еще" @click="loadMore" style="font-size: 12px">
                <chevron-down-icon class="q-ml-sm" size="1.2x"/>
              </q-btn>
            </div>
          </template>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
  import MoviesGridListButtons from "../../components/movies/MoviesGridListButtons";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import MovieActor from "../../components/movies/movie/MovieActor";
  import MoviesGridContainer from "../../components/movies/MoviesGridContainer";
  import MoviesListContainer from "../../components/movies/MoviesListContainer";
  import ChevronDownIcon from "vue-feather-icons/icons/ChevronDownIcon";

  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });

  export default {
    name: 'PageActor',
    components: {ChevronDownIcon, MoviesListContainer, MoviesGridContainer, MovieActor, MoviesGridListButtons},

    data() {
      return {
        loading: false,
        loadingMore: false,
      }
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getData(to);
      })
    },

    computed: {
      ...mapFields('movies', ['actor', 'movies', 'gridList'])
    },

    methods: {
      ...mapActions('movies', ['getMovieActor', 'getMovieActorFilms']),
      getData(to) {
        this.getMovieActor({id: to.params.id});
        this.getMovieActorFilms({id: to.params.id});
      },
      loadMore() {
        // let data = this.filterForm;
        // data.current_page = this.movies.current_page + 1;
        // data.type = this.$route.params.catalog;
        // data.filter = this.$route.params.sub_catalog;
        //
        // this.loadingMore = true;
        // this.getMovies({data: data}).then(response => {
        //   this.loadingMore = false;
        // }).catch(err => {
        //   this.loadingMore = false;
        // })
      }
    },

    destroyed(){
      this.actor = {};
      this.movies = {};
    }
  }
</script>

<style lang="stylus" scoped>
  .page-actor
    padding-bottom 50px
    padding-top 20px
    h1
      text-transform uppercase
      font-weight normal
      font-size 18px
    &_total
      margin-top -40px
    .movies-grid-list-buttons
      margin-top 0
</style>
