<template>
  <q-page class="page-movie-ff">
    <div class="container" :class="$mq">
      <ff-container/>
    </div>
  </q-page>
</template>

<script>
  import FfContainer from "../../components/ff/FfContainer";
  export default {
    name: 'PageMovieFF',
    components: {FfContainer}
  }
</script>

<style lang="stylus" scoped>

</style>
