// app global css in Stylus form
@font-face {
  font-family 'Montserrat'
  src url('fonts/Montserrat-Regular.eot');
  src local('Montserrat Regular'), local('Montserrat-Regular'),
  url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Regular.woff') format('woff'),
  url('fonts/Montserrat-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
}

@font-face
  font-family 'Montserrat'
  src url('fonts/Montserrat-Bold.eot')
  src local('Montserrat Bold'), local('Montserrat-Bold'),
  url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-Bold.woff') format('woff'),
  url('fonts/Montserrat-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal

body
  font-family "Montserrat"
  font-weight 400

a
  text-decoration none
  color var(--q-color-primary)

.container
  width 100%
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto

.xl .container
.lg .container
  max-width 1440px

.mdl .container
  max-width 960px

.md .container
  max-width 1340px

.sm .container
  max-width 720px

.xs .container
  max-width 540px

.responsive
  max-width 100%
  height auto

.h30inp
  font-size 12px
  .q-field__control
    height 30px
  .q-field__marginal
    height 30px
    font-size 12px

.q-field
  .q-field__control:after
    border-width 1px
  &.q-field--focused .q-field__control:after
    border-width 1px

.menu--after
.right--menu--after
  position absolute
  width 10px
  height 10px
  display block
  background #fff
  -webkit-transform rotate(45deg) translate(-7px)
  transform rotate(45deg) translate(-7px)
  border-top 1px solid rgba(0, 0, 0, .1)
  border-left 1px solid rgba(0, 0, 0, .1)
  z-index 10
  -webkit-box-sizing border-box
  box-sizing border-box
  right 10px

.mym
  margin-top 8px !important
  overflow visible

@font-face
  font-family 'icomoon'
  src url('fonts/icomoon.eot?pkv8if')
  src url('fonts/icomoon.eot?pkv8if#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?pkv8if') format('truetype'),
  url('fonts/icomoon.woff?pkv8if') format('woff'),
  url('fonts/icomoon.svg?pkv8if#icomoon') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'icomoon' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-mytop:before
  content "\e900"

.q-checkbox__bg
  border: 1px solid currentColor

h1
  font-size 36px
  line-height 1
  margin 0 0 20px 0
  font-weight bold

h2
  font-size 24px
  line-height 1
  margin 0 0 20px 0
  font-weight bold

.no-shadow .q-dialog__inner > div
  box-shadow none

h3
  font-size 18px
  line-height 1
  margin 0 0 20px 0
  font-weight bold

.bgg
  position fixed
  z-index 1999
  background-color #000
  opacity 0.25
  width 100%
  height 100%
  top 0
  left 0

.q-layout__shadow:after
  box-shadow 0 10px 8px rgba(0, 0, 0, .03)

.bts
  font-weight bold
  text-transform none

@font-face
  font-family: 'llg'
  src url('fonts/llg.eot?8f49mq')
  src url('fonts/llg.eot?8f49mq#iefix') format('embedded-opentype'),
  url('fonts/llg.ttf?8f49mq') format('truetype'),
  url('fonts/llg.woff?8f49mq') format('woff'),
  url('fonts/llg.svg?8f49mq#llg') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="llg-"], [class*=" llg-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'llg' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.llg-logo-2 .path1:before
  content "\e900"
  color var(--q-color-primary)

.llg-logo-2 .path2:before
  content "\e901"
  margin-left -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path3:before
  content "\e902"
  margin-left -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path4:before
  content "\e903"
  margin-left -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path5:before
  content "\e904"
  margin-left: -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path6:before
  content "\e905"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path7:before
  content "\e906"
  margin-left -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path8:before
  content "\e907"
  margin-left -4.060546875em
  color var(--q-color-primary)

.llg-logo-2 .path9:before
  content "\e908"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path10:before
  content "\e909"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path11:before
  content "\e90a"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path12:before
  content "\e90b"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path13:before
  content "\e90c"
  margin-left -4.060546875em
  color rgb(255, 255, 255)

.llg-logo-2 .path14:before
  content "\e90d"
  margin-left: -4.060546875em
  color rgb(255, 255, 255)

h4
  font-weight normal
  font-size 14px
  margin 0 0 10px 0
  line-height normal

textarea
input
  outline none

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
  background-color rgb(250, 255, 189)
  background-image none
  color rgb(0, 0, 0)

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
  -webkit-box-shadow 0 0 0px 1000px white inset !important
  border-top 1px solid rgba(0, 0, 0, 0.24)
  border-bottom 1px solid rgba(0, 0, 0, 0.24)
  &:hover
    border-top 1px solid rgba(0, 0, 0, 100)
    border-bottom 1px solid rgba(0, 0, 0, 100)

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  -webkit-background-clip text

.instagram-gr
  background #f09433
  background -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
  background -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
  background linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
  color white
  &:hover
    color white !important

@font-face
  font-family 'colect'
  src url('fonts/colect.eot?khluwj')
  src url('fonts/colect.eot?khluwj#iefix') format('embedded-opentype'),
  url('fonts/colect.ttf?khluwj') format('truetype'),
  url('fonts/colect.woff?khluwj') format('woff'),
  url('fonts/colect.svg?khluwj#colect') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="colect-"], [class*=" colect-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'colect' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.colect-icon-01:before
  content "\e900"

.colect-icon-02:before
  content "\e901"

.colect-icon-03:before
  content "\e902"

.colect-icon-04:before
  content "\e903"

.colect-icon-05:before
  content "\e904"

.colect-icon-06:before
  content "\e905"

.colect-icon-07:before
  content "\e906"

.colect-icon-08:before
  content "\e907"

.colect-icon-09:before
  content "\e908"

.colect-icon-10:before
  content "\e909"

.colect-icon-11:before
  content "\e90a"

.colect-icon-12:before
  content "\e90b"

.md
  .col-mdl-2
    width 20%
  .col-mdl-10
    width 80%

@font-face
  font-family 'lg'
  src url('fonts/lg.eot?ofvnss')
  src url('fonts/lg.eot?ofvnss#iefix') format('embedded-opentype'),
  url('fonts/lg.ttf?ofvnss') format('truetype'),
  url('fonts/lg.woff?ofvnss') format('woff'),
  url('fonts/lg.svg?ofvnss#lg') format('svg')
  font-weight normal
  font-style normal
  font-display block

[class^="lg-"], [class*=" lg-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'lg' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.lg-logo2:before
  content "\e900"

.neutral-btn
  .q-icon
    -webkit-transform rotate(-90deg)
    -moz-transform rotate(-90deg)
    -o-transform rotate(-90deg)
    -ms-transform rotate(-90deg)
    transform rotate(-90deg)

.page-profile
  background white
  box-shadow $shadow-4
  margin-bottom 50px

body.body--dark
  .bg-grey-2
    //color #fff !important
    background #252B47 !important
    color #fff !important
  .comment-form
  .movie-video-container
  .user-collections-filter
  .catalog-filter-container
  .bg-white
    background #10163A !important
    color #fff !important
    .movies-grid-card .img:before
      background #252B47 !important
  .breadcrumb-list nav a
  .movies-grid-card h3 a:hover
  .movies-list-card h2 a:hover
    color var(--q-color-primary) !important
  .movies-list-card h2 a
  .movies-grid-card h3 a
  .menu-main a.router-link-exact-active
  .menu-main a
  .header-buttons-bar
  .movies-in-main .more
  .movies-in-main_tags a
    color #fff !important
  .menu-main a:hover
  .movies-in-main_tags a:hover
    color var(--q-color-primary) !important
  .menu-main a.router-link-exact-active
    box-shadow: 0 0 6px 1px #252B47;
  .user-profile-tabs
  .page-profile
  .user-feed-tabs
  .user-profile-bg
  .movies-grid-list-buttons .q-btn
  .movies-grid-card .img:before
  .search-result-item a:hover
    background #10163A !important
  .user-profile-movie-rating-filter
  .catalog-chips-select span:hover
  .movies-play-button .bts
    background #252B47 !important
  .menu--after
  .right--menu--after
    background #10163A !important
  .header-search-form_result a
  .user-menu li span
  .menu-mobile-left a
  .user-menu li a
    color white
  .header-search-form_result
  .user-feed-items__container
  .page-profile .movies-grid-card .img:before
    background #252B47 !important
  .q-dark
    background #10163A
  .comments-list-item.positive
    background #2B324F
    border-color #caefd0
  .comments-list-item.negative
    background #2B324F
    border-color #efcaca
  .comments-list-item_head .name a
    color white
  .comments-list-item.neutral
    background #2B324F
  .comments-list-item.negative .btn-more-comments, .comments-list-item.negative .comment-actions-buttons .q-btn
  .comment-actions-buttons .q-btn
  .comments-list-item.positive .btn-more-comments, .comments-list-item.positive .comment-actions-buttons .q-btn
    background #10163A !important
    color white
  .comment-actions-buttons .q-btn--outline, .comment-actions-buttons .q-btn__wrapper:before
    border none
.q-slider--editable
  cursor -webkit-pointer !important
  cursor pointer !important

@keyframes rotateForever
  0%
    transform rotate(0deg)
  100%
    transform: rotate(360deg)
.q-drawer.xs
  width 320px !important
