<template>
  <div class="footer-logo">
     <div class="container">
       <div class="row">
         <div class="col-2">
           <router-link to="/">
             <q-icon name="fas lg-logo2" size="25px" style="width: 95px; margin-top: -5px"></q-icon>
           </router-link>
         </div>
         <div class="col-2">
           <router-link to="/" class="text-white">Контакты</router-link>
         </div>
       </div>
     </div>
  </div>
</template>

<script>
  export default {
    name: 'FooterLogo'
  }
</script>

<style lang="stylus" scoped>
  .footer-logo
    padding 40px 0
    width 100%
    a
      display block
</style>
