<template>
  <div class="footer-toolbar">
    <div class="container">
      <div class="row">
       <!--<div class="col-xs-12 col-md-4 col-4"><menu-footer1/></div>-->
       <!--<div class="col-xs-12 col-md-4 col-4"><menu-footer2/></div>-->
       <!--<div class="col-2 selz xs-hide sm-hide"><div class="sep"></div> </div>-->
       <div class="col-xs-12 col-md-2 col-2"><menu-footer3/></div>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuFooter1 from "../menu/MenuFooter1";
  import MenuFooter2 from "../menu/MenuFooter2";
  import MenuFooter3 from "../menu/MenuFooter3";
  export default {
    name: 'FooterToolbar',
    components: {MenuFooter3, MenuFooter2, MenuFooter1}
  }
</script>

<style lang="stylus" scoped>
  .footer-toolbar
    margin-bottom 40px
    .sep
      height 215px
      width 1px
      border-left 1px solid white
    .selz
      display flex
      justify-content center
</style>
