<template>
  <div class="footer-cotyrigth">
    <div class="container">
      <p><span>Разработано в</span> <img src="/img/logostudio.png"/> <span>Michaelstudioo</span></p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FooterCotyrigth'
  }
</script>

<style lang="stylus" scoped>
  .footer-cotyrigth
    width 100%
    padding 15px 0
    p
      margin 0
      font-size 14px
      text-align center
      display flex
      align-items center
      justify-content center
      span
        opacity 0.25
      img
        margin 0 10px
</style>
