<template>
  <div class="search-result-group" v-if="result.length">
    <h3>{{title}}</h3>
    <search-result-item :item="item" v-for="item,k in result" :key="k"/>
  </div>
</template>

<script>
  import SearchResultItem from "./SearchResultItem";
  export default {
    name: 'SearchResultGroup',
    components: {SearchResultItem},
    props: {
      title: {
        type: String,
        default: ''
      },
      result: {
        type: Array,
        default: () => []
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .search-result-group
    border-bottom 1px solid rgba(0,0,0,0.24)
    margin-bottom 20px
    h3
      font-weight normal
      font-size 12px
      margin-bottom 10px
</style>
