<template>
  <div class="search-result-item">
    <router-link :to="{name: 'movie.slug', params:{slug: item.slug}}" class="movies-big-card_img">
      <div class="row full-width">
        <div class="col-xs-2 col-sm-2 col-md-2 col-2">
          <q-img
            :src="item.bigPosterURL"
            spinner-color="white"
            class="im"
          >
          </q-img>
        </div>
        <div class="col-xs-10 col-sm-10 col md-10 col-10">
          <div class="name">
            {{item.nameRU}}
          </div>
          <div class="category">{{item.year}}, {{item.genre}}</div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'SearchResultItem',

    props: {
      item: {
        type: Object,
        default: () => {
        }
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .search-result-item
    a
      color $dark
      padding 10px
      &:hover
        background $grey-4
    .name
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      font-size 14px
      font-weight bold
      margin-bottom 5px
    .category
      font-size 12px
    .im
      height 50px
      max-width 50px
</style>
