<template>
  <div class="comment-review-list">
    <comment-review-list-item v-for="item,k in items" :key="k" :item="item"/>
  </div>
</template>

<script>
  import CommentReviewListItem from "./CommentReviewListItem";

  export default {
    name: 'CommentReviewList',
    components: {CommentReviewListItem},
    props: {
      items: {
        type: Array,
        default: () => []
      },
    },
  }
</script>

<style lang="stylus" scoped>

</style>
