<template>
  <div class="comment-form bg-white shadow-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="ttm">
          <b>Вам понравился филь?</b>
          <q-btn @click="setLike('positive')" :class="{positive: form.like === 'positive'}" label="Да" icon="thumb_up" no-caps/>
          <q-btn @click="setLike('neutral')" :class="{neutral: form.like === 'neutral'}" label="Нейтрально" icon="thumb_up" no-caps class="neutral-btn"/>
          <q-btn @click="setLike('negative')" :class="{negative: form.like === 'negative'}" label="Нет" icon="thumb_down" no-caps/>
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <div class="info">
          <q-icon name="info"/> <span>Пожалуйста избегайте спойлеров, мата...</span> <router-link to="/">Правила</router-link>
        </div>
      </div>
    </div>
    <q-separator class="q-mt-sm q-mb-sm"/>
    <div class="row">
      <div class="col-auto"><message-square-icon size="1.5x"/></div>
      <div class="col-grow">
        <div class="te-w">
          <textarea ref="tta" @keydown="kp" :style="{height: h}" v-model="form.comment"  placeholder="Написать отзыв"></textarea>
        </div>
      </div>
      <div class="col-auto flex flex-b">
        <q-btn @click="submit" :loading="loading" flat round><send-icon size="1.5x"/></q-btn>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-xs-10 col-lg-10">-->
        <!--<div class="inp-wrp">-->
          <!--<message-square-icon size="1.5x"/>-->
          <!--<input v-model="form.comment" class="comment-form_input" placeholder="Написать отзыв" type="text"/>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-xs-2 col-lg-2">-->
        <!--<mq-layout mq="sm+">-->
        <!--<div class="bnts">-->
          <!--<q-btn @click="setLike('positive')" :class="{positive: form.like === 'positive'}" icon="thumb_up" flat round size="12px" class="q-mr-sm"/>-->
          <!--<q-btn @click="setLike('neutral')" :class="{neutral: form.like === 'neutral'}" icon="thumb_up" class="neutral-btn q-mr-sm" flat round size="12px"/>-->
          <!--<q-btn @click="setLike('negative')" :class="{negative: form.like === 'negative'}" icon="thumb_down" flat round  size="12px"/>-->
          <!--<q-btn @click="submit" :loading="loading" flat round><send-icon size="1.5x"/></q-btn>-->
        <!--</div>-->
        <!--</mq-layout>-->
        <!--<mq-layout mq="xs" class="bnts">-->
          <!--<q-btn @click="submit" :loading="loading" flat round><send-icon size="1.5x"/></q-btn>-->
        <!--</mq-layout>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</template>

<script>
  import MessageSquareIcon from "vue-feather-icons/icons/MessageSquareIcon";
  import SmileIcon from "vue-feather-icons/icons/SmileIcon";
  import SendIcon from "vue-feather-icons/icons/SendIcon";
  import { required } from 'vuelidate/lib/validators'
  import {mapActions} from 'vuex'

  export default {
    name: 'CommentForm',

    components: {SendIcon, SmileIcon, MessageSquareIcon},

    data() {
      return {
        form: {
          comment: null,
          like: null,
        },
        loading: false,
        h: 'auto'
      }
    },

    validations: {
      form:{
        comment: {required},
        like: {required},
      }
    },

    // watch:{
    //   'form.comment': function (val) {
    //     // this.h = this.$refs.tta.scrollHeight+'px';
    //     // console.log(this.$refs.tta.scrollHeight)
    //     const lines = val.split(/\r\n|\r|\n/).length;
    //     if(lines > 1){
    //       this.h = this.$refs.tta.scrollHeight+'px';
    //     }else {
    //       this.h = 'auto';
    //     }
    //   }
    // },

    methods:{
      ...mapActions('movies', ['addMovieComment', 'getMyLike']),
      setLike(type){
        this.form.like = type;
      },
      submit() {
        this.valid().then(response => {
          this.loading = true;
          this.form.movie_id = this.$movie.id;
          this.addMovieComment(this.form).then(resp => {
            this.loading = false;
            this.form.comment = null;
          }).catch(err => {
            this.loading = false;
          })
        })
      },
      valid() {
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr = [];
          if (this.$v.form.$error) {
            if (!this.$v.form.comment.required) {
              arr.push('<li>Отзыв обязательно.</li>');
            }
            if (!this.$v.form.like.required) {
              arr.push('<li>Оценка обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>' + arr.join('') + '</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      },
      kp(e){
        //this.h = this.$refs.tta.scrollHeight;
        let areaHeight = this.$refs.tta.scrollHeight;

        if (e.keyCode === 13) {
          areaHeight += 24;
        }
        if (e.keyCode === 8) {
          areaHeight -= 24;
          if(areaHeight <= 0) areaHeight = 24;
        }
        this.h = areaHeight+'px';
      }
    },

    created(){
      if(Object.keys(this.$user).length){
        this.getMyLike(this.$movie.id).then(response => {
          if(response){
            this.form.like = response.type;
          }
        })
      }
    },

    mounted(){
      this.$root.$on('setLike', type => {
        this.form.like = type;
      });
    }
  }
</script>

<style lang="stylus">
  .comment-form
    border-radius 4px
    min-height 50px
    padding 10px
    .info
      font-size 12px
      opacity 0.8
      .q-icon
        font-size 14px
        margin-right 5px
      a
        text-decoration underline
        &:hover
          text-decoration none
    .ttm
      font-size 12px
      opacity 0.8
      b
        margin-right 10px
      .q-btn__wrapper:before
        box-shadow none
      .q-btn
        border 1px solid $grey-4
        font-size 12px
        margin-right 10px
        &.positive
          color $green
        &.neutral
          color $grey-5
        &.negative
          color $red
    .te-w
      padding 0 10px
    .flex-b
      align-items flex-end
      justify-content center
    textarea
      resize vertical
      width 100%
      border none
      background transparent
</style>

<!--<style lang="stylus">-->
  <!--.comment-form-->
    <!--border 1px solid #d6d6d6;-->
    <!--border-radius 4px-->
    <!--height 50px-->
    <!--padding 0 15px-->
    <!--margin-bottom 20px-->
    <!--background white-->
    <!--.inp-wrp-->
      <!--height 48px-->
      <!--display flex-->
      <!--align-items center-->
    <!--&_input-->
      <!--border none-->
      <!--width 100%-->
      <!--padding 0 10px-->
      <!--background transparent-->
      <!--&:focus-->
        <!--outline none-->
    <!--.q-btn-->
      <!--&:hover-->
        <!--color var(&#45;&#45;q-color-primary)-->
    <!--.bnts-->
      <!--display flex-->
      <!--height 48px-->
      <!--justify-content flex-end-->
      <!--.q-btn-->
        <!--width 48px-->
        <!--&.positive-->
          <!--color $green-->
        <!--&.neutral-->
          <!--color $grey-5-->
        <!--&.negative-->
          <!--color $red-->
<!--</style>-->
