<template>
  <div class="comment-actions-buttons" :class="$mq">
    <q-btn outline class="btn-info q-mr-md"><info-icon size="1.2x"/></q-btn>
    <q-btn @click="setLike('positive')" :loading="loading.positive" outline icon="thumb_up" class="q-mr-md" size="12px">
      <span>{{comment.likes.positive}}</span>
    </q-btn>
    <q-btn @click="setLike('negative')" :loading="loading.negative" outline icon="thumb_down" size="12px">
      <span>{{comment.likes.negative}}</span>
    </q-btn>
  </div>
</template>

<script>
  import InfoIcon from "vue-feather-icons/icons/InfoIcon";
  import {mapActions} from 'vuex'

  export default {
    name: 'CommentActionsButtons',
    components: {InfoIcon},

    props: {
      comment: {
        type: Object,
        default: null
      },
    },

    data() {
      return {
        loading: {
          positive: false,
          negative: false,
        }
      }
    },

    methods:{
      ...mapActions('movies', ['addMovieCommentLikeAdd']),
      setLike(type){
        this.loading[type] = true;
        this.addMovieCommentLikeAdd({
          movie_comment_id: this.comment.id,
          type: type,
        }).then(response => {
          this.loading[type] = false;
          this.comment.likes = response;
        }).catch(err => {
          this.loading[type] = false;
        })
      }
    }
  }
</script>

<style lang="stylus">
  .comment-actions-buttons
    text-align right
    &.xs
      margin-bottom 10px
      text-align center
    .q-btn--outline
    .q-btn__wrapper:before
      border-color #d6d6d6
    .q-btn
      color $grey-9
      margin-bottom 5px
      .q-icon
        margin-right 10px
    .btn-info
      .q-btn__wrapper
        padding 4px 10px
        min-height 30px
</style>
