<template>
  <div class="comment-sort">
    <div class="row">
      <div class="col-xs-12 offset-xs-0 col-lg-4 offset-lg-8 flex justify-end">
        <div class="statistic">
          <span class="positive">{{$movie.comments_statistic.positive}}</span>/
          <span class="neutral">{{$movie.comments_statistic.neutral}}</span>/
          <span class="negative">{{$movie.comments_statistic.negative}}</span>
        </div>
        <feild-sort-comments v-model="sort"/>
      </div>
    </div>

  </div>
</template>

<script>
  import FeildSortComments from "../fields/FeildSortComments";
  import {mapActions} from 'vuex'

  export default {
    name: 'CommentSort',
    components: {FeildSortComments},

    data() {
      return {
        sort: 'date'
      }
    },

    watch: {
      sort(newValue, oldValue) {
        this.getData(newValue);
      }
    },

    methods:{
      ...mapActions('movies', ['getMovieComments']),
      getData(sort){
        this.getMovieComments({movie_id: this.$movie.id, sort: sort});
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .comment-sort
    .statistic
      padding 0 15px
      span
        padding 0 5px
      .positive
        color $green
      .negative
        color $red
</style>
