<template>

  <div class="comments-author-list">
    <comments-author-list-item v-for="comment,k in comments" :comment="comment" :key="k"/>
  </div>
</template>

<script>
  import CommentsAuthorListItem from "./CommentsAuthorListItem";

  export default {
    name: 'CommentsAuthorList',
    components: {CommentsAuthorListItem},
    props: {
      comments: {
        type: [Object, Array],
        default: () => []
      },
    },

  }
</script>

<style lang="stylus" scoped>
  .comments-author-list
    padding 20px 0
    .flx
      display flex
      justify-content flex-end
</style>
