<template>
  <div class="comment-review-list-item">
    <div class="row">
      <div class="col-xs-12 col-sm-2  col-md-2 col-lg-auto col-1">
        <div class="user" :class="$mq">
          <router-link :to="item.user.slug">
            <q-avatar size="80px">
              <img :src="item.user.avatarImage">
            </q-avatar>
          </router-link>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg col-11">
        <div class="comment-review-list-item_container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-8">
              <div class="comment-review-list-item_head" :class="$mq">
                <div class="name">
                  <router-link :to="item.user.slug">{{item.user.login}}</router-link>
                </div>
                <div class="dt">({{item.dt}})</div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-4">
              <comment-actions-buttons :comment="item"/>
            </div>
          </div>
          <q-separator class="q-mb-md"/>
          <div class="row">
            <div class="col-xs-12 col-11">
              <div class="comment" v-html="item.comment"></div>
            </div>
            <div class="col-xs-12 col-1 flx">
              <q-btn flat class="btn-more-comments" @click="$scrollTo('.comment-review-form', {offset: -60})">
                <message-square-icon size="1.2x"/>
              </q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CommentActionsButtons from "./CommentActionsButtons";
  import MessageSquareIcon from "vue-feather-icons/icons/MessageSquareIcon";

  export default {
    name: 'CommentReviewListItem',
    components: {MessageSquareIcon, CommentActionsButtons},
    props: {
      item: {
        type: Object,
        default: null
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .comment-review-list-item
    border 1px solid #d6d6d6
    border-radius 4px
    min-height 50px
    padding 15px
    position relative
    margin-bottom 30px
    .user
      position relative
      margin-top -30px
      &.xs
        text-align center
    &_container
      padding-left 20px
    &_head
      display flex
      padding-bottom 15px
      &.xs
        flex-direction column
        text-align center
        padding-top 10px
      .name
        font-weight bold
        margin-right 15px
        a
          color black
    .btn-more-comments
      .q-btn--outline
      .q-btn__wrapper:before
        border-color #d6d6d6
      .q-btn
        color $grey-9
    .flx
      display flex
      align-items flex-end
      justify-content flex-end
</style>
