<template>
  <div class="comment-review-form">
    <div class="row">
      <div class="col-lg-11">
        <div class="inp-wrp">
          <message-square-icon size="1.5x"/>
          <input v-model="form.comment" class="comment-review-form_input" placeholder="Написать ответ" type="text"/>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="bnts">
          <q-btn @click="submit" flat round :loading="loading">
            <send-icon size="1.5x"/>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MessageSquareIcon from "vue-feather-icons/icons/MessageSquareIcon";
  import SearchIcon from "vue-feather-icons/icons/SearchIcon";
  import SendIcon from "vue-feather-icons/icons/SendIcon";
  import {mapActions} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  export default {
    name: 'CommentReviewForm',
    components: {SendIcon, SearchIcon, MessageSquareIcon},

    props: {
      comment: {
        type: Object,
        default: () => {}
      },
    },

    data() {
      return {
        form: {
          comment: null,
        },
        loading: false
      }
    },

    validations: {
      form: {
        comment: {required},
      }
    },

    methods: {
      ...mapActions('movies', ['addMovieCommentReview']),
      submit() {
        this.valid().then(response => {
          this.loading = true;
          this.form.movie_id = this.comment.movie !== undefined ? this.comment.movie.id : this.$movie.id;
          this.form.parent_id = this.comment.id;
          this.addMovieCommentReview(this.form).then(resp => {
            this.loading = false;
            this.form.comment = null;
          }).catch(err => {
            this.loading = false;
          })
        })
      },
      valid() {
        const promise = new Promise((resolve, reject) => {
          this.$v.form.$touch();
          let arr = [];
          if (this.$v.form.$error) {
            if (!this.$v.form.comment.required) {
              arr.push('<li>Ответ на отзыв обязательно.</li>');
            }
            this.$q.notify({
              message: '<ul>' + arr.join('') + '</ul>',
              color: 'negative',
              html: true,
            });
            reject(false)
          }
          resolve(true)
        });
        return promise;
      }

    }
  }
</script>

<style lang="stylus" scoped>
  .comment-review-form
    border 1px solid #d6d6d6;
    border-radius 4px
    height 50px
    padding 0 15px
    margin-bottom 20px
    background white
    .inp-wrp
      height 48px
      display flex
      align-items center
    &_input
      border none
      width 100%
      padding 0 10px
      &:focus
        outline none
    .q-btn
      &:hover
        color var(--q-color-primary)
    .bnts
      display flex
      height 48px
      justify-content flex-end
      .q-btn
        width 48px
        &.positive
          color $green
        &.neutral
          color $grey-5
        &.negative
          color $red
</style>
