<template>
  <div class="comments-list">
      <comments-list-item v-for="comment,k in comments" :comment="comment" :key="k"/>
  </div>
</template>

<script>
  import CommentsListItem from "./CommentsListItem";
  export default {
    name: 'CommentsList',
    components: {CommentsListItem},
    props: {
      comments: {
        type: [Object,Array],
        default: () => []
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .comments-list
    position relative
    padding-top 20px
</style>
