<template>
  <div class="comment-reviews-container">
    <comment-review-form :comment="comment"/>
    <comment-review-list v-if="comment.children" :items="comment.children"/>
  </div>
</template>

<script>
  import CommentReviewForm from "./CommentReviewForm";
  import CommentReviewList from "./CommentReviewList";
  export default {
    name: 'CommentReviewsContainer',
    components: {CommentReviewList, CommentReviewForm},

    props: {
      parentId: {
        type: Number,
        default: 0
      },
      comment: {
        type: Object,
        default: () => [],
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .comment-reviews-container
    padding 20px
    background white
    box-shadow $shadow-4
    border-radius 0 0 4px 4px
</style>
