<template>
  <div class="comment">
    <div class="comments-author-list-item" :class="comment.type">
      <div class="row">
        <div class="col-xs-12 col-sm-2  col-md-2 col-lg-1 col-2">
          <div class="user" :class="$mq">
            <router-link :to="{name: 'movie.slug', params:{slug: comment.movie.slug}}">
              <q-img
                :src="comment.movie.bigPosterURL"
                spinner-color="white"
                class="rounded-borders im"
              />
            </router-link>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 col-10 q-pl-lg">
          <div class="ccomments-author-list-item_container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-7 col-8">
                <div class="comments-author-list-item_head" :class="$mq">
                  <div class="name">
                    <router-link :to="{name: 'movie.slug', params:{slug: comment.movie.slug}}">
                      {{comment.movie.nameRU}}
                    </router-link>
                  </div>

                  <div class="dt">({{comment.dt}})</div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-4">
                <comment-actions-buttons :comment="comment"/>
              </div>
            </div>
            <q-separator class="q-mb-md"/>
            <div class="row">
              <div class="col-xs-12 col-11">
                <div class="comment" v-html="comment.comment"></div>
              </div>
              <div class="col-xs-12 col-1 flx">
                <q-btn outline class="btn-more-comments" @click="show = !show">
                  <message-square-icon size="1.2x"/>
                  <span class="spn" v-if="comment.children.length">{{comment.children.length}}</span>
                </q-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <comment-reviews-container v-if="show" :comment="comment"/>
  </div>
</template>

<script>

  import CommentActionsButtons from "./CommentActionsButtons";
  import MessageSquareIcon from "vue-feather-icons/icons/MessageSquareIcon";
  import CommentReviewsContainer from "./CommentReviewsContainer";

  export default {
    name: 'CommentsAuthorListItem',
    components: {CommentReviewsContainer, MessageSquareIcon, CommentActionsButtons},
    props: {
      comment: {
        type: Object,
        default: () => {
        }
      },
    },

    data() {
      return {
        show: false
      }
    },

  }
</script>

<style lang="stylus">
  .comments-author-list-item
    border 1px solid #d6d6d6
    border-radius 4px
    min-height 50px
    margin-bottom 30px
    padding 15px
    position relative
    &.negative
      background #efcaca
      border-color #efcaca
      .q-separator
        background #d39c9c
      .btn-more-comments .q-btn__wrapper:before,
      .comment-actions-buttons .q-btn__wrapper:before
        border transparent
      .btn-more-comments,
      .comment-actions-buttons .q-btn
        background #e7bfbf !important
    &.positive
      background #caefd0
      border-color #caefd0
      .q-separator
        background #8bca96
      .btn-more-comments .q-btn__wrapper:before,
      .comment-actions-buttons .q-btn__wrapper:before
        border transparent
      .btn-more-comments,
      .comment-actions-buttons .q-btn
        background #bfe2c4 !important
    &.neutral
      background #dbdbdb
    .user
      position relative
      margin-top -30px
      &.xs
        text-align center
    &_container
      padding-left 20px
    &_head
      display flex
      padding-bottom 15px
      &.xs
        flex-direction column
        text-align center
        padding-top 10px
      .name
        font-weight bold
        margin-right 15px
        a
          color black
    .btn-more-comments
      .q-btn--outline
      .q-btn__wrapper:before
        border-color #d6d6d6
      .q-btn
        color $grey-9
    .flx
      display flex
      align-items flex-end
      justify-content flex-end
    .im
      height 180px
      max-width 120px
      box-shadow $shadow-4
    .spn
      padding 0 5px
      font-size 12px
</style>
