<template>
  <div class="comments-container">
    <comment-form/>
    <comment-sort v-if="$comments && $comments.data.length"/>
    <comments-list v-if="$comments" :comments="$comments.data"/>
  </div>
</template>

<script>
  import CommentForm from "./CommentForm";
  import CommentsList from "./CommentsList";
  import CommentSort from "./CommentSort";
  export default {
    name: 'CommentsContainer',
    components: {CommentSort, CommentsList, CommentForm},

    props: {
      comments: {
        type: Object,
        default: () => {}
      },
    },
  }
</script>

<style lang="stylus" scoped>
  .comments-container
    background white
    border-radius 4px
    padding 20px
</style>
