<template>
  <q-page class="page-user-messages-trash bg-white flex column no-wrap">
    <q-infinite-scroll @load="scrollHandle">
      <user-messages-list :list="list"/>
      <template v-slot:loading>
        <div class="row justify-center q-my-md bg-white">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </q-page>
</template>

<script>
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import UserMessagesList from "../../../components/user/messages/UserMessagesList";

  const {mapFields} = createHelpers({
    getterType: 'projectFields',
    mutationType: 'updateProjectField',
  });

  export default {
    name: 'PageUserMessagesTrash',

    components: {UserMessagesList},

    data() {
      return {
        q: {
          slug: this.$route.params.slug,
          per_page: 15,
          current_page: 1,
          search: null,
        }
      }
    },

    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.list = {
          current_page: 1,
          data: [],
          from: 1,
          has_more_pages: false,
          last_page: 1,
          per_page: 15
        };
        // экземпляр компонента доступен как `vm`
        vm.getTrashed(vm.q);
      })
    },

    computed: {
      ...mapFields('messages', ['list']),
    },

    methods: {
      ...mapActions('messages', ['getTrashed']),
      scrollHandle(index, done) {
        if(this.list.has_more_pages){
          this.q.current_page = index - 1;
          this.getTrashed(this.q).then(response => {
            done()
          });
        }else {
          done()
        }
      }
    },

    mounted(){
      this.$root.$on('messageSearch', newValue => {
        this.q.search = newValue;
        this.q.cahe = 'network-only';
        this.getTrashed(this.q)
      });
      //
      this.$root.$on('messageSearchReset', () => {
        this.q.search = null;
        this.q.cahe = 'network-only';
        this.getTrashed(this.q)
      });
    },

    destroyed(){
      //this.list = {};
    }
  }
</script>

<style lang="stylus" scoped>

</style>
