<template>
  <q-page>
    <div class="container">
      <div class="messages-lay position-relative">
        <q-layout view="lHh Lpr lFf" container class="pc">
          <q-header v-if="showSearch">
            <q-toolbar class="bg-white text-dark">
              <!--<q-btn dense flat round icon="menu" @click="left = !left" />-->
              <user-messages-search />
            </q-toolbar>
          </q-header>

          <q-header v-if="!showSearch">
            <q-toolbar class="bg-white text-dark">
              <chat-user-header />
            </q-toolbar>
          </q-header>

          <q-drawer show-if-above v-model="left" side="left" bordered>
            <user-messages-menu class="sa" />
          </q-drawer>

          <q-page-container>
            <router-view />
          </q-page-container>

          <q-footer v-if="showFooter">
            <q-toolbar class="bg-white text-dark row">
              <chat-send-form />
            </q-toolbar>
          </q-footer>
        </q-layout>
      </div>
    </div>
  </q-page>
</template>

<script>
import UserMessagesMenu from "../../../components/user/messages/UserMessagesMenu";
import UserMessage from "../../../components/user/messages/UserMessage";
import { createHelpers } from "vuex-map-fields";
import TrashIcon from "vue-feather-icons/icons/TrashIcon";
import UserMessagesSearch from "../../../components/user/messages/UserMessagesSearch";
import ChatsList from "../../../components/chats/ChatsList";
import ChatSendForm from "../../../components/chats/ChatSendForm";
import ChatUserHeader from "../../../components/chats/ChatUserHeader";
import {mapActions} from 'vuex';
import bus from '../../../boot/bus';

const { mapFields } = createHelpers({
  getterType: "projectFields",
  mutationType: "updateProjectField",
});

export default {
  name: "PageUserMessages",
  components: {
    UserMessagesSearch,
    TrashIcon,
    UserMessage,
    UserMessagesMenu,
    ChatSendForm,
    ChatsList,
    ChatUserHeader,
  },
  data() {
    return {
      left: false,
      showSearch: this.$route.name !== "messages.slug.chats.id",
      showFooter: this.$route.name === "messages.slug.chats.id",
    };
  },

  watch: {
    $route: function (route) {
      if (route.name === "messages.slug.chats.id") {
        this.showSearch = false;
        this.showFooter = true;
      } else {
        this.showSearch = true;
        this.showFooter = false;
      }

      this.open = false;

      this.getMessagesUnread();
    },
  },

  computed: {
    ...mapFields("messages", ["open"]),
  },

  methods: {
    ...mapActions('messages', ['getMessagesUnread']),
    deleteMessages() {
      this.$root.$emit("deleteMessages");
    },
  },

  created() {
    bus.$on('forbidden', () => {
      this.$router.push('/403');
    });
    this.getMessagesUnread();
  },

  beforeDestroy() {
    bus.$off('forbidden');
  },
};
</script>

<style lang="stylus" scoped>
  .messages-lay 
    height 600px
    margin-top 20px
    > div > div
      max-height none !important
    .sca
      height calc(100% - 50px)
    .brd
      border-top 1px solid rgba(0, 0, 0, 0.12)
      border-bottom 1px solid rgba(0, 0, 0, 0.12)
    .sa
      height calc(100% - 50px)
    .bdg
      width 10px
      height 10px
      padding 0
      border-radius 50%
      margin-top 30px
      border 1px solid white
  .pc
    background-color #dfdbe5
    background-image url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260'%3E%3Cg fill='%239C92AC' fill-opacity='.4' fill-rule='evenodd'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2h-3.74l1.17 2.34.45.9-.24.11V28a5 5 0 01-2.23 8.94l-.02.06a8 8 0 01-7.75 6h-20a8 8 0 01-7.74-6l-.02-.06A5 5 0 01-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0144.37-2zm-36.82 2a1 1 0 00-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 012.69 0l2.2 1.1a1 1 0 00.9 0l2.21-1.1a3 3 0 012.69 0l2.2 1.1a1 1 0 00.9 0l2.21-1.1a3 3 0 012.69 0l2.2 1.1a1 1 0 00.86.02l2.88-1.27a3 3 0 012.43 0l2.88 1.27a1 1 0 00.85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 01-2.56.06l-2.77-1.23a1 1 0 00-.4-.09h-.01a1 1 0 00-.4.09l-2.78 1.23a3 3 0 01-2.56-.06l-2.3-1.15a1 1 0 00-.45-.11h-.01a1 1 0 00-.44.1L.9 19.22a3 3 0 01-2.69 0l-2.2-1.1a1 1 0 00-.45-.11h-.01a1 1 0 00-.44.1l-2.21 1.11a3 3 0 01-2.69 0l-2.2-1.1a1 1 0 00-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0139.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 002.69 0l1.36-.68h2.59l1.36.68a3 3 0 002.69 0L2.26 23h2.59l1.36.68a3 3 0 002.56.06l1.67-.74h3.23l1.67.74a3 3 0 002.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 110 6h-34a3 3 0 110-6zm1.35 8a6 6 0 005.65 4h20a6 6 0 005.66-4H-13.1zM284.37 16c.2.65.39 1.32.54 2h-3.74l1.17 2.34.45.9-.24.11V28a5 5 0 01-2.23 8.94l-.02.06a8 8 0 01-7.75 6h-20a8 8 0 01-7.74-6l-.02-.06a5 5 0 01-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0144.37-2zm-36.82 2a1 1 0 00-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 012.69 0l2.2 1.1a1 1 0 00.9 0l2.21-1.1a3 3 0 012.69 0l2.2 1.1a1 1 0 00.9 0l2.21-1.1a3 3 0 012.69 0l2.2 1.1a1 1 0 00.86.02l2.88-1.27a3 3 0 012.43 0l2.88 1.27a1 1 0 00.85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 01-2.56.06l-2.77-1.23a1 1 0 00-.4-.09h-.01a1 1 0 00-.4.09l-2.78 1.23a3 3 0 01-2.56-.06l-2.3-1.15a1 1 0 00-.45-.11h-.01a1 1 0 00-.44.1l-2.21 1.11a3 3 0 01-2.69 0l-2.2-1.1a1 1 0 00-.45-.11h-.01a1 1 0 00-.44.1l-2.21 1.11a3 3 0 01-2.69 0l-2.2-1.1a1 1 0 00-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0139.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 002.69 0l1.36-.68h2.59l1.36.68a3 3 0 002.69 0l1.36-.68h2.59l1.36.68a3 3 0 002.56.06l1.67-.74h3.23l1.67.74a3 3 0 002.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 110 6h-34a3 3 0 110-6zm1.35 8a6 6 0 005.65 4h20a6 6 0 005.66-4H246.9zM159.5 21.02A9 9 0 00151 15h-42a9 9 0 00-8.5 6.02 6 6 0 00.02 11.96A8.99 8.99 0 00109 45h42a9 9 0 008.48-12.02 6 6 0 00.02-11.96zM151 17h-42a7 7 0 00-6.33 4h54.66a7 7 0 00-6.33-4zm-9.34 26a8.98 8.98 0 003.34-7h-2a7 7 0 01-7 7h-4.34a8.98 8.98 0 003.34-7h-2a7 7 0 01-7 7h-4.34a8.98 8.98 0 003.34-7h-2a7 7 0 01-7 7h-7a7 7 0 110-14h42a7 7 0 110 14h-9.34zM109 27a9 9 0 00-7.48 4H101a4 4 0 110-8h58a4 4 0 010 8h-.52a9 9 0 00-7.48-4h-42zM39 115a8 8 0 100-16 8 8 0 000 16zm6-8a6 6 0 11-12 0 6 6 0 0112 0zm-3-29v-2h8v-6H40a4 4 0 00-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 00-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38zM129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 004 0zm-6-.63V104h-4v16a10.04 10.04 0 004 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0011.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 00130 126zM212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 00-.56 9.65l.06.25 1.12 4.48a2 2 0 001.94 1.52h.01l7.02 24.55a2 2 0 001.92 1.45h4.98a2 2 0 001.92-1.45l7.02-24.55a2 2 0 001.95-1.52L224.5 96l.06-.25a5 5 0 00-.56-9.65V86a14 14 0 00-28 0zm4 0h6v2h-9a3 3 0 100 6h26a3 3 0 100-6h-3v-2h2a12 12 0 10-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 100-44 22 22 0 000 44zm24-22a24 24 0 11-48 0 24 24 0 0148 0zm-28.38 17.73l2.04-.87a6 6 0 014.68 0l2.04.87a2 2 0 002.5-.82l1.14-1.9a6 6 0 013.79-2.75l2.15-.5a2 2 0 001.54-2.12l-.19-2.2a6 6 0 011.45-4.46l1.45-1.67a2 2 0 000-2.62l-1.45-1.67a6 6 0 01-1.45-4.46l.2-2.2a2 2 0 00-1.55-2.13l-2.15-.5a6 6 0 01-3.8-2.75l-1.13-1.9a2 2 0 00-2.5-.8l-2.04.86a6 6 0 01-4.68 0l-2.04-.87a2 2 0 00-2.5.82l-1.14 1.9a6 6 0 01-3.79 2.75l-2.15.5a2 2 0 00-1.54 2.12l.19 2.2a6 6 0 01-1.45 4.46l-1.45 1.67a2 2 0 000 2.62l1.45 1.67a6 6 0 011.45 4.46l-.2 2.2a2 2 0 001.55 2.13l2.15.5a6 6 0 013.8 2.75l1.13 1.9a2 2 0 002.5.8zm2.82.97a4 4 0 013.12 0l2.04.87a4 4 0 004.99-1.62l1.14-1.9a4 4 0 012.53-1.84l2.15-.5a4 4 0 003.09-4.24l-.2-2.2a4 4 0 01.97-2.98l1.45-1.67a4 4 0 000-5.24l-1.45-1.67a4 4 0 01-.97-2.97l.2-2.2a4 4 0 00-3.09-4.25l-2.15-.5a4 4 0 01-2.53-1.84l-1.14-1.9a4 4 0 00-5-1.62l-2.03.87a4 4 0 01-3.12 0l-2.04-.87a4 4 0 00-4.99 1.62l-1.14 1.9a4 4 0 01-2.53 1.84l-2.15.5a4 4 0 00-3.09 4.24l.2 2.2a4 4 0 01-.97 2.98l-1.45 1.67a4 4 0 000 5.24l1.45 1.67a4 4 0 01.97 2.97l-.2 2.2a4 4 0 003.09 4.25l2.15.5a4 4 0 012.53 1.84l1.14 1.9a4 4 0 005 1.62l2.03-.87zM152 207a1 1 0 112 0 1 1 0 01-2 0zm6 2a1 1 0 112 0 1 1 0 01-2 0zm-11 1a1 1 0 112 0 1 1 0 01-2 0zm-6 0a1 1 0 112 0 1 1 0 01-2 0zm3-5a1 1 0 112 0 1 1 0 01-2 0zm-8 8a1 1 0 112 0 1 1 0 01-2 0zm3 6a1 1 0 112 0 1 1 0 01-2 0zm0 6a1 1 0 112 0 1 1 0 01-2 0zm4 7a1 1 0 112 0 1 1 0 01-2 0zm5-2a1 1 0 112 0 1 1 0 01-2 0zm5 4a1 1 0 112 0 1 1 0 01-2 0zm4-6a1 1 0 112 0 1 1 0 01-2 0zm6-4a1 1 0 112 0 1 1 0 01-2 0zm-4-3a1 1 0 112 0 1 1 0 01-2 0zm4-3a1 1 0 112 0 1 1 0 01-2 0zm-5-4a1 1 0 112 0 1 1 0 01-2 0zm-24 6a1 1 0 112 0 1 1 0 01-2 0zm16 5a5 5 0 100-10 5 5 0 000 10zm7-5a7 7 0 11-14 0 7 7 0 0114 0zm86-29a1 1 0 000 2h2a1 1 0 000-2h-2zm19 9a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm-14 5a1 1 0 000 2h2a1 1 0 000-2h-2zm-25 1a1 1 0 000 2h2a1 1 0 000-2h-2zm5 4a1 1 0 000 2h2a1 1 0 000-2h-2zm9 0a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm15 1a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm12-2a1 1 0 000 2h2a1 1 0 000-2h-2zm-11-14a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm-19 0a1 1 0 000 2h2a1 1 0 000-2h-2zm6 5a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 01-1.7-8 3.99 3.99 0 011.88-5.18 5 5 0 013.4-6.22 3 3 0 011.46-1.05 5 5 0 017.76-3.27A30.86 30.86 0 01246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 017.76 3.27 3 3 0 011.47 1.05 5 5 0 013.4 6.22 4 4 0 011.87 5.18 4.98 4.98 0 01-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 00-.62 3.57 3 3 0 01-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 01-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 01-.07-4.67 3 3 0 001.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 10-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 00-1.11-.77 3 3 0 014-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 014.01 2 3 3 0 00-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 10-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 001.57-1.99 3 3 0 01-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 01-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 01-.6 4.2zM275 214a29 29 0 00-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 007.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 01-2 2 2 2 0 01-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 006.19 2.4A13.94 13.94 0 0184 185v24a6 6 0 01-6 6h-3v9a5 5 0 11-10 0v-9h-3a6 6 0 01-6-6v-24a14 14 0 0114-14 5 5 0 005 5zm-17 15v12a1.99 1.99 0 001.22 1.84 2 2 0 002.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 01-5.35 3.77 3.98 3.98 0 01-.65-.3V209a4 4 0 004 4h16a4 4 0 004-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 01-5.2-3 7 7 0 01-6.47-4.88A12 12 0 0058 185v6zm9 24v9a3 3 0 106 0v-9h-6zM-17 191a1 1 0 000 2h2a1 1 0 000-2h-2zm19 9a1 1 0 011-1h2a1 1 0 010 2H3a1 1 0 01-1-1zm-14 5a1 1 0 000 2h2a1 1 0 000-2h-2zm-25 1a1 1 0 000 2h2a1 1 0 000-2h-2zm5 4a1 1 0 000 2h2a1 1 0 000-2h-2zm9 0a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm15 1a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm12-2a1 1 0 000 2h2a1 1 0 000-2H4zm-11-14a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm-19 0a1 1 0 000 2h2a1 1 0 000-2h-2zm6 5a1 1 0 011-1h2a1 1 0 010 2h-2a1 1 0 01-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 01-1.7-8 3.99 3.99 0 011.88-5.18 5 5 0 013.4-6.22 3 3 0 011.46-1.05 5 5 0 017.76-3.27A30.86 30.86 0 01-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 017.76 3.27 3 3 0 011.47 1.05 5 5 0 013.4 6.22 4 4 0 011.87 5.18 4.98 4.98 0 01-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 00-.62 3.57 3 3 0 01-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 01-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 01-.07-4.67 3 3 0 001.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 10-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 00-1.11-.77 3 3 0 014-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 014.01 2 3 3 0 00-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 10-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 001.57-1.99 3 3 0 01-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 01-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 01-.6 4.2zM15 214a29 29 0 00-57.97 0h57.96z'/%3E%3C/g%3E%3C/svg%3E");

</style>

