<template>
  <q-page class="page-user-profile-reviews page-profile">
    <user-profile-reviews/>
  </q-page>
</template>

<script>
  import UserProfileReviews from "../../../components/user/profile/UserProfileReviews";
  export default {
    name: 'PageUserProfileReviews',
    components: {UserProfileReviews}
  }
</script>

<style lang="stylus" scoped>

</style>
