<template>
  <q-page class="page-user-profile-followings page-profile">
    <user-profile-followers type="followings"/>
  </q-page>
</template>

<script>

  import UserProfileFollowers from "../../../components/user/profile/UserProfileFollowers";
  export default {
    name: 'PageUserProfileFollowings',
    components: {UserProfileFollowers},
  }
</script>

<style lang="stylus" scoped>

</style>
