<template>
  <q-page class="page-user-profile-preference page-profile">
    <user-profile-preference-container :profile="$profile"/>
  </q-page>
</template>

<script>
  import UserProfilePreferenceContainer from "../../../components/user/profile/UserProfilePreferenceContainer";


  export default {
    name: 'PageUserProfilePreference',
    components: {UserProfilePreferenceContainer},
  }
</script>

<style lang="stylus" scoped>

</style>
