<template>
  <q-page class="page-user-profile-likes page-profile">
    <user-profile-movie-rating/>
  </q-page>
</template>

<script>
  import UserProfileMovieRating from "../../../components/user/profile/UserProfileMovieRating";


  export default {
    name: 'PageUserProfileLikes',
    components: {UserProfileMovieRating},

  }
</script>

<style lang="stylus" scoped>

</style>
