<template>
  <q-page class="page-user-profile">
    <div class="container">
      <user-profile-bg :profile="profile"/>
      <user-profile-tabs :tabs="tabs" :profile="profile"/>
      <router-view />
    </div>
  </q-page>
</template>

<script>
  import UserProfileBg from "../../../components/user/profile/UserProfileBg";
  import {mapActions} from 'vuex'
  import {createHelpers} from 'vuex-map-fields'
  import UserProfileTabs from "../../../components/user/profile/UserProfileTabs";
  const {mapFields} = createHelpers({
      getterType: 'projectFields',
  });

  export default {
    name: 'PageUserProfile',

    components: {UserProfileTabs, UserProfileBg},

    beforeRouteEnter (to, from, next) {
      next(vm => {
        // экземпляр компонента доступен как `vm`
        vm.getProfile(to.params.slug);
        vm.getProfileTabs(to.params.slug);
      })
    },

    computed: {
      ...mapFields('user', ['profile', 'tabs']),
    },

    methods: {
      ...mapActions('user', ['getProfile', 'getProfileTabs']),
    },

    watch: {
      '$route': function (to) {
        this.getProfile(to.params.slug);
        this.getProfileTabs(to.params.slug);
      }
    },
  }
</script>

<style lang="stylus" scoped>
  .page-user-profile
    padding 20px 0 50px 0
</style>
