<template>
  <div id="q-app" :class="$mq">
    <router-view/>
  </div>
</template>

<script>
  import {colors} from 'quasar'

  export default {
    name: 'App',

    mounted() {
      if (this.$q.localStorage.has('color1')) {
        let color = this.$q.localStorage.getItem('color1');
        colors.setBrand('primary', color.primary);
        colors.setBrand('secondary', color.secondary);
        colors.setBrand('accent', color.accent);
      }
      if(this.$q.localStorage.has('theme') && this.$q.localStorage.getItem('theme') === 'dark'){
        this.$q.dark.set(true)
      }else {
        this.$q.dark.set(false)
      }
    }
  }
</script>
