<template>
  <div class="movie-mobile-actors">
    <h2>В главных ролях</h2>
    <q-carousel
      v-model="slide"
      transition-prev="slide-right"
      transition-next="slide-left"
      animated
      swipeable
    >
      <q-carousel-slide class="q-pa-none" v-for="row,k in itemsData" :name="k" :key="k">
          <div class="row">
            <div class="col-xs-6 flex flex-center" v-for="item in row">
              <movies-actor-card :item="item"/>
            </div>
          </div>
      </q-carousel-slide>
    </q-carousel>
  </div>
</template>

<script>
  import Flickity from "vue-flickity";
  import {mapActions} from 'vuex'
  import MoviesActorCard from "../../MoviesActorCard";

  export default {
    name: 'MovieMobileActors',
    components: {MoviesActorCard, Flickity},

    data() {
      return {
        slide:0,
        items: [],
        flickityOptions: {
          //initialIndex: 1,
          prevNextButtons: false,
          groupCells: 2,
          pageDots: false,
          freeScroll: true,
          lazyLoad: true,
          cellAlign: 'left',
          contain: true
          // any options from Flickity can be used
        },
      }
    },

    computed: {
      itemsData() {
        return _.chunk(this.items, 2);
      }
    },

    methods: {
      ...mapActions('movies', ['getMoviesActors']),
    },

    created() {
      this.getMoviesActors(this.$movie.filmID).then(response => {
        this.items = response
      })
    }
  }
</script>

<style lang="stylus">
  .movie-mobile-actors
    margin-top 20px
    margin-bottom 20px
    position relative
    h2
      font-size 16px
    .movies-card-slide-item
      width 190px
    .carousel-cell
      margin-right 20px
      width 100px
    .q-carousel
      background transparent
      box-shadow none
      height 300px
</style>
