<template>
  <div class="movie-mobile-poster" v-if="$movie">
    <div class="img">
      <q-img
        :src="$movie.bigPosterURL"
        spinner-color="white"
        class="mmb"
        :class="$mq"
      >
      </q-img>
    </div>
    <div class="poster">
      <div class="row">
        <div class="col-xs-6">
          <q-img
            :src="$movie.bigPosterURL"
            spinner-color="white"
            class="poster-img"
            :class="$mq"
          />
        </div>
        <div class="col-xs-6 flx">
          <movies-play-button :item="$movie"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MoviesPlayButton from "../../MoviesPlayButton";
  export default {
    name: 'MovieMobilePoster',
    components: {MoviesPlayButton}
  }
</script>

<style lang="stylus" scoped>
  .movie-mobile-poster
    .img
      position relative
      overflow hidden
      .mmb
        height 250px
        width 100%
        filter blur(2px)
      &:before
        background white
        content ""
        position absolute
        left -1px
        top 0
        width 101%
        height 101%
        z-index 1
        clip-path polygon(0 40%, 100% 74%, 100% 100%, 0% 100%);
    .poster
      padding 15px
      position absolute
      width 100%
      margin-top -245px
      z-index 1
      .poster-img
        box-shadow $shadow-4
        height 250px
    .flx
      display flex
      align-items flex-end
      justify-content center
</style>
