<template>
  <div class="movie-mobile-info" v-if="$movie">
    <h1>{{$movie.nameRU}}</h1>
    <div class="inf"><b>{{$movie.year}}</b> &bull; {{$movie.nameEN}}</div>
    <div class="inf"><b>{{$movie.country}}</b> &bull; {{$movie.genre}}</div>
    <div class="inf"><b>Режисер</b> &bull; {{$movie.director.nameRU}}</div>
    <div class="likes">
      <movie-like-buttons dot class="mst">
        <movies-sett slot="lls" :item="$movie"/>
      </movie-like-buttons>
    </div>
    <div class="desc" v-html="$movie.description"></div>
    <movie-mobile-actors/>
    <movie-block-spf/>
    <movie-block-similsr/>
    <movie-block-from-producer/>
    <movie-block-comments/>
  </div>
</template>

<script>
  import MovieLikeButtons from "../MovieLikeButtons";
  import MoviesSett from "../../MoviesSett";
  import MovieBlockSpf from "../MovieBlockSpf";
  import MovieBlockSimilsr from "../MovieBlockSimilsr";
  import MovieBlockFromProducer from "../MovieBlockFromProducer";
  import MovieBlockComments from "../MovieBlockComments";
  import MovieMobileActors from "./MovieMobileActors";

  export default {
    name: 'MovieMobileInfo',
    components: {
      MovieMobileActors,
      MovieBlockComments,
      MovieBlockFromProducer, MovieBlockSimilsr, MovieBlockSpf, MoviesSett, MovieLikeButtons}
  }
</script>

<style lang="stylus">
  .movie-mobile-info
    padding 15px
    margin-top 30px
    h1
      font-size 20px
    .likes
      padding 15px 0
    .mst
      .movie-like-buttons_movie
        justify-content space-between
        .movie-like-buttons_btn:last-child
          margin 0
        .movies-sett
          margin 0
</style>
