<template>
  <q-layout :view="$showTopMenuAlways ? 'hHh lpR lff' : 'lhh lpR lff'" class="bg-grey-2 text-dark"
            @scroll="scrollHandler">

    <mq-layout mq="mdl+">
      <q-header :reveal="$showTopMenuAlways" class="bg-transparent text-dark">
        <q-toolbar style="min-height: 54px" :class="[$showTopMenuAlways ? 'bg-grey-2' : 'bg-white shadow-4']">
          <header-toolbar/>
        </q-toolbar>
        <q-toolbar :class="[$showTopMenuAlways ? 'bg-grey-2' : 'bg-transparent']" style="min-height: 1px">
          <transition
            appear
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut"
          >
            <menu-main1  v-if="$showTopMenu && $showTopMenuAlways === false"/>
            <menu-main1 v-if="$showTopMenuAlways === true"/>
          </transition>
        </q-toolbar>
      </q-header>
    </mq-layout>

    <mq-layout :mq="['sm', 'xs']">
      <q-header reveal  class="bg-transparent text-dark">
        <q-toolbar style="min-height: 54px" class="bg-white shadow-4">
          <header-toolbar-mobile @openLeftMenu="left = true"/>
        </q-toolbar>
      </q-header>
      <q-drawer v-model="left" side="left" :class="$mq" overlay behavior="mobile" elevated>
        <menu-moble-header @closeLeftMenu="left = false"/>
        <menu-mobile-left :left="left"/>
      </q-drawer>
    </mq-layout>


    <q-page-container>
      <router-view/>
    </q-page-container>

    <q-footer elevated class="bg-secondary text-white">
      <footer-logo/>
      <!--<footer-toolbar/>-->
      <q-toolbar class="bg-accent">
        <footer-cotyrigth/>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
  import HeaderToolbar from "../components/header/HeaderToolbar";
  import MenuMain from "../components/menu/MenuMain";
  import FooterCotyrigth from "../components/footer/FooterCotyrigth";
  import FooterLogo from "../components/footer/FooterLogo";
  import FooterToolbar from "../components/footer/FooterToolbar";
  import HeaderToolbarMobile from "../components/header/HeaderToolbarMobile";
  import MenuMobleHeader from "../components/menu/MenuMobleHeader";
  import MenuMobileLeft from "../components/menu/MenuMobileLeft";
  import MenuMain1 from "../components/menu/MenuMain1";

  export default {
    components: {
      MenuMain1,
      MenuMobileLeft,
      MenuMobleHeader,
      HeaderToolbarMobile, FooterToolbar, FooterLogo, FooterCotyrigth, MenuMain, HeaderToolbar},
    data() {
      return {
        left: false
      }
    },

    methods: {
      scrollHandler(info) {
        this.$root.$emit('scrollLayout', info)
      }
    },
  }
</script>
